/* accounts/templates 에서 사용되는 CSS */
@media screen and (max-width: 769px) {
  /* ##### signup.html 시작 ##### */
  .add_info_select_signup{
		margin-bottom: 10px;
		padding-left: 10px;
		background-color: #fff;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 500;
		width: 96%;
		height: 35px;
		border-radius:10px;
		color:#a0a0a0;
  }
  .add_info_phone_signup{
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #D1D6DA;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    height: 35px;
    border-radius: 10px;
  }
  .add_info_phonecode_signup{
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #D1D6DA;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 25%;
    height: 35px;
    border-radius: 10px;
  }
  .phone_code_btn_signup{
    float:right;
    margin-top: 1px;
    margin-right: 12px;
    width: 73px;
    height: 35px;
    background: #93bcf9;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    border: 0px;
    border-radius: 1px;
    color: white;
    border-radius: 10px;
        line-height: 35px;
  }
  .phone_code_btn_signup:disabled{
    float:right;
    margin-top: 1px;
    margin-right: 12px;
    width: 73px;
    height: 35px;
    background:#a0a0a0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    border: 0px;
    border-radius: 1px;
    color: white;
    border-radius: 10px;
  }
  .signup-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 50px;
    margin-top:40px;
    background:#93bcf9;
    border:0px;
    border-radius:10px;
    color:white;
    line-height: 50px;
  }
  .signup-btn:disabled{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 50px;
    /*margin-top:20px;*/
    background:#a0a0a0;
    border:0px;
    border-radius:10px;
    color:white;
  }
  .count-signup{
    padding-top: 9px;
    position: relative;
    width: 30px;
  }
  /* ##### signup.html 끝 ##### */

  /* ##### login.html 시작 ##### */
  .logo-wrap{
		padding-top: 50px;
		width: 100%;
  }
  .kakao-login-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    font-weight: bold;
    background-color:#FAE100;
    border:none;
    width:100%;
    height:45px;
    margin-bottom: 15px;
    line-height: 35px;
    padding-right: 50px;
  }
  .naver-login-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    font-weight: bold;
    background-color:#03C75A;
    border:none;
    width:100%;
    height:45px;
    margin-bottom: 15px;
    line-height: 35px;
    color: #fff;
    padding-right: 50px;
  }
  .google-login-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    font-weight: bold;
    background-color:#CCCACA;
    border:none;
    width:100%;
    height:45px;
    margin-bottom: 15px;
    line-height: 35px;
    padding-right: 50px;
  }
  /* ##### login.html 끝 ##### */

  /* ##### home.html 시작 ##### */
  /* 홈화면-추가동의페이지관련 css */
	.add_info_title{
		font-weight: 500;
  }
  .add_info_input{
		margin-bottom: 10px;
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 100%;
		height: 35px;
		border-radius:10px;
  }
  .add_info_phone{
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #D1D6DA;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 84%;
    height: 35px;
    border-radius:10px;
  }
  .phone_code_btn{
		width: 50px;
		height: 35px;
		background:#93bcf9;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		vertical-align: top;
		border:0px;
		border-radius:1px;
		color:white;
		border-radius:10px;
  }
  .phone_code_btn:disabled{
		background:#a0a0a0;
		border-radius:10px;
  }
  .add_info_phonecode{
		margin-bottom: 10px;
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 84%;
		height: 35px;
		border-radius:10px;
  } 
  .add_info_content{
    margin: 15px 0;
  }
  .add_info_select{
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #D1D6DA;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    width: 99%;
    height: 35px;
    border-radius:10px;
    color:#a0a0a0;
  }
  .count{
		right: 150px;
    padding-top: 5px;
    position: absolute;
    width: 30px;
  }
  .access_btn{
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		vertical-align: middle;
		width:100%;
		height: 50px;
		margin-top:40px;
		background:#93bcf9;
		border:0px;
		border-radius:10px;
		color:white;
		border-radius:10px;
  }
.access_btn:disabled{
		background:#a0a0a0;
}

  /* home.html */
  .home-wrap{
		padding: 0 20px;
	}
	.home-title{
		width: 100%;
		padding: 25px 20px 10px 20px;
		font-weight: 400;
		font-size: 18pt;
	}
  .home-spand-div{
		padding: 0 20px 20px 20px;
		margin-bottom: 25px;
		width: 100%;
		height: 200px;
		color: #3d3d3d;
		border-bottom: 1px solid #e2e2e2;
	}
  .chart-legend2{
    border: 1px solid #ddd;
    border-radius: 5px;
    width:290px;
    padding:5px;
    position: absolute;
    top:16%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
	.home-spand-title,.home-stock-title
	,.home-property-title{
		font-weight: 400;
		font-size: 20pt;
	}
	.home-spand-dateView{
		color: #FFF;
		font-size:14px;
		float: right;
	}
	.home-spand-input{
		margin-top: 25px;
		text-align: center;
		font-weight: bold;
		font-size: 20pt;
	}
	.home-spand-buttons,.home-stock-buttons{
		margin-top: 25px;
		text-align: center;
	}
	.home-spand-button,.home-stock-button{
		border: none;
		font-weight: 400;
		font-size: 12pt;
		background-color: #93bcf9;
		border-radius:10px;
		width: 100px;
		height: 40px;
		color:white;
	}
	.home-stock-div{
		padding: 0 20px 20px 20px;
    margin-bottom: 25px;
    width: 100%;
    height: 200px;
    color: #3d3d3d;
    border-bottom: 1px solid #e2e2e2;
	}
  .home-stock-input{
		margin-top: 10px;
		text-align: center;
		font-weight: bold;
		font-size: 20pt;
	}
	.home-stock-input2{
		margin-top: 0px;
		text-align: center;
		font-weight: bold;
		font-size: 10pt;
		color:#FF5d51;
	}
	.home-property-div{
		padding: 0 20px 20px 20px;
    margin-bottom: 25px;
    width: 100%;
    height: 220px;
    color: #3d3d3d;
    border-bottom: 1px solid #e2e2e2;
	}
	.home-property-contentsWrap{
		text-align: center;
		margin: 0 auto;
	}

  /* ##### home.html 끝 ##### */
}