/* admins/templates 에서 사용되는 CSS */
@media screen and (max-width: 769px) {
/* ###### notice.html,faq.html,faq_detail.html 시작 부분 ##### */

  .fa-angle-left{
    /* 상단 뒤로가기 버튼 */
    position: absolute;
    left: 5px;
    padding: 14px 15px;
    top: 0;
    font-size: 25px;
    color: #1a1a1a;
  }

  .notice-wrap{
    /* 공지사항 영역 */
    padding: 5px;
  }

  	/* 공지사항 페이지 */
	.notice-contents{
			background-color: #fff;
			margin: 10px 0;
			padding: 10px;
			border-bottom: 1px solid #f1f1f1;
			width:100%;
		}
	.notice-title{
			font-size:16px;
			color:#2a2a2a;
			font-weight: 500;
		}
	.notice-date{
			font-size:10px;
			color:gray;
			font-weight: 400;
		}
	.notice-detail-titlewrap{
			padding:10px;
			border-bottom:1px solid #ddd;
		}

		.notice-detail-title{
			font-size:16px;
			color:#2a2a2a;
			font-weight: 500;
		}
		.notice-detail-date{
			font-size:12px;
			color:gray;
			font-weight: 400;
		}
		.notice-detail-content{
			padding:10px 10px 20px 10px;
		}
/* ###### notice.html,faq.html,faq_detail.html 끝 ##### */

/* ###### invest.html 시작 부분 ###### */
	.invest-wrap{
		padding:20px;
		margin:50px 20px 0 20px;
		text-align:center;
		height:100%;
		align-items:center;
  }

	.invest-setup{
		width:100%;
		background-color:#93bcf9;
		padding:30px 10px 30px 10px;
		border-radius:10px;
		color:white;
  }

	.setup_content{
		display:flex;
		flex-direction:column;
		padding-top:20px;
  }

	.setup-content-row1,
	.setup-content-row2,
	.setup-content-row3{
		width:100%;
		display:flex;
		justify-content: space-between;
		padding: 10px;
	}

	.setup-content-row1-1,
	.setup-content-row2-1,
	.setup-content-row3-1{
		width:40%;
		display:inline-block;
	}

	.changeinvest-wrap{
		text-align:center;
		margin:0 auto;
		position:fixed;
		bottom:15px;
		width:100%;
		display:flex;
	}

	.changeinvest_btn{
		padding:10px 30px 10px 30px;
		width:80%;
		border-radius:10px;
		color:white !important;
		background-color:#93bcf9;
		border: 0;
  }
/* ###### invest.html 끝 부분 ###### */

/* ###### edit_myinfo.html 시작 부분 ###### */
	.editInfo-wrap{
		padding:20px;
	}

	.input_design{
		margin-bottom:30px;
		margin-top:10px;
  }

	.input_title{
		width:30%;
		font-size:12px;
		color:grey;
  }

	.changeInfo-btn{
		padding:10px 30px 10px 30px;
		width:80%;
		border-radius:10px;
		color:white !important;
		background-color:#93bcf9;
		border: none;
	}
/* ###### edit_myinfo.html 끝 부분 ###### */

/* ###### input_pin.html 시작 부분 ###### */
	.pin-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.pin-btn-wrap{
		text-align:center;
		margin-top:35px;
		position:fixed;
		bottom:15px;
		width:100%;
		left:0px;
	}
  .pin-btn {
    padding: 10px 30px 10px 30px;
    width: 80%;
    border-radius: 10px;
    color: white !important;
    background-color: #93bcf9;
		border: none;
  }
/* ###### input_pin.html 끝 부분 ###### */

}