/* calendars/templates 에서 사용되는 CSS */
@media screen and (max-width: 769px) {
/* ###### 공통 부분 ##### */
/* 페이지 네이션 관련 css */
  .pagenation{
    background-color: lightgrey;
    z-index: 10;
    padding:0;
    bottom: 70px;
    left: 50%;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    width: 70%;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
    transform: translate(-50%, 0);
  }
  .pagenation li{
    padding-top: 2px;
    font-weight: 500;
    border-radius: 20px;
    width : 32%;
    height: 30px;
    display:inline-block;
  }

  /* Modal 관련 CSS */
	.modal-content{
		margin-top: 50px;
		border-radius: 30px;
	}

	.modal-title{
		font-size:20px;
		text-align:left;
	}

	.modal-header{
		border-bottom: none;
	}

	.modal-body-text{
		margin: 10px 20px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12px;
		font-weight: 400;
	}
    .modal-body-kind{
    display: inline-block;
    text-align: left;
    font-size:16px;
    }
    .modal-body-amount{
    float:right;
    display:inline-block;
    font-size:16px;
    }

	.modal-footer{
		border-top: none;
		display: block;
		text-align: center;
	}
  .ajaxModalWrap{
    width:100%;
    height:35px;
    justify-content: space-between;
    display:flex;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    margin-bottom: 5px;
  }

  .ajaxTableWay{
    text-overflow: ellipsis;
  }

  /* 요약페이지 (summary.html) */
  .money-info-wrap{
		margin: 5%;
		padding: 1px;
		text-align: left;
		background: #93bcf9;  /* Chrome 10-25, Safari 5.1-6 */
		border-radius: 15px;
  }

  .money-info-container{
    padding-top: 10px;
  }

  .money-info-title{
    font-size: 16pt;
    font-weight: 400;
    color:#FFF;
    margin-top:10px;
    padding-left:15px;
  }

  .amountMoney{
    text-align:center;
    padding-left:15px;
    margin-top:7px;
  }

  .amount-money{
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 1px #9f9f9f;
    border-radius: 10px;
    width: fit-content;
    padding: 0 10px;
    color:#3A3A3A;
    font-size: 25px;
    font-weight:bold;
    margin-right: 5px;
  }

  .amount-won{
		font-size:20px;
		font-weight:bold;
		color: #fff;
  }

  .spend-income-wrap{
    text-align:initial;
    padding-top:10px;
    padding-left:16px;
  }

  .spend-income-content{
    margin-top:10px;
    margin-bottom:10px;
  }

	.addList-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #93bcf9;
	}

  /* Fullcalendar 관련 css */
  .fc-toolbar-chunk{
      display: flex;
  }

  .cal-container{
    background-color:#fff;
    border-radius: 20px !important;
    min-height: 465px;
    padding-bottom:30px;
    margin: 20px 20px 45px 20px !important;
  }

  .fc-prev-button.fc-button.fc-button-primary,
  .fc-next-button.fc-button.fc-button-primary{
    background-color: transparent;
    border-color: transparent;
    color: #93bcf9;
    margin: 0;
  }

  .fc-prev-button.fc-button.fc-button-primary:hover,
  .fc-next-button.fc-button.fc-button-primary:hover,
  .fc-prev-button.fc-button.fc-button-primary:active,
  .fc-next-button.fc-button.fc-button-primary:active{
    background-color: transparent;
    border-color: transparent;
    color: #4C8AE5;
    font-weight: bold;
    transition: 0.5s;
    margin: 0;
    border-color: transparent;
  }
  
  .fc-view-harness.fc-view-harness-active{
    border-radius: 10px;
    /*box-shad.ow: 2px 3px 4px 1px rgb(202, 202, 202);*/
  }

  .fc-toolbar-title{
    font-weight: blod;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
  }

  .fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: black;
  }

  .fc-event-title-container{
    text-align: end;
  }

  .fc-day-sun {
    color:#FF0000;
  }

  .fc-day-sun a{ color:#FF0000; }
  .fc-day-sat { color:blue; }
  .fc-day-sat a{ color:blue; }
  
  /*End Fullcalendar CSS*/


  /* 내역페이지(history.html) */
  .gotoday_btn,.prev_btn,.next_btn,.prev_btn i,.next_btn i{
    color: #3a3a3a;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .filter-menu{
    width: 95%;
		background-color:#fff;
		border-radius:10px;
		margin: 10px 10px 20px 10px;
		padding:10px 15px;
		border: 1px solid #ebebeb;
  }

  .search-date{
    text-align: center;
    border:1px solid #adadad;
    border-radius: 5px;
    width:47%;
    height:30px;
    background:white;
  }

  .search-btn{
    margin: 25px 0 5px 0;
    width: 98%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #93bcf9;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
  }

  /* 내역 상세 페이지 */
  .gotoday_btn,.prev_btn,.next_btn,.prev_btn i,.next_btn i{
    color: #3a3a3a;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .th-month-title{
    text-align: right;
    vertical-align: bottom;
    border-left: none;
    border-right: none;
    /*border-top:  1px solid #dddddd;*/
    border-bottom:  1px solid transparent;
    color:#3a3a3a;
    font-size: 25px;
    font-weight: 500;
  }
  .th-month-title2{
    border-left: none;
    border-right: none;
    /*border-top:  1px solid #dddddd;*/
    border-bottom:  1px solid transparent;
  }

  .addevent-btn{ /* 내역추가하기 */
		border-radius: 50%;
		background-color: #93bcf9;
		font-size: 35px;
		width: 45px;
		height: 45px;
		line-height: 30px;
		display: table;
		position: fixed;
		float: right;
		bottom: 50px;
		margin-bottom: 4rem;
		right: 15px;
		text-align: center;
		z-index: 10;
	}

  .list-table{ /* 히스토리 페이지 내역 테이블 */
		width: 95%;
    background-color:#fff;
    border-radius:10px;
    margin: 0px 10px 0px 10px;
    padding:0 20px 60px 20px;
    border-collapse:separate;
    border-spacing:0 20px;
  }

  .date_title-th{
    text-align:left;
    padding-left:5px;
    border-bottom:1px solid #dddddd;
  }

  .date_title-th img {
    margin-right: 5px;
    width:20px;
    height:20px;
    vertical-align:middle;
  }

  .date_title-th a {
    font-weight: 100;
    color:#3a3a3a;
    font-size:20px;
    vertical-align: inherit;
  }

  .date_title-total{
    text-align:right;
    font-size:13px;
    border-bottom:1px solid #dddddd;
    vertical-align: middle;
  }

  .date_title-totalIncome{
    font-weight: bold;
    font-size:10pt;
    margin-right:5px;
    color: #4c8ae5;
  }

  .date_title-totalSpend{
    font-weight: bold;
    font-size:10pt;
    margin-right:5px;
    color: #ff5d51;
  }

  .date_list_category{
    font-weight:400;
    font-size:12pt;
    color: #3a3a3a;
    display:block;
  }

  /* TOP5 페이지 */
  .myPattern-wrap{ /* 나의 소비패턴 */
    background-color:#fff;
    margin:20px 5% 40px 5%;
    padding: 10px;
  }
  .myPattern-title,
  .spendTop5-title,
  .categoryCountTop5-title{
    text-align:left;
    font-weight: bold;
    font-size:16pt;
  }

  .myPattern-a{
    font-weight:bold;
    color:#3a3a3a;
  }

  .spendTop5-wrap{
    background-color:#fff;
    margin:20px 5% 40px 5%;
    padding: 10px;
  }

  .spendTop5-tableTitle{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:50px;
    text-align: left;
  }

  .spendTop5-tableTitle a{
    font-weight:bold;
    color:#3a3a3a;
  }

  .categoryCountTop5{
    background-color:#fff;
    margin:20px 5% 40px 5%;
    padding: 10px;
  }

  /* 수입내역 작성하기 */
  .addEvent-wrap{
    background-color: #fff;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 768px;
    height: 100%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 2px 3px 4px 1px rgb(202, 202, 202);
    border-radius: 15px;
    padding: 15px;
  }
  .list{
    text-align: center;
  }
  .span_list_title{
    color: #1a1a1a;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .input_span{
    width: 230px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    /* ios 기능 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;
  }

  .span_list_select{
    padding-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width:230px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
    font-size:15px;
    /* ios 기능 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(202, 202, 202);
  }

  .input_textarea{
    width: 230px;
    height:150px;
    overflow:visible;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    resize: none;
    /* ios 기능 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  
  .addBtn{
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #93bcf9;
    margin-top: 20px;
  }
}