/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
@media screen and (max-width: 769px) {
	a {
		color:#202020;
        text-decoration:none;
        text-decoration-line: none;
	}

	a:link, a:visited, a:hover, a:active {
	text-decoration:none;
			text-decoration-line: none;
			color:#202020;
	}

	html{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		/*font-size: 62.5%;*/ /* 기본 폰트 10px로 고정*/
	}

	body{
		max-width: 1024px;
		height: 100%;
		scrollbar-width: none;
		-ms-overflow-style: none;
		font-family: 'Noto Sans KR', sans-serif;
		background:white;
		/* no drag */
		-webkit-touch-callout: none !important;
		-webkit-user-select: none !important;
		-khtml-user-select: none !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		user-select: none !important;
	}

	body::-webkit-scrollbar{
		display: none;
	}

		input:focus {outline: none;}
    select:focus {outline: none;}
    textarea:focus {outline: none;}
    input{-webkit-appearance: none;
    -webkit-border-radius: 0;
    }
    select{-webkit-appearance: none;
    -webkit-border-radius: 0;}
    textarea{-webkit-appearance: none;
    -webkit-border-radius: 0;}
		input[type="date"]{
			-webkit-appearance: textfield;
			-moz-appearance: textfield;
			min-height: 1.2em;
    }
		::-webkit-scrollbar{
    	display:none;
		}
	li{
		font-family: 'Noto Sans KR', sans-serif;
	}

	.loader-main{
		position: fixed;
		top: 50px;
		left: 0px;
		right: 0px;
		bottom: 55px;
		background-color: #F3F4F6;
		will-change: opacity;
		transition: all 250ms ease;
		z-index: 90;
	}

    .la-ball-clip-rotate,
    .la-ball-clip-rotate > div {
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .la-ball-clip-rotate {
        display: block;
        font-size: 0;
        color:#93bcf9;
        margin: 0 auto;
        top: 46%;
    }
    .la-ball-clip-rotate.la-dark {
        color: #333;
    }
    .la-ball-clip-rotate > div {
        display: inline-block;
        float: none;
        background-color: currentColor;
        border: 0 solid currentColor;
    }
    .la-ball-clip-rotate {
        width: 40px;
        height: 40px;
    }
    .la-ball-clip-rotate > div {
        width: 40px;
        height: 40px;
        background: transparent;
        border-width: 3px;
        border-bottom-color: transparent;
        border-radius: 100%;
        -webkit-animation: ball-clip-rotate .75s linear infinite;
        -moz-animation: ball-clip-rotate .75s linear infinite;
        -o-animation: ball-clip-rotate .75s linear infinite;
        animation: ball-clip-rotate .75s linear infinite;
    }
    .la-ball-clip-rotate.la-sm {
        width: 16px;
        height: 16px;
    }
    .la-ball-clip-rotate.la-sm > div {
        width: 16px;
        height: 16px;
        border-width: 1px;
    }
    .la-ball-clip-rotate.la-2x {
        width: 64px;
        height: 64px;
    }
    .la-ball-clip-rotate.la-2x > div {
        width: 64px;
        height: 64px;
        border-width: 4px;
    }
    .la-ball-clip-rotate.la-3x {
        width: 96px;
        height: 96px;
    }
    .la-ball-clip-rotate.la-3x > div {
        width: 96px;
        height: 96px;
        border-width: 6px;
    }
    /*
     * Animation
     */
    @-webkit-keyframes ball-clip-rotate {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
    @-moz-keyframes ball-clip-rotate {
        0% {
            -moz-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        50% {
            -moz-transform: rotate(180deg);
                transform: rotate(180deg);
        }
        100% {
            -moz-transform: rotate(360deg);
                transform: rotate(360deg);
        }
    }
    @-o-keyframes ball-clip-rotate {
        0% {
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        50% {
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        100% {
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes ball-clip-rotate {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

/* ##################################################################################################################### */
/* ##################################################### base.html ##################################################### */
/* ##################################################### 시작 부분 ##################################################### */
/* ##################################################################################################################### */
	#wrap{
        position: relative;
    }

	#nav{
        max-width: 768px;
        height: 50px;
        background: -webkit-linear-gradient(to right, #31BC8A, #4C8AE5);  /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background:white;
        line-height:50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        border-bottom:1px solid #f1f1f1;
    }

	#container{
		background-color: white;
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
        padding-top: 50px;
        padding-bottom: 55px;
        height:calc( 100% - 110px );
        overflow: auto;
        overflow-x: hidden !important;
    }

    #container::-webkit-scrollbar{
        display: none; /* Chrome, Safari, Opera */
    }

    #footer{
        max-width: 768px;
        position: fixed;
        background-color: white;
        border-radius : 1rem 1rem 0 0 ;
        box-shadow: 0 3px 5px 3px rgb(202, 202, 202);
        z-index: 1024;
        left: 0;
        right: 0;
        bottom: 0;
        height: 55px;
    }

	.logo-logo{
		font-size: 100px;
	}
	.form_errors_view{
		padding: 10px;
		width: 100%;
	}
	.login-wrap{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		padding: 5px 15px;
		margin: 0rem auto 0 auto;
		width: 100%;
		position: relative;
		/*border: 1px solid black;*/
		border-radius: 10px;
	}
	.id-input{
		width: 100%;
		height: 50px;
		color: #8e8e8e;
		/*margin-top: 0.5rem;*/
		margin-bottom: 1rem;
		border:none;
		border-bottom: 1px solid #93bcf9;
		background-color: #F5F5F5;
		padding-left: 10px;
	}
	.pw-input{
		width: 100%;
		height: 50px;
		color: #8e8e8e;
		margin-bottom: 1rem;
		border:none;
		border-bottom: 0.8px solid #93bcf9;
		background-color: #F5F5F5;
		padding-left: 10px;
	}
	.login-btn{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 2rem;
		font-weight: bold;
		color: #fff;
		margin: 10px auto 10px auto;
		width: 100%;
		height: 50px;
		background: #93bcf9;  /* fallback for old browsers */
		border-radius: 10px;
		border: none;
		outline: none;
	}
	.sns-login-wrap{
		padding: 0 10px;
		margin-top: 3rem;
		width: 100%;
	}
	.sns-login-wrap a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.4rem;
		font-weight: 500;
		color: #BDBDBD;
	}
	.sign-button-list{
		list-style: none;
		display: flex;
		text-align: center;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		padding-left: 0px;
	}

	.sign-button-list button{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		width: 50px;
		height: 50px;
		margin: 0.5rem auto;
		border-radius: 50px;
		border: 1px solid #BDBDBD;
		outline: none;
	}
	.sign-button-list i{
		font-size: 2rem;
	}
	.main-wrap{
		width: 100%;
		align-items:center;
		position: relative;
	}

	.fa-comment{
		color:#343740;
	}

	.naver-btn{
		background-attachment:initial;
		text-align: center;
		vertical-align: middle;
		width: 26px;
		height: 26px;
	}

	.Easy-sgin-in-wrap .sign-button-list li button span{
		padding-left: 20px;
		font-size: 18px;
	}
	.Easy-sgin-in-wrap .forget-msg{
		color:var(--font-color);
		font-size: 14px;
		padding-top: 10px;

	}

	/* 홈화면 css */
.add_info_year{
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 100%;
		height: 35px;
		border-radius:10px;
}
	.home-chart{
		position: relative;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 25px;
	}
	.chart_text{
		position: absolute;
		font-size: 18pt;
		font-weight: bold;
		left: 40%;
		bottom: 105px;
	}


		.summary-nodata-wrap{
			margin-top:10px;
			margin-right:20px;
			padding-right:20px;
			text-align:center;
			font-size: 14px;
			font-weight:500;
		}
		.list-empty-wrap{
			margin: 50px auto;
			padding: 30px 0;
			width: 90%;
			height:150px;
			border-radius: 10px;
			border: 1px solid #ea4335;
			color: #ea4335;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 500;
		}
		.list-empty-wrap2{
			margin: 50px auto;
			padding: 30px 0;
			width: 90%;
			height:150px;
			border-radius: 10px;
			border: 1px solid #93bcf9;
			color: #2a2a2a;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 400;
		}
		.summary-nodata-btn{
			margin-top: 20px;
			font-family: 'Noto Sans KR', sans-serif;
			font-size: 16px;
			color: #fff;
			font-weight: 400;
			width:80%;
			height:45px;
			border: none;
			border-radius: 10px;
			background-color: #93bcf9;
		}
		.recom-empty-wrap{
			margin: 50px auto;
			padding: 30px 0;
			width: 90%;
			height:250px;
			border-radius: 10px;
			border: 1px solid #43a047;
			color: #43a047;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 500;
		}
		.fa-exclamation{
			font-size: 50px;
			margin-bottom: 10px;
		}


    /* swiper 관련 css */

    .swiper-wrapper{
		min-height: 100% !important;
    }
  .swiper-slide{
	min-height:calc(100vh - 115px) !important;
    /*margin-bottom: 60px !important;*/
    /*position: static !important;*/
    /*display: inline-block !important;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0);
	-webkit-transform:translate3d(0, 0, 0);*/
  }
  .swiper-pagination{
	-webkit-tap-highlight-color:transparent;
    position: fixed;
    border-radius: 20px;
    width: 90%;
    bottom:75px;
    margin: 0 0 0 20px;
    text-align: center;
    background-color: #F5F5F5;
	z-index: 999;
  }
  .swiper-pagination-bullet {
	-webkit-tap-highlight-color:transparent;
  /*color: #6c6d6e;*/
  color: #202020;
  background-color: transparent;
  float: left;
  position: relative;
  border-radius: 20px;
  width: 20%;
  height: 30px;
  line-height: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  padding-top: 5px;
  }
  .swiper-pagination-bullet-active {
	-webkit-tap-highlight-color:transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: auto;
  width: 30%;
  height: 28px;
  border-radius: 2px;
  color:#fff;
  background-color: #4C8AE5;
  border-radius: 20px;
  padding-top: 5px;
  }
  .swiper-pagination-bullet:focus{
	-webkit-tap-highlight-color:transparent;
	outline: none;
  }
  .swiper-pagination-bullet-active{
	-webkit-tap-highlight-color:transparent;
	outline: none;
  }
	.no-top5{
		display: flex;
    margin: 0px 20px 0 20px;
    text-align: center;
		vertical-align: middle;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
	}
	.no-history-content{
		width: 90%;
		border-radius: 10px;
		display:block;
		padding: 50px 20px 0 20px;
	}
	.no-detailsearch-content{
		width: 90%;
		border-radius: 10px;
		display:block;
		padding: 80px 20px 0 20px;
	}
	.no-top5-content{
		width: 90%;
		border-radius: 10px;
		display:block;
		padding: 100px 20px 0 20px;
	}
	.no-top5-text{
		margin-bottom: 10px;
		display:block;
		font-size: 18px;
		font-weight: 500;
		color: #8E8E8E;
	}
	.no-top5-btn{
		display:block;
		margin: 30px auto;
		border: none;
		border-radius: 10px;
		font-size: 18px;
		font-weight: 500;
		width: 80%;
		height: 45px;
		background-color: #93bcf9;
		color: #FFF;
	}

	.pin-input-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.pin-btn-wrap{
		text-align:center;
		display: flex;
		justify-content: center;
		margin-top:35px;
		position:fixed;
		bottom:15px;
		width:100%;
		left:0px;
	}
	.pinBtn {
		padding: 10px 30px 10px 30px;
		width: 80%;
		border-radius: 10px;
		color: white !important;
		background-color: #93bcf9;
		height: 50px;
	}
	
	.pin_saver {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: #F3F4F6;
		will-change: opacity;
		z-index: 90;
	}

}