/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
@media screen and (max-width: 769px) {
	a {
		color:#202020;
        text-decoration:none;
        text-decoration-line: none;
    }

    a:link, a:visited, a:hover, a:active {
		text-decoration:none;
        text-decoration-line: none;
        color:#202020;
    }

	html{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		/*font-size: 62.5%;*/ /* 기본 폰트 10px로 고정*/
	}

	body{
		max-width: 1024px;
		height: 100%;
		scrollbar-width: none;
		-ms-overflow-style: none;
		font-family: 'Noto Sans KR', sans-serif;
		background:white;
		/* no drag */
		-webkit-touch-callout: none !important;
		-webkit-user-select: none !important;
		-khtml-user-select: none !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		user-select: none !important;
	}
	body::-webkit-scrollbar{
		display: none;
	}

	li{
		font-family: 'Noto Sans KR', sans-serif;
	}

	.loader-main{
        position: fixed;
        top: 50px;
        left: 0px;
        right: 0px;
        bottom: 55px;
        background-color: #F3F4F6;
        will-change: opacity;
        transition: all 250ms ease;
        z-index: 90;
        }

    .la-ball-clip-rotate,
    .la-ball-clip-rotate > div {
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .la-ball-clip-rotate {
        display: block;
        font-size: 0;
        color:#31bc8a;
        margin: 0 auto;
        top: 46%;
    }
    .la-ball-clip-rotate.la-dark {
        color: #333;
    }
    .la-ball-clip-rotate > div {
        display: inline-block;
        float: none;
        background-color: currentColor;
        border: 0 solid currentColor;
    }
    .la-ball-clip-rotate {
        width: 40px;
        height: 40px;
    }
    .la-ball-clip-rotate > div {
        width: 40px;
        height: 40px;
        background: transparent;
        border-width: 3px;
        border-bottom-color: transparent;
        border-radius: 100%;
        -webkit-animation: ball-clip-rotate .75s linear infinite;
        -moz-animation: ball-clip-rotate .75s linear infinite;
        -o-animation: ball-clip-rotate .75s linear infinite;
        animation: ball-clip-rotate .75s linear infinite;
    }
    .la-ball-clip-rotate.la-sm {
        width: 16px;
        height: 16px;
    }
    .la-ball-clip-rotate.la-sm > div {
        width: 16px;
        height: 16px;
        border-width: 1px;
    }
    .la-ball-clip-rotate.la-2x {
        width: 64px;
        height: 64px;
    }
    .la-ball-clip-rotate.la-2x > div {
        width: 64px;
        height: 64px;
        border-width: 4px;
    }
    .la-ball-clip-rotate.la-3x {
        width: 96px;
        height: 96px;
    }
    .la-ball-clip-rotate.la-3x > div {
        width: 96px;
        height: 96px;
        border-width: 6px;
    }
    /*
     * Animation
     */
    @-webkit-keyframes ball-clip-rotate {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
    @-moz-keyframes ball-clip-rotate {
        0% {
            -moz-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        50% {
            -moz-transform: rotate(180deg);
                transform: rotate(180deg);
        }
        100% {
            -moz-transform: rotate(360deg);
                transform: rotate(360deg);
        }
    }
    @-o-keyframes ball-clip-rotate {
        0% {
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        50% {
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        100% {
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes ball-clip-rotate {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

	#wrap{
        position: relative;
    }

	#nav{
        max-width: 768px;
        height: 50px;
        background: -webkit-linear-gradient(to right, #31BC8A, #4C8AE5);  /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background:white;
        line-height:50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

	/* nav 관련 */
	.fa-arrow-left{
        margin: 0.8rem 0.5rem 0 0.5rem;
        vertical-align:text-bottom;
        font-size: 1.5rem;
        color: #fff;
    }
    .fa-bell{
        margin: 0.8rem 0.5rem 0 0.5rem;
        float: right;
        font-size: 1.5rem;
        color: #fff;
    }

	#container{
		background-color: white;
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
        padding-top: 50px;
        padding-bottom: 55px;
        height:calc( 100% - 110px );
        overflow: auto;
        overflow-x: hidden !important;
    }

    #container::-webkit-scrollbar{
        display: none; /* Chrome, Safari, Opera */
    }

    #footer{
        max-width: 768px;
        position: fixed;
        background-color: #4C8AE5;
        border-radius : 1rem 1rem 0 0 ;
        box-shadow: 0 3px 5px 3px rgb(202, 202, 202);
        z-index: 1024;
        left: 0;
        right: 0;
        bottom: 0;
        height: 55px;
    }



	/* 로그인페이지 관련 CSS */

	.logo-wrap{
		margin-top: 100px;
		width: 100%;
	}
	.logo-logo{
		font-size: 100px;
	}
	.form_errors_view{
		padding: 10px;
		width: 100%;
	}
	.login-wrap{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		padding: 5px 15px;
		margin: 0rem auto 0 auto;
		width: 100%;
		position: relative;
		/*border: 1px solid black;*/
		border-radius: 10px;
	}
	.id-input{
		width: 100%;
		height: 50px;
		color: #8e8e8e;
		/*margin-top: 0.5rem;*/
		margin-bottom: 1rem;
		border:none;
		border-bottom: 1px solid #31BC8A;
		background-color: #F5F5F5;
		padding-left: 10px;
	}
	.pw-input{
		width: 100%;
		height: 50px;
		color: #8e8e8e;
		margin-bottom: 1rem;
		border:none;
		border-bottom: 0.8px solid #31BC8A;
		background-color: #F5F5F5;
		padding-left: 10px;
	}
	.login-btn{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 2rem;
		font-weight: bold;
		color: #fff;
		margin: 10px auto 10px auto;
		width: 100%;
		height: 50px;
		background: #31bc8a;  /* fallback for old browsers */
		border-radius: 10px;
		border: none;
		outline: none;
	}
	.sns-login-wrap{
		padding: 0 10px;
		margin-top: 3rem;
		width: 100%;
	}
	.sns-login-wrap a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.4rem;
		font-weight: 500;
		color: #BDBDBD;
	}
	.sign-button-list{
		list-style: none;
		display: flex;
		text-align: center;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		padding-left: 0px;
	}
	
	.sign-button-list button{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		width: 50px;
		height: 50px;
		margin: 0.5rem auto;
		border-radius: 50px;
		border: 1px solid #BDBDBD;
		outline: none;
	}
	.sign-button-list i{
		font-size: 2rem;
	}
	.main-wrap{
		width: 100%;
		align-items:center;
		position: relative;
	}
	.fa-google {
		background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
	}
	
	.fa-comment{
		color:#343740;
	}
	
	.naver-btn{
		background-attachment:initial;
		text-align: center;
		vertical-align: middle;
		width: 26px;
		height: 26px;
	}
	
	.Easy-sgin-in-wrap .sign-button-list li button span{
		padding-left: 20px;
		font-size: 18px;
	}
	.Easy-sgin-in-wrap .forget-msg{
		color:var(--font-color);
		font-size: 14px;
		padding-top: 10px;
	
	}

	/* 홈화면 css */

	/* 홈화면-추가동의페이지관련 css */
	.add_info_title{
		font-weight: 500;
}
.add_info_input{
		margin-bottom: 10px;
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 100%;
		height: 35px;
		border-radius:10px;
}
.add_info_phone{
		margin-bottom: 10px;
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 84%;
		height: 35px;
		border-radius:10px;
}
.phone_code_btn{
		width: 55px;
		height: 35px;
		background:#31BC89;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		vertical-align: top;
		border:0px;
		border-radius:1px;
		color:white;
		border-radius:10px;
}
.phone_code_btn:disabled{
		background:#a0a0a0;
		border-radius:10px;
}
.add_info_phonecode{
		margin-bottom: 10px;
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 84%;
		height: 35px;
		border-radius:10px;
}
.count{
		right: 150px;
    padding-top: 5px;
    position: absolute;
    width: 30px;
}
.add_info_select{
		margin-bottom: 10px;
		padding-left: 10px;
		background-color: #fff;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 500;
		width: 100%;
		height: 35px;
		border-radius:10px;
		color:#a0a0a0;
}
.add_info_year{
		padding-left: 10px;
		border: 1px solid #D1D6DA;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 400;
		width: 100%;
		height: 35px;
		border-radius:10px;
}
.access_btn{
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		vertical-align: middle;
		width:100%;
		height: 50px;
		margin-top:20px;
		background:#31BC89;
		border:0px;
		border-radius:10px;
		color:white;
		border-radius:10px;
}
.access_btn:disabled{
		background:#a0a0a0;
}
	.home-wrap{
		padding: 0 20px;
	}
	.home-title{
		height: 140px;
		width: 100%;
		padding: 25px 20px 0 20px;
		font-weight: bold;
		font-size: 25px;
	}
	.home-chart{
		position: relative;
		width: 100%;
		border-radius: 15px;
		border: 1px solid #fff;
		background-color: #fff;
		border: 1px solid #f5f5f5;
		margin-bottom: 25px;
	}

	.home-spand-div{
		padding: 20px;
		margin-bottom: 25px;
		border-radius: 15px;
		width: 100%;
		height: 200px;
		background-color:#5182E5;
		color: #fff;
	}
	.home-spand-title,.home-stock-title
	,.home-property-div{
		font-weight: 500;
		font-size: 20px;
	}
	.home-spand-input{
		margin-top: 25px;
		text-align: center;
		font-weight: 500;
		font-size: 25px;
	}

	.home-stock-input{
		margin-top: 10px;
		text-align: center;
		font-weight: 500;
		font-size: 25px;
	}

	.home-stock-input2{
		margin-top: 5px;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
	}
	.home-spand-buttons,.home-stock-buttons{
		margin-top: 25px;
		text-align: center;
	}
	.home-spand-button,.home-stock-button{
		border: none;
		font-weight: bold;
		background-color: #fff;
		width: 100px;
		height: 40px;
	}
	.home-spand-dateView{
		color: #FFF;
		font-size:14px;
		float: right;
	}

	.home-stock-div{
		padding: 20px;
		margin-bottom: 25px;
		border-radius: 15px;
		width: 100%;
		height: 200px;
		background-color:#6A5ACD;
		color: #fff;
	}

	.home-property-div{
		padding: 20px;
		margin-bottom: 25px;
		border-radius: 15px;
		width: 100%;
		height: 200px;
		background-color:#01B7CF;
		color: #fff;
	}

	/* calendar 페이지 관련 css */
	/* 1. 추천서비스 관련 css */

	/* 2. 요약서비스 관련 css */
	/* Modal 관련 CSS */
	.modal-content{
		margin-top: 50px;
		border-radius: 30px;
	}

	.modal-title{
		padding: 0 10px;
		font-weight: bold;
		border: 1.5px solid #32BC8B;
		border-radius: 30px;
		border-top: none;
	}

	.modal-header{
		border-bottom: none;
	}

	.modal-body-text{
		text-align: end;
		margin: 10px 20px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12px;
		font-weight: 400;
		border-bottom: 1px solid;
	}

	.modal-footer{
		border-top: none;
		display: block;
		text-align: center;
	}

	.addList-btn{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	width: 95%;
	height: 55px;
	border: 1px solid transparent;
	border-radius: 15px;
	box-shadow: 1px 1px 5px 1px gray;
	background: -webkit-linear-gradient(to right, #31BC8A, #4C8AE5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.addevent-btn{
		border-radius: 50%;
		background-color: #4C8AE5;
		font-size: 35px;
		width: 45px;
		height: 45px;
		line-height: 30px;
		display: table;
		position: fixed;
		float: right;
		bottom: 50px;
		margin-bottom: 4rem;
		right: 15px;
		text-align: center;
		z-index: 10;
	}
		.money-info-wrap{
		margin: 5%;
		padding: 1px;
		text-align: left;
		box-shadow: 1px 1px 1px 1px grey;
		background: -webkit-linear-gradient(to right, #31BC8A, #4C8AE5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
		border: 1px solid transparent;
		border-radius: 15px;
		}
		.money-info-container{
			padding-top: 10px;
		}
		.money-info-title{
		font-size: 16pt;
		font-weight: 400;
		color:#FFF;
		margin-top:10px;
		padding-left:15px;
		}
		.money-wrap{
			
		}
		.amountMoney{
		text-align:left;
		padding-left:15px;
		margin-top:7px;
		}
		.amount-money{
			background-color: #fff;
			border: 1px solid transparent;
			box-shadow: 1px 1px 10px 1px #9f9f9f;
			border-radius: 10px;
			width: fit-content;
			padding: 0 10px;
			color:#3A3A3A;
			font-size: 25px;
			font-weight:bold;
			margin-right: 5px;
		}
		.amount-won{
		font-size:20px;
		font-weight:bold;
		color: #fff;
		}
		.list-table{
		width: 95%;
		background-color:#fff;
		border-radius:10px;
		margin: 10px 10px 60px 10px;
		padding:5px;
		border-collapse:separate;
		border-spacing:0 20px;
		}
		.summary-nodata-wrap{
			margin-top:10px;
			margin-right:20px;
			padding-right:20px;
			text-align:center;
			font-size: 14px;
			font-weight:500;
		}
		.list-empty-wrap{
			margin: 50px auto;
			padding: 30px 0;
			width: 90%;
			height:150px;
			border-radius: 10px;
			border: 1px solid #ea4335;
			color: #ea4335;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 500;
		}
		.recom-empty-wrap{
			margin: 50px auto;
			padding: 30px 0;
			width: 90%;
			height:250px;
			border-radius: 10px;
			border: 1px solid #43a047;
			color: #43a047;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 500;
		}
		.fa-exclamation{
			font-size: 50px;
			margin-bottom: 10px;
		}

    /* swiper 관련 css */

    .swiper-wrapper{
		min-height: 100% !important;
    }
  .swiper-slide{
	min-height:calc(100vh - 115px) !important;
    /*margin-bottom: 60px !important;*/
    /*position: static !important;*/
    /*display: inline-block !important;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0);
	-webkit-transform:translate3d(0, 0, 0);*/
  }
  .swiper-pagination{
	-webkit-tap-highlight-color:transparent;
    position: fixed;
    border-radius: 20px;
    width: 90%;
    bottom:75px;
    margin: 0 0 0 20px;
    text-align: center;
    background-color: #F5F5F5;
	z-index: 999;
  }
  .swiper-pagination-bullet {
	-webkit-tap-highlight-color:transparent;
  /*color: #6c6d6e;*/
  color: #202020;
  background-color: transparent;
  float: left;
  position: relative;
  border-radius: 20px;
  width: 20%;
  height: 30px;
  line-height: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  padding-top: 5px;
  }
  .swiper-pagination-bullet-active {
	-webkit-tap-highlight-color:transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: auto;
  width: 30%;
  height: 28px;
  border-radius: 2px;
  color:#fff;
  background-color: #4C8AE5;
  border-radius: 20px;
  padding-top: 5px;
  }
  .swiper-pagination-bullet:focus{
	-webkit-tap-highlight-color:transparent;
	outline: none;
  }
  .swiper-pagination-bullet-active{
	-webkit-tap-highlight-color:transparent;
	outline: none;
  }

    /* Fullcalendar 관련 css */
    .fc-toolbar-chunk{
      display: flex;
    }
.cal-container{
	pointer-events: none;
	background-color:#fff;
	border-radius: 20px !important;
	min-height: 465px;
	box-shadow: 1px 1px 5px 1px rgb(202, 202, 202);
	margin: 20px 20px 50px 20px !important;
}
    .fc-prev-button.fc-button.fc-button-primary,
    .fc-next-button.fc-button.fc-button-primary{
      background-color: transparent;
      border-color: transparent;
      color: #32BC8B;
      margin: 0;
    }
    .fc-prev-button.fc-button.fc-button-primary:hover,
    .fc-next-button.fc-button.fc-button-primary:hover,
    .fc-prev-button.fc-button.fc-button-primary:active,
    .fc-next-button.fc-button.fc-button-primary:active{
      background-color: transparent;
      border-color: transparent;
      color: #4C8AE5;
      font-weight: bold;
      transition: 0.5s;
      margin: 0;
      border-color: transparent;
    }
    .fc-view-harness.fc-view-harness-active{
      border-radius: 10px;
      /*box-shadow: 2px 3px 4px 1px rgb(202, 202, 202);*/
    }
    .fc-toolbar-title{
      font-weight: blod;
      font-family: 'Noto Sans KR', sans-serif;
    }
    .fc .fc-col-header-cell-cushion {
      display: inline-block;
      padding: 2px 4px;
    }
    .fc-col-header-cell-cushion, .fc-daygrid-day-number {
      color: black;
    }
    .fc-event-title-container{
      text-align: end;
    }
    .fc-day-sun {
      color:#FF0000;
      }
      .fc-day-sun a{ color:#FF0000; }
    .fc-day-sat {
      color:blue;
      }
      .fc-day-sat a{ color:blue; }
  
    /*End Fullcalendar CSS*/

	/* 공지사항 페이지 */
	.notice-contents{
			background-color: #fff;
			margin: 10px 0;
			padding: 10px;
			border: 1px solid #8e8e8e;
			border-radius: 5px;
			width:100%;
		}
	.notice-title{
			font-size:16px;
			color:#2a2a2a;
			font-weight: 500;
		}
	.notice-date{
			font-size:10px;
			color:gray;
			font-weight: 400;
		}
	.notice-detail-titlewrap{
			padding:10px;
			border-bottom:1px solid #ddd;
		}
	
		.notice-detail-title{
			font-size:16px;
			color:#2a2a2a;
			font-weight: 500;
		}
		.notice-detail-date{
			font-size:12px;
			color:gray;
			font-weight: 400;
		}
		.notice-detail-content{
			padding:10px 10px 20px 10px;
		}
}