/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;

폰트는 무조건 rem으로 적용할것 (모바일 디바이스 또는 확대등 각종 대응을 위해서)
html { font-size: 62.5%; } // 기본 폰트는 16px이지만 이거 덕분에 10px로 변경됨
ex. 12rem -> 120px;
    1.2rem -> 12px;
*/

@media screen and (max-width: 769px) {

	:root{
		--body-background-color: #F3F4F6;
		--font-color: #4e4e4e;
		--border-gray-color : #dadada;
		--naver-green-color: #04c75a;
		--naver-green-border-color: #06b350;
	}

	*{
		box-sizing: border-box;
	}

	a {
		color:#202020;
        text-decoration:none;
        text-decoration-line: none;
    }

    a:link, a:visited, a:hover, a:active {
		text-decoration:none;
        text-decoration-line: none;
        color:#202020;
    }

	html{
		margin: 0;
		padding: 0;
		font-family: 'Noto Sans KR', sans-serif;
		width: 100%;
		height: 100%;
		/*font-size: 62.5%;*/ /* 기본 폰트 10px로 고정*/
	}

	body{
		max-width: 1024px;
		height: 100%;
		scrollbar-width: none;
		-ms-overflow-style: none;
		font-family: 'Noto Sans KR', sans-serif;
		background:var(--body-background-color);
	}
	body::-webkit-scrollbar{
		display: none;
	}

	#wrap{
        position: relative;
    }

	#nav{
        max-width: 768px;
        height: 50px;
        background: -webkit-linear-gradient(to right, #31BC8A, #4C8AE5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 6;
    }

	/* nav 관련 */
	.fa-arrow-left{
        margin: 0.8rem 0.5rem 0 0.5rem;
        vertical-align:text-bottom;
        font-size: 1.5rem;
        color: #fff;
    }
    .fa-bell{
        margin: 0.8rem 0.5rem 0 0.5rem;
        float: right;
        font-size: 1.5rem;
        color: #fff;
    }

	#container{
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
        padding-top: 50px;
        padding-bottom: 55px;
        height:calc( 100% - 110px );
        overflow: auto;
        overflow-x: hidden !important;
    }

    #container::-webkit-scrollbar{
        display: none; /* Chrome, Safari, Opera */
    }

    #footer{
        max-width: 768px;
        position: fixed;
        background-color: #4C8AE5;
        border-radius : 1rem 1rem 0 0 ;
        box-shadow: 0 3px 5px 3px rgb(202, 202, 202);
        z-index: 4;
        left: 0;
        right: 0;
        bottom: 0;
        height: 55px;
    }



	/* 로그인페이지 관련 CSS */

	.logo-wrap{
		margin-top: 80px;
		width: 100%;
	}
	.logo-logo{
		font-size: 100px;
	}
	.form_errors_view{
		padding: 10px;
		width: 100%;
	}
	.login-wrap{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		padding: 5px 15px;
		margin: 0rem auto 0 auto;
		width: 100%;
		position: relative;
		/*border: 1px solid black;*/
		border-radius: 10px;
	}
	.id-input{
		width: 100%;
		height: 50px;
		color: #8e8e8e;
		/*margin-top: 0.5rem;*/
		margin-bottom: 1rem;
		border-radius: 40px;
		border: 1px solid #31BC8A;
		background-color: #F5F5F5;
		padding-left: 10px;
	}
	.pw-input{
		width: 100%;
		height: 50px;
		color: #8e8e8e;
		margin-bottom: 1rem;
		border-radius: 40px;
		border: 0.8px solid #31BC8A;
		background-color: #F5F5F5;
		padding-left: 10px;
	}
	.login-btn{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 2rem;
		font-weight: bold;
		color: #fff;
		margin: 1rem auto 4rem auto;
		width: 100%;
		height: 50px;
		background: #4C8AE5;  /* fallback for old browsers */
		border-radius: 50px;
		border: 1px solid #fff;
		outline: none;
	}
	.sns-login-wrap{
		padding: 0 10px;
		margin-top: 3rem;
		width: 100%;
	}
	.sns-login-wrap a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.4rem;
		font-weight: 500;
		color: #BDBDBD;
	}
	.sign-button-list{
		list-style: none;
		display: flex;
		text-align: center;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		padding-left: 0px;
	}
	
	.sign-button-list button{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		width: 50px;
		height: 50px;
		margin: 0.5rem auto;
		border-radius: 50px;
		border: 1px solid #BDBDBD;
		outline: none;
	}
	.sign-button-list i{
		font-size: 2rem;
	}
	.main-wrap{
		width: 100%;
		align-items:center;
		position: relative;
	}
	
	.fa-qrcode
	{
		color:var(--naver-green-color);
	}
	.fa-line{
		color:var(--naver-green-color);
	}
	.fa-facebook-square
	{
		color:#4064ac;
	}
	.fa-google {
		background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
	}
	
	.fa-comment{
		color:#343740;
	}
	
	.naver-btn{
		background-attachment:initial;
		text-align: center;
		vertical-align: middle;
		width: 26px;
		height: 26px;
	}
	
	.Easy-sgin-in-wrap .sign-button-list li button span{
		padding-left: 20px;
		font-size: 18px;
	}
	.Easy-sgin-in-wrap .forget-msg{
		color:var(--font-color);
		font-size: 14px;
		padding-top: 10px;
	
	}

	/* calendar 페이지 관련 css */
	/* 1. 추천서비스 관련 css */

	/* 2. 요약서비스 관련 css */
	/* Modal 관련 CSS */
	.modal-content{
		margin-top: 50px;
		border-radius: 30px;
	}

	.modal-title{
		padding: 0 10px;
		font-weight: bold;
		border: 1.5px solid #32BC8B;
		border-radius: 30px;
		border-top: none;
	}

	.modal-header{
		border-bottom: none;
	}

	.modal-body-text{
		text-align: end;
		margin: 10px 20px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 12px;
		font-weight: 400;
		border-bottom: 1px solid;
	}

	.modal-footer{
		border-top: none;
		display: block;
		text-align: center;
	}

	.addList-btn{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	width: 95%;
	height: 55px;
	border: 1px solid transparent;
	border-radius: 15px;
	box-shadow: 1px 1px 5px 1px gray;
	background: -webkit-linear-gradient(to right, #31BC8A, #4C8AE5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.addevent-btn{
		border-radius: 50%;
		background-color: #4C8AE5;
		font-size: 35px;
		width: 45px;
		height: 45px;
		line-height: 30px;
		display: table;
		position: fixed;
		float: right;
		bottom: 50px;
		margin-bottom: 4rem;
		right: 15px;
		text-align: center;
		z-index: 10;
	}
		.money-info-wrap{
		margin: 5%;
		padding: 1px;
		text-align: left;
		box-shadow: 1px 1px 1px 1px grey;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 15px;
		background-image: linear-gradient(#fff, #fff), 
		linear-gradient(to right,#31BC8A, #4C8AE5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
		background-image: linear-gradient(#fff, #fff), 
		-webkit-linear-gradient(to right, #31BC8A, #4C8AE5); /* Chrome 10-25, Safari 5.1-6 */
		background-origin: border-box;
		background-clip: content-box, border-box;
		}
		.money-info-container{
			padding-top: 10px;
		}
		.money-info-title{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 16pt;
		color:#202020;
		margin-top:10px;
		padding-left:15px;
		}
		.amount-money-title{
			font-family: 'Noto Sans KR', sans-serif;
			font-size: 12pt;
			color: #3a3a3a;
			font-weight:bold;
		}
		.amountMoney{
		text-align:left;
		padding-left:25px;
		margin-top:2px;
		}
		.amount-money{
		padding: 0 5px;
		background-color:#fff;
		color:#3A3A3A;
		border-radius:10px;
		font-size: 12pt;
		font-weight:400;
		}
		.amount-won{
		font-size:12pt;
		font-weight:400;
		color: #3a3a3a;
		}
		.list-table{
		width: 95%;
		background-color:#fff;
		border-radius:10px;
		margin: 10px 10px 60px 10px;
		padding:5px;
		border-collapse:separate;
		border-spacing:0 20px;
		}
		.summary-nodata-wrap{
			margin-top:10px;
			margin-right:20px;
			padding-right:20px;
			text-align:center;
			font-size: 14px;
			font-weight:500;
			font-family: 'Noto Sans KR', sans-serif;
		}
		.list-empty-wrap{
			margin: 50px auto;
			padding: 30px 0;
			width: 90%;
			height:150px;
			border-radius: 10px;
			border: 1px solid #ea4335;
			color: #ea4335;
			text-align: center;
			vertical-align: middle;
			font-family: 'Noto Sans KR', sans-serif;
			font-size: 20px;
			font-weight: 500;
		}
		.fa-exclamation{
			font-size: 50px;
			margin-bottom: 10px;
		}

    /* swiper 관련 css */
    .swiper-wrapper{
		min-height: 100% !important;
    }
  .swiper-slide{
	min-height:calc(100vh - 105px) !important;
    margin-bottom: 60px !important;
    position: static !important;
    display: inline-block !important;
  }
  .swiper-pagination{
    position: fixed;
    border-radius: 20px;
    width: 90%;
    bottom:75px;
    margin: 0 0 0 20px;
    text-align: center;
    background-color: #F5F5F5;
  }
  .swiper-pagination-bullet {
  /*color: #6c6d6e;*/
  color: #202020;
  background-color: transparent;
  float: left;
  position: relative;
  border-radius: 20px;
  width: 20%;
  height: 30px;
  line-height: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  padding-top: 5px;
  }
  .swiper-pagination-bullet-active {
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: auto;
  width: 30%;
  height: 28px;
  border-radius: 2px;
  color:#fff;
  background-color: #4C8AE5;
  border-radius: 20px;
  padding-top: 5px;
  }

    /* Fullcalendar 관련 css */
    .fc-toolbar-chunk{
      display: flex;
    }
    .cal-container{
      background-color:#fff;
      border-radius: 20px !important;
      /*border: 1px solid green !important;*/
      box-shadow: 1px 1px 5px 1px rgb(202, 202, 202);
      margin: 20px !important;
      padding: 10px !important;
    }
    .fc-prev-button.fc-button.fc-button-primary,
    .fc-next-button.fc-button.fc-button-primary{
      background-color: transparent;
      border-color: transparent;
      color: #32BC8B;
      margin: 0;
    }
    .fc-prev-button.fc-button.fc-button-primary:hover,
    .fc-next-button.fc-button.fc-button-primary:hover,
    .fc-prev-button.fc-button.fc-button-primary:active,
    .fc-next-button.fc-button.fc-button-primary:active{
      background-color: transparent;
      border-color: transparent;
      color: #4C8AE5;
      font-weight: bold;
      transition: 0.5s;
      margin: 0;
      border-color: transparent;
    }
    .fc-view-harness.fc-view-harness-active{
      border-radius: 10px;
      /*box-shadow: 2px 3px 4px 1px rgb(202, 202, 202);*/
    }
    .fc-toolbar-title{
      font-weight: blod;
      font-family: 'Noto Sans KR', sans-serif;
    }
    .fc .fc-col-header-cell-cushion {
      display: inline-block;
      padding: 2px 4px;
    }
    .fc-col-header-cell-cushion, .fc-daygrid-day-number {
      color: black;
    }
    .fc-event-title-container{
      text-align: end;
    }
    .fc-day-sun {
      color:#FF0000;
      }
      .fc-day-sun a{ color:#FF0000; }
    .fc-day-sat {
      color:blue;
      }
      .fc-day-sat a{ color:blue; }
  
    /*End Fullcalendar CSS*/
}