asgiref
backports.zoneinfo
certifi
cffi
charset-normalizer
cryptography 
defusedxml
Django
django-allauth
django-cors-headers 
djangorestframework  
idna
mysqlclient
oauthlib
Pillow
pip
pycparser
PyJWT
python3-openid   
pytz 
requests
requests-oauthlib
setuptools
sqlparse
tzdata
urllib3