option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "lemon.settings.base"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    RDS_USERNAME: "admin"
    RDS_PASSWORD: "qktnv0312^^"
    RDS_PORT: 3306
  aws:elasticbeanstalk:container:python:
    WSGIPath: lemon.wsgi:application