{% extends 'base.html' %}
{% block title %}레몬::모의주식{% endblock title %}
{% block container %}
{% load humanize %}
{% load mathfilters %}
<style>
    .portfolio-wrapper{
    padding:20px;
    }

.footer-line-portfolio{
    width:50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
    }
</style>
{% load mytag %}
<div class="portfolio-wrapper">
    <div class="portfolio-title"><strong>{{user.username}}</strong>님의</div>
    <div class="portfolio-title"><strong>포트폴리오</strong></div>
<div>
    <!-- staff 권한을 가진 계정만 per pbr 버튼 활성화 -->
    {% if user.is_staff == True %}
        <div>
            <a>아래 버튼은 관리자 권한을 가진 사용자만 보입니다.</a>
            <button id="kospi" class="perPbr-Btn" value="kospi">코스피 PER, PBR 넣기</button>
            <button id="nasdaq" class="perPbr-Btn2" value="nasdaq">나스닥 PER, PBR 넣기</button>
        </div>
    {% else %}{% endif %}

<div class="stock-container">
    <span class="stock-container-side">현재까지 수익률</span>
    <div class="stock-container-title">주식</div>


{% comment %} <div style="text-align:center;font-size:22px;">{{total_current_amount|intcomma}}원</div> {% endcomment %}
<!--<div style="text-align:center;font-size:22px;">{{total_invest_amount|intcomma}}원</div>-->

    <div style="text-align:center;font-size:22px;font-weight:bold;">{{total_investment_amount|intcomma}}원</div>
    <div style="text-align:center;font-size:14px;color:white;">
    {{total_investment_amount|sub:user_total_investment_amount|intcomma}} ({{total_investment_amount|yields:user_total_investment_amount|rounds:2}}%) </div>
    <div class="my_stock"><a class="my_stock-btn" href="{% url 'stocks:stock' %}">보유 주식</a></div>

</div>
</div>

<div class="home-chart" id="home-chart" style="padding:20px;">
    <div class="title" style="color:black;margin-bottom:20px; font-size:16pt; font-weight:bold;">주식 정보</div>
    <div style="text-align:center;font-size:14px;text-align:left;">내 가상 자산 {{ user.invest|intcomma }} 원에서 {{total_invest|yields:user.invest|rounds:2}}% 증가</div>
    <div style="text-align:center;font-size:14px;text-align:left;">총 가상 자산 : {{ user.invest|add:total_use_investment_amount|intcomma}}원</div>
    <div style="text-align:center;font-size:14px;text-align:left;">손익금 : {{total_use_investment_amount|intcomma}}원</div>

        <div class="chart-legend">
            <div><a style="color: #4c8ae5; padding-right: 5px;">■</a><a>가상 잔여 금액</a><a
                    style="float: right;">{{user.invest|sub:total_investment_amount|intcomma}}원</a></div>
            <div><a style="color: #ff5d51; padding-right: 5px;">■</a><a>구매한 주식</a><a
                    style="float: right;">{{total_investment_amount|intcomma}}원</a></div>
            <div><a style="color: #ffd85a; padding-right: 5px;">■</a><a>손익금</a><a
                    style="float: right;">{{total_use_investment_amount|intcomma}}원</a></div>
        </div>

        <canvas id="myChart2" width="100" height="100" style="margin-top: 50px; pointer-events: none;"></canvas>
        <script>
        const ctx = document.getElementById('myChart2').getContext('2d');
        const myChart = new Chart(ctx, {
            if(data=['0','0']){
                console.log('데이터가 0');
            },
            type: 'doughnut',
            data: {
                labels: ['가상 잔여 금액','구매한 주식','손익금'],
                datasets: [{
                    data: ['{{user.invest|sub:total_investment_amount}}', '{{total_investment_amount}}', '{{total_use_investment_amount}}'],
                    backgroundColor: [
                        '#4c8ae5',
                        '#ff5d51',
                        '#ffd85a',
                        
                    ],
                    borderColor: [
                        '#FFF',
                        '#FFF',
                        '#FFF',
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                legend: { display: false },
                tooltips: { enabled: 0 },
                rotation: 1 * Math.PI,
                circumference: 1 * Math.PI,
                cutoutPercentage: 80,
            }
        });
        </script>
    </div>



<div class="stock-container" style="margin-top:20px;">
    <span class="stock-container-side">금일 기준</span>
    <div class="stock-container-title">주문 가능 금액</div>
    <div style="text-align:center;font-size:22px;">{{user.invest|sub:total_investment_amount|add:total_use_investment_amount|intcomma}}원</div>
    <div class="my_stock"><a href="{% url 'admins:edit_invest' %}" class="my_stock-btn" >추가</a></div>
    </div>
</div>

   <div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
      <a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">포트폴리오 기반 추천 Top 5</a>
      <div onclick="usdkrw()"style="display: inline-block;float: right;border-radius: 10px; border: 1px solid black; padding: 0 10px 0 10px;margin-top: 4px;">
        <div class="dollar">$</div>
        <div class="won" style="display:none">₩</div>
        <input type="hidden" id="price" value="0">
    </div>
    </div>
        <form id="form" method="post">
            {% csrf_token %}
            <input type="hidden" id="issuecode" name="issuecode">
            <input type="hidden" id="marketcode" name="marketcode">
        </form>
    <div>
      <ol style="padding-left: 1rem !important;">
        <table id="porfolTable" style="width: 100%; margin-top:10px; border-collapse:inherit;">
          {% for recom in category_stock %}
          <tr onclick="info('{{ recom.1 }}','{{ recom.4 }}')">
            <td width='10'>
              <li style="font-weight: bold; color:#8e8e8e;"></li>
            </td>
            <td class="spendTop5-tableTitle" width='50'>
              <a>{{recom.5}}</a>
            </td>
            <td id="usdtd" style="text-align: right;" width='25'>
              <a class="usdtest" style="font-weight:400; color:#3a3a3a">{{ recom.1|truncatechars:500|intcomma }}원</a>
            </td>
          {% empty %}
          <div class="summary-nodata-wrap">
            <a>주식 구매후 추천해드릴게요</a>
          </div>
            {% endfor %}
        </table>
      </ol>
    </div>
  </div><!-- 코스피버전 포트폴리오 탑5 div 끝-->

<div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
        <a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:14pt;">포트폴리오 기반(nasdaq) 추천 Top5</a>
    </div>
    <div>
        <ol style="padding-left: 1rem !important;">
            <table style="width: 100%; margin-top:10px; border-collapse:inherit;">
                {% for recom in nasdaq_top5_price %}

                <tr onclick="info('{{ recom.1 }}','{{ recom.4 }}')">
                    <td width='10'>
                        <li style="font-weight: bold; color:#8e8e8e;"></li>
                    </td>
                    <td class="spendTop5-tableTitle" width='50'>
                        <a>{{recom.5}}</a>
                    </td>
                    <td style="text-align: right;" width='25'>
                        <a style="font-weight:400; color:#3a3a3a">$ {{ recom.0|truncatechars:500|intcomma }}</a>
                    </td>
                    {% empty %}
                    <div class="summary-nodata-wrap">
                        <a>주식 구매후 추천해드릴게요</a>
                    </div>
                    {% endfor %}
            </table>
        </ol>
    </div>
</div><!-- 나스닥버전 포트폴리오 탑5 div 끝-->

<script>
$(document).ready(function(){
    //$('.footer-selector').fadeIn(550);
});
</script>
<script>
    var csrftoken = getCookie('csrftoken');
    function getCookie(cname) {
        var name = cname + "=";
            decodedCookie = decodeURIComponent(document.cookie);
            ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i].trim();
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    // 코스피 나스닥 perpbr 버튼에 따른 함수 실행
    $('.perPbr-Btn ,.perPbr-Btn2').click(function() {
        var $this = $(this);
        console.log($this);
        if ($this.hasClass('perPbr-Btn')){
            alert('코스피 버튼 클릭');
            alert($('.perPbr-Btn').val());
            value = $('.perPbr-Btn').val();
        }
        else{
            alert('나스닥 버튼 클릭');
            alert($('.perPbr-Btn2').val());
            value = $('.perPbr-Btn2').val();
        }
        
        var headers = new Headers();
        headers.append('Content-Type', 'application/json')
        headers.append('X-CSRFToken', csrftoken)
        fetch('/per_pbr_update', {
            method: "POST",
            headers: headers,
            body: JSON.stringify(value),
        })
        .then(res => {
            if(res.status === 200) return res.json();
            else console.log(res.statusText);
        })
        .then(json => {
            console.log(json.result);
        })
        .catch(err => {
            console.log(err)
        })
        
    });

    function info(issuecode, marketcode) {
        document.getElementById('issuecode').value = issuecode;
        document.getElementById('marketcode').value = marketcode;
        if (marketcode == 'None') {
        alert('주식 정보가 없습니다.')
        }
        else{
        const form = document.getElementById('form');
        form.action="/stock_info/" + marketcode + "/" + issuecode ;
        form.submit();
        }
    }
</script>

<script>
    // 환율 정보 가져오기
    function usdkrw() {
        fetch('https://api.manana.kr/exchange/rate/KRW/USD.json', {
            method: 'POST',
        })
        .then((res) => {
            return res.json();
        })
        .then((data) => {
            var price = $('#price').val();
            if (price == 0) {
                $('#price').val(1);
                $('.dollar').hide();
                $('.won').show();
                let real_usd = data[0].rate;
                let usd = Math.floor(real_usd);
                for (var i = 0; i < 5; i++) {
                    let getTable = $('#porfolTable td[id=usdtd]')[i].innerText.replace('원', '').replace(',', '') * 1;
                    let clac = (getTable / usd).toFixed(2)
                    let result = $('#porfolTable td[id=usdtd]')[i].innerText = '$ ' + clac;
                }
            } else {
                $('#price').val(0);
                $('.won').hide();
                $('.dollar').show();
                let real_usd = data[0].rate;
                let usd = Math.floor(real_usd);
                for (var i = 0; i < 5; i++) {
                    let getTable = $('#porfolTable td[id=usdtd]')[i].innerText.replace('$', '');
                    let clac = Math.ceil(getTable * usd / 10) * 10;
                    let result = $('#porfolTable td[id=usdtd]')[i].innerText = clac.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + ' 원';
                }
            }
        });
    };
</script>
{% endblock %}