{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::주식{% endblock title %}
{% block container %}
<style>
    .bottom-nav-stock,.bottom-nav-stock a{
      color: #FFD859;
    }
</style>

{% load mytag %}
- 내가 구매한 주식
<br/>
{% for ele in stock_data %}
    {{ele.0}}&nbsp;&nbsp;
    {{ele.2}} (현재가)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (구매가) {{ele.1}} &nbsp;&nbsp; {{ele.2|yields:ele.1|rounds:2}}%<br/><br/>

{% empty %}
    <span>구매한 주식이 없습니다</span>
{% endfor %}

<button onclick="fn_koscom_history()">주식history가져오기</button>

<script>
    var csrftoken = getCookie('csrftoken');
    function getCookie(cname) {
        var name = cname + "=";
            decodedCookie = decodeURIComponent(document.cookie);
            ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i].trim();
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function fn_koscom_history() {
        var data = {
                'marketcode': 'kospi',
                'issuecode': '005930',
                'trnsmCycleTpCd': 'D',
                'inqStrtDd': '20170101',
                'inqEndDd': '20170331',
                'reqCnt': '20'
            }
            headers = new Headers();
        headers.append('Content-Type', 'application/json')
        headers.append('X-CSRFToken', csrftoken)
        fetch('/get_history', {
            method: "POST",
            headers: headers,
            body: JSON.stringify(data)
        })
        .then(res => {
            if(res.status === 200) return res.json();
            else console.log(res.statusText);
        })
        .then(json => {
            console.log(json.result);
        })
        .catch(err => {
            console.log(err)
        })
    }
</script>

{% endblock %}