{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::주식{% endblock title %}
{% block container %}
{% load humanize %}
{% load mytag %}
<style>
    .footer-line-stock{
    width:50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
    }
    .act{
    border-bottom:2px solid #93bcf9;
    }
    .title{
    margin-left:20px;
    margin-right:20px;
    padding-bottom:10px;
    padding-top:20px;
    }
    .title_1{
    width:30%;
    margin-top:10px;
    display:inline-block;
    }
    .stock-name{
    display:inline-block;
    font-size:18px;
    font-weight:bold;
    }
    .code{
    display:inline-block;
    color:grey;
    }
    .marketcode{
    display:inline-block;
    color:white;
    background:lightgrey;
    border-radius:10px;
    padding:5px 10px 5px 10px;
    font-size:11px;
    float:right;
    margin-right:10px;
    }
    .curprice{
    font-size:40px;
    font-weight:bold;
    }
    .blue{
    color:#6289e2;
    }
    .red{
    color:#dd4930 !important;
    }
    .pick{
    float:right;
    color:lightgrey;
    }
    .btn{
    padding:10px 20px 10px 20px;
    width:100%;
    text-align:center;
    color:white !important;
    background:#93bcf9;
    margin-top:10px;
    border-radius:10px;
    }
    .red_btn{
    background-color:#dd4930 !important;
    }
    input{
    border:none;
    border-bottom:1px solid #f1f1f1;
    width:69%;
    margin-bottom:10px;
    text-align:center;
    }
    .btn_1{
    color:grey;
    display:inline-block;
    border-radius:10px;
    border:1px solid grey;
    padding:0px 10px 0px 10px;
    }
    .gold{
    color:gold !important;;
    }
    .noChartdata{
        text-align: center;
        padding-top: 50px;
        font-weight:500;
    }
</style>
{% block nav %}
<div id="nav" style="border-bottom: 1px solid #f1f1f1;">
            <div>
            <div style="text-align:center;">
                <a style="color: #fff;" href="javascript:history.back();"><i class="fa fa-angle-left" style="position: absolute;
    left: 5px;
    padding: 14px 15px;
    top: 0;
    font-size: 25px;
    font-weight: 600;color:black;"></i></a>주식 상세</div>
        </div>
 </div>
{% endblock nav %}
        {% if result %}

        <div class="title">
                <div class="stock-name">{{ result.isuKorAbbrv }} </div>
                <div class="code">{{ result.isuSrtCd }} </div>
            <div class="pick {% if star == 1  %} gold {% endif %}" onclick="pick()"><i class="fas fa-star"></i></div>
            <div class="marketcode"> {{ result.marketcode }}</div>
                <div class="curprice">{{ result.curPrice|intcomma }}원</div>
                <div class="lastprice"> 종가 : {{ result.prevddClsprc|intcomma }}원</div>
            <i class="fas fa-angle-up red"></i>
            <i class="fas fa-angle-down blue"></i>
            <i class="fas fa-minus"></i>
                <div id="howup" style="display:inline-block;"> {{  result.curPrice|sub:result.prevddClsprc|intcomma }}</div><div class="percent" style="display:inline-block">원</div>
                 <div class="percent" style="display:inline-block;">({{ result.curPrice|div:result.prevddClsprc|rounds:3 }}%)</div>
                 {% comment %} <div class="percent" style="display:inline-block;">({{ result.curPrice|div:result.prevddClsprc|floatformat:2 }}%)</div> {% endcomment %}
        </div>
        {% else %}
            상세정보가 없습니다.
        {% endif %}
<table style="background-color:white;height:35px;width: 100%;">
    <tr>
        <td style="width:25%;text-align:center;" onclick="move_page(0)">일</td>
        <td style="width:25%;text-align:center;" onclick="move_page(1)">주</td>
        <td style="width:25%;text-align:center;" onclick="move_page(2)">월</td>
        <td style="width:25%;text-align:center;" onclick="move_page(3)">년</td>
    </tr>
</table>
<div class="swiper">
    <div class="swiper-scrollbar" style="top:0px;height:3px;"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
              <div class="myChartDiv" id="dayChart">
              <canvas id="myChart" width="600" height="400" style="padding-top:15px;"></canvas>
            </div>
        </div>
        <div class="swiper-slide">
             <div class="myChartDiv" id="weekChart">
              <canvas id="myChart1" width="600" height="400"  style="padding-top:15px;"></canvas>
            </div>
        </div>
        <div class="swiper-slide">
             <div class="myChartDiv" id="monthChart">
              <canvas id="myChart2" width="600" height="400"  style="padding-top:15px;"></canvas>
            </div>
        </div>
        <div class="swiper-slide">
             <div class="myChartDiv" id="yearChart">
              <canvas id="myChart3" width="600" height="400"  style="padding-top:15px;"></canvas>
            </div>
        </div>
    </div>
</div>
<div>
    <div style="padding:20px;">
        <table style="width:100%;">
        <tr style="height:50px">
            <td style="text-align:center;width:50%;" class="buy-btn act" onclick="buy()">매수</td>
            <td style="text-align:center;width:50%;" class="sell-btn" onclick="sell()">매도</td>
        </tr>
    </table>
                <div class="buy">
                <input type="hidden" id="buy_marketcode" name="buy_marketcode" value="{{ result.marketcode }}">
                <input type="hidden" id="buy_issuecode" name="buy_issuecode" value="{{ result.isuSrtCd }}">
                <input type="hidden" id="buy_price" name="price" value="{{ result.curPrice}}"/>
                <div class="title_1">현재가</div><input type="text" name="price" value="{{ result.curPrice|intcomma}}"/>
                <div class="title_1">주문 가능 주 </div><input disabled type="text" id="howmuch" value=" "/>
                <div class="title_1">주</div><input type="number" id="buy_share" name="buy_share" value=""/>
                    <div style="display: flex;justify-content: space-between;padding:10px">
                        <div class="btn_1" onclick="add(1)">+1주</div>
                        <div class="btn_1" onclick="add(5)">+5주</div>
                        <div class="btn_1" onclick="add(10)">+10주</div>
                        <div class="btn_1" onclick="add(50)">+50주</div>
                    </div>
                <div class="btn" onclick="fn_buy_stock()">매수</div>
                </div>

                <div class="sell" style="display:none;">
                <input type="hidden" id="sold_marketcode" name="sold_marketcode" value="{{ result.marketcode }}">
                <input type="hidden" id="sold_issuecode" name="sold_issuecode" value="{{ result.isuSrtCd }}">
                    <input type="hidden" id="sold_price" name="price" value="{{ result.curPrice}}"/>
                <div class="title_1">현재가</div><input type="text" name="price" value="{{ result.curPrice|intcomma}}"/>
                <div class="title_1">보유주</div><input type="text" id="curr_share" disabled name="price" value="{{ result.share.0 }}"/>
                <div class="title_1">주</div><input type="number" id="sold_share" name="sold_share" value=""/>
                    <div style="display: flex;justify-content: space-between;padding:10px;">
                        <div class="btn_1" onclick="sold(1)">+1주</div>
                        <div class="btn_1" onclick="sold(5)">+5주</div>
                        <div class="btn_1" onclick="sold(10)">+10주</div>
                        <div class="btn_1" onclick="sold(50)">+50주</div>
                    </div>
                <div class="btn red_btn" onclick="fn_sold_stock()">매도</div>
                <!--    판매 가능한 주 보이기/ 판매 가능한 주 넘어가면 alert 나오기-->
                 </div>
</div>
</div>

    <div style="display:none;">
        <div id="stocksector_update_alert">업종분류 결과위치</div>
        <button onclick="fn_get_selectivemaster()">PER, PBR (PBR = PER * ROE)</button>
        <Button onclick="fn_stocksector_update()">업종분류 업데이트</Button>
    </div>
<script>
    function add(price){
        total = Number($('#buy_share').val()) + price;
        $('#buy_share').val(total);
        }
        function sold(price){
        total = Number($('#sold_share').val()) + price;
        $('#sold_share').val(total);
    }
    function sell(){
        $('.buy').hide();
        $('.sell').show();
        $('.buy-btn').removeClass('act');
        $('.sell-btn').addClass('act');
    }
    function buy(){
        $('.sell').hide();
        $('.buy').show();
         $('.sell-btn').removeClass('act');
        $('.buy-btn').addClass('act');
    }
</script>
<script>
<!-- 일봉 차트 -->
var ctx = document.getElementById("myChart");

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for r in result.day_history %} '{{r.trdDd}}', {% endfor %}],
        datasets: [{
            label: '종가',
            data: [{% for r in result.day_history %} '{{r.trdPrc}}', {% endfor %}],
            backgroundColor: [
                'rgba(235, 235, 235,0.8)',
            ],
            borderColor: [
                'rgba(75, 139, 228,0.5)',
            ],
            borderWidth:2,
        }]
    },
    options: {
        legend: {
            display: false
        },
        elements: {
            point:{
                radius: 0
            }
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display:false
                },
            }],
            yAxes: [{
                gridLines: {
                    color: "rgba(221, 223, 227, 0.3)"
                    //display:false
                },
                ticks: {
                    beginAtZero:false,
                     userCallback: function(value, index, values) {
                     return value.toLocaleString();   // this is all we need
                }
                }
            }]
        },
        tooltips:{
            mode: 'nearest',
            displayColors: true, // 툴팁 바 컬러 표시 여부
            backgroundColor: '#FFF', // 툴팁 배경
            titleFontSize: 16,
            titleSpacing: 50,
            titleMarginBottom: 16,
            titleMarginLeft: 26,
            titleFontStyle: 'bold',
            titleFontColor: "#000",
            bodyFontColor: '#000', // 툴팁 폰트 관련
            bodyFontSize: 18,
            borderWidth:2,
            cornerRadius: 6,
            xPadding:12,
            yPadding:20,
            footerMarginTop:30,
            caretPadding:15,
            borderColor: 'rgba(163, 163, 163,1)',
            callbacks: {
                title: function(tooltipItem) {
                    return this._data.labels[tooltipItem[0].index];
                },

                labelColor: function(tooltipItem, chart) {
                    return {
                        borderColor: 'rgba(75, 139, 228,1)',
                        backgroundColor: 'rgba(235, 235, 235,1)'
                    }
                },
                labelTextColor:function(tooltipItem, chart){
                    return '#543453';
                }
            }
        },
        plugins: {
            zoom: {
                /*
                pan: {
                    enabled: true,
                    mode: 'xy',
                    threshold: 5,
                },
                */
                zoom:{/*
                    wheel: {
                        enable: true
                    },*/
                    pinch: {
                        enable: true
                    },
                    mode: 'xy',
                },
                /*
                zoom: {
                    enabled: true,
                    mode: 'xy',
                },*/
            }
        },
    }
});

<!-- 주봉 차트 -->
var ctx = document.getElementById("myChart1");
var myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for r in result.week_history %} '{{r.trdDd}}', {% endfor %}],
        datasets: [{
            label: '종가',
            data: [{% for r in result.week_history %} '{{r.trdPrc}}', {% endfor %}],
            backgroundColor: [
                'rgba(235, 235, 235,0.8)',
            ],
            borderColor: [
                'rgba(75, 139, 228,0.5)',
            ],
            borderWidth:2,
        }]
    },
    options: {
        legend: {
            display: false
        },
        elements: {
            point:{
                radius: 0
            }
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display:false
                },
            }],
            yAxes: [{
                gridLines: {
                    color: "rgba(221, 223, 227, 0.3)"
                    //display:false
                },
                ticks: {
                    beginAtZero:false,
                    userCallback: function(value, index, values) {
                     return value.toLocaleString();   // this is all we need
                }
                }
            }]
        },
        tooltips:{
            mode: 'nearest',
            displayColors: true, // 툴팁 바 컬러 표시 여부
            backgroundColor: '#FFF', // 툴팁 배경
            titleFontSize: 16,
            titleSpacing: 50,
            titleMarginBottom: 16,
            titleMarginLeft: 26,
            titleFontStyle: 'bold',
            titleFontColor: "#000",
            bodyFontColor: '#000', // 툴팁 폰트 관련
            bodyFontSize: 18,
            borderWidth:2,
            cornerRadius: 6,
            xPadding:12,
            yPadding:20,
            footerMarginTop:30,
            caretPadding:15,
            borderColor: 'rgba(163, 163, 163,1)',
            callbacks: {
                title: function(tooltipItem) {
                    return this._data.labels[tooltipItem[0].index];
                },

                labelColor: function(tooltipItem, chart) {
                    return {
                        borderColor: 'rgba(75, 139, 228,1)',
                        backgroundColor: 'rgba(235, 235, 235,1)'
                    }
                },
                labelTextColor:function(tooltipItem, chart){
                    return '#543453';
                }
            }
        },
        plugins: {
            zoom: {
                /*
                pan: {
                    enabled: true,
                    mode: 'xy',
                    threshold: 5,
                },
                */
                zoom:{/*
                    wheel: {
                        enable: true
                    },*/
                    pinch: {
                        enable: true
                    },
                    mode: 'xy',
                },
                /*
                zoom: {
                    enabled: true,
                    mode: 'xy',
                },*/
            }
        },
    }
});

<!-- 월봉 차트 -->
var ctx = document.getElementById("myChart2");
var myChart3 = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for r in result.month_history %} '{{r.trdDd}}', {% endfor %}],
        datasets: [{
            label: '종가',
            data: [{% for r in result.month_history %} '{{r.trdPrc}}', {% endfor %}],
            backgroundColor: [
                'rgba(235, 235, 235,0.8)',
            ],
            borderColor: [
                'rgba(75, 139, 228,0.5)',
            ],
            borderWidth:2,
        }]
    },
    options: {
        legend: {
            display: false
        },
        elements: {
            point:{
                radius: 0
            }
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display:false
                },
            }],
            yAxes: [{
                gridLines: {
                    color: "rgba(221, 223, 227, 0.3)"
                    //display:false
                },
                ticks: {
                    beginAtZero:false,
                     userCallback: function(value, index, values) {
                     return value.toLocaleString();   // this is all we need
                }
                }
            }]
        },
        tooltips:{
            mode: 'nearest',
            displayColors: true, // 툴팁 바 컬러 표시 여부
            backgroundColor: '#FFF', // 툴팁 배경
            titleFontSize: 16,
            titleSpacing: 50,
            titleMarginBottom: 16,
            titleMarginLeft: 26,
            titleFontStyle: 'bold',
            titleFontColor: "#000",
            bodyFontColor: '#000', // 툴팁 폰트 관련
            bodyFontSize: 18,
            borderWidth:2,
            cornerRadius: 6,
            xPadding:12,
            yPadding:20,
            footerMarginTop:30,
            caretPadding:15,
            borderColor: 'rgba(163, 163, 163,1)',
            callbacks: {
                title: function(tooltipItem) {
                    return this._data.labels[tooltipItem[0].index];
                },

                labelColor: function(tooltipItem, chart) {
                    return {
                        borderColor: 'rgba(75, 139, 228,1)',
                        backgroundColor: 'rgba(235, 235, 235,1)'
                    }
                },
                labelTextColor:function(tooltipItem, chart){
                    return '#543453';
                }
            }
        },
        plugins: {
            zoom: {
                /*
                pan: {
                    enabled: true,
                    mode: 'xy',
                    threshold: 5,
                },
                */
                zoom:{/*
                    wheel: {
                        enable: true
                    },*/
                    pinch: {
                        enable: true
                    },
                    mode: 'xy',
                },
                /*
                zoom: {
                    enabled: true,
                    mode: 'xy',
                },*/
            }
        },
    }
});

<!-- 연봉 차트 -->
var ctx = document.getElementById("myChart3");
var myChart4 = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for r in result.year_history %} '{{r.trdDd}}', {% endfor %}],
        datasets: [{
            label: '종가',
            data: [{% for r in result.year_history %} '{{r.trdPrc}}', {% endfor %}],
            backgroundColor: [
                'rgba(235, 235, 235,0.8)',
            ],
            borderColor: [
                'rgba(75, 139, 228,0.5)',
            ],
            borderWidth:2,
        }]
    },
    options: {
        legend: {
            display: false
        },
        elements: {
            point:{
                radius: 0
            }
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display:false
                },
            }],
            yAxes: [{
                gridLines: {
                    color: "rgba(221, 223, 227, 0.3)"
                    //display:false
                },
                ticks: {
                    beginAtZero:false,
                     userCallback: function(value, index, values) {
                     return value.toLocaleString();   // this is all we need
                }
                }
            }]
        },
        tooltips:{
            mode: 'nearest',
            displayColors: true, // 툴팁 바 컬러 표시 여부
            backgroundColor: '#FFF', // 툴팁 배경
            titleFontSize: 16,
            titleSpacing: 50,
            titleMarginBottom: 16,
            titleMarginLeft: 26,
            titleFontStyle: 'bold',
            titleFontColor: "#000",
            bodyFontColor: '#000', // 툴팁 폰트 관련
            bodyFontSize: 18,
            borderWidth:2,
            cornerRadius: 6,
            xPadding:12,
            yPadding:20,
            footerMarginTop:30,
            caretPadding:15,
            borderColor: 'rgba(163, 163, 163,1)',
            callbacks: {
                title: function(tooltipItem) {
                    return this._data.labels[tooltipItem[0].index];
                },

                labelColor: function(tooltipItem, chart) {
                    return {
                        borderColor: 'rgba(75, 139, 228,1)',
                        backgroundColor: 'rgba(235, 235, 235,1)'
                    }
                },
                labelTextColor:function(tooltipItem, chart){
                    return '#543453';
                }
            }
        },
        plugins: {
            zoom: {
                /*
                pan: {
                    enabled: true,
                    mode: 'xy',
                    threshold: 5,
                },
                */
                zoom:{/*
                    wheel: {
                        enable: true
                    },*/
                    pinch: {
                        enable: true
                    },
                    mode: 'xy',
                },
                /*
                zoom: {
                    enabled: true,
                    mode: 'xy',
                },*/
            }
        },
    }
});
    if (myChart.data.datasets[0].data == ''){
        const element = document.getElementById('dayChart');
        element.innerHTML = '<div class="noChartdata"><p>코스콤 주식 서버의 문제로<br>데이터를 불러올수 없습니다.</p></div>';
    };
    if (myChart2.data.datasets[0].data == ''){
        const element = document.getElementById('weekChart');
        element.innerHTML = '<div class="noChartdata"><p>코스콤 주식 서버의 문제로<br>데이터를 불러올수 없습니다.</p></div>';
    };
    if (myChart3.data.datasets[0].data == ''){
        const element = document.getElementById('monthChart');
        element.innerHTML = '<div class="noChartdata"><p>코스콤 주식 서버의 문제로<br>데이터를 불러올수 없습니다.</p></div>';
    };
    if (myChart4.data.datasets[0].data == ''){
        const element = document.getElementById('yearChart');
        element.innerHTML = '<div class="noChartdata"><p>코스콤 주식 서버의 문제로<br>데이터를 불러올수 없습니다.</p></div>';
    };
</script>
<script>
    var csrftoken = getCookie('csrftoken');
    function getCookie(cname) {
        var name = cname + "=";
            decodedCookie = decodeURIComponent(document.cookie);
            ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i].trim();
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

<!--    async function get_current_price(marketcode, issuecode, result_position) {-->
<!--        var result_text = document.getElementsByClassName(result_position);-->
<!--            data = { marketcode, issuecode };-->
<!--            result = await fn_koscom(data);-->
<!--        console.log(JSON.stringify(result.result));-->
<!--        if(result.result !== 'False') {-->
<!--            for (i=0; i < result_text.length; i++)-->
<!--                result_text[i].innerHTML = result.result['trdPrc'];-->
<!--        }-->
<!--    }-->

    function fn_koscom(data) {
        var headers = new Headers();
        headers.append('Content-Type', 'application/json');
        headers.append('X-CSRFToken', csrftoken);
        var response = fetch('/current_stock', {
            method: "POST",
            headers: headers,
            body: JSON.stringify(data)
        })
        return response.then(res => {
            if(res.status === 200) return res.json();
            else console.log(res.statusText);
        })
        .catch(err => {
            console.log(err);
        })
    }

    async function get_history(marketcode, issuecode, trnsmCycleTpCd) {
        let today = new Date();
        let year = today.getFullYear().toString().padStart(2, '0');
        let month = (today.getMonth() + 1).toString().padStart(2, '0');
        let date = today.getDate().toString().padStart(2, '0');

        let c_trnsmCycleTpCd = 'D'
        if(trnsmCycleTpCd == 'Y')
            c_trnsmCycleTpCd = 'M';
        else
            c_trnsmCycleTpCd = trnsmCycleTpCd;

        let history_result = await fn_koscom_history(marketcode, issuecode, c_trnsmCycleTpCd, year+month+date)
        if(history_result.result && trnsmCycleTpCd == 'Y')
            history_result = cal_year_history(history_result.result)
        console.log(history_result.result)
    }

<!--    function fn_koscom_history(marketcode, issuecode, trnsmCycleTpCd, today) {-->
<!--        let data = {-->
<!--            'marketcode': marketcode,-->
<!--            'issuecode': issuecode,-->
<!--            'trnsmCycleTpCd': trnsmCycleTpCd,-->
<!--            'inqStrtDd': '19800101',    //의미없는 최대값-->
<!--            'inqEndDd': today,          //오늘 날짜-->
<!--            'reqCnt': '500'             //의미없는 최대값-->
<!--        }-->
<!--        headers = new Headers();-->
<!--        headers.append('Content-Type', 'application/json');-->
<!--        headers.append('X-CSRFToken', csrftoken);-->
<!--        let response = fetch('/get_history', {-->
<!--            method: "POST",-->
<!--            headers: headers,-->
<!--            body: JSON.stringify(data)-->
<!--        })-->
<!--        return response.then(res => {-->
<!--            if(res.status === 200) return res.json();-->
<!--            else console.log(res.statusText);-->
<!--        })-->
<!--        .catch(err => {-->
<!--            console.log(err);-->
<!--        })-->
<!--    }-->

    function cal_year_history(result) {
        let temp_year = ''
        let year_trdPrc = new Array();
        let array_num = 0
        for (let num in result) {
            let cur_year = result[num].trdDd.toString().substring(0, 4)
            if (cur_year != temp_year) {
                temp_year = cur_year
                year_trdPrc[array_num++] = result[num]
            }
        }
        return {result: year_trdPrc}
    }

    function fn_buy_stock() {
        var marketcode = document.getElementById('buy_marketcode').value;
        var issuecode = document.getElementById('buy_issuecode').value;
        var current_price = document.getElementById('buy_price').value;
        var share = document.getElementById('buy_share').value;
        var howmuch = $('#howmuch').val();
        if(share == '' || share == 0) {
            alert('구매할 주를 입력해주세요.');
        }
        else if(share > howmuch) {
            alert('구매 가능한 주를 입력해주세요.');
        }
        else{
            var headers = new Headers();
            headers.append('Content-Type', 'application/json')
            headers.append('X-CSRFToken', csrftoken)
            var data = { marketcode, issuecode, current_price, share }
            fetch('/buy_stock', {
                method: "POST",
                headers: headers,
                body: JSON.stringify(data)
            })
            .then(res => {
                if(res.status === 200) return res.json();
                else console.log(res.statusText);
            })
            .then(json => {
                console.log(json.result);
            })
            .catch(err => {
                console.log(err)
            })
            alert('매수 완료\n'+ $('#buy_share').val()+'주');
            var here = window.location.href;
                        location.replace(here);
        }
    }

    function fn_sold_stock() {
        var marketcode = document.getElementById('sold_marketcode').value
            issuecode = document.getElementById('sold_issuecode').value
            current_price = document.getElementById('buy_price').value
            share = document.getElementById('sold_share').value;
            curr_share = document.getElementById('curr_share').value;
        var sold_stock =  curr_share - share ;
            if (sold_stock < 0 ){
                alert("보유 주식보다 더 많이 매도할 수 없습니다.");
            }
            else{
            var headers = new Headers();
            headers.append('Content-Type', 'application/json')
            headers.append('X-CSRFToken', csrftoken)
            var data = { marketcode, issuecode, current_price, share }
            fetch('/sold_stock', {
                method: "POST",
                headers: headers,
                body: JSON.stringify(data)
            })
            .then(res => {
                if(res.status === 200) return res.json();
                else console.log(res.statusText);
            })
            .then(json => {
                console.log(json.result);
            })
            .catch(err => {
                console.log(err)
            })
            alert('매도 완료 \n'+ $('#sold_share').val()+'주');
            var here = window.location.href;
            location.replace(here);
        }
        }

    function fn_get_selectivemaster() {
        var marketcode = document.getElementById('buy_marketcode').value
            issuecode = document.getElementById('buy_issuecode').value

        var headers = new Headers();
        headers.append('Content-Type', 'application/json')
        headers.append('X-CSRFToken', csrftoken)
        var data = { marketcode, issuecode }
        fetch('/get_selectivemaster', {
            method: "POST",
            headers: headers,
            body: JSON.stringify(data)
        })
        .then(res => {
            if(res.status === 200) return res.json();
            else console.log(res.statusText);
        })
        .then(json => {
            console.log(json.result);
        })
        .catch(err => {
            console.log(err)
        })
    }

    function fn_currentPrice() {
        var result_text = document.getElementsByName('price');
        for (i=0; i < result_text.length; i++)
            result_text[i].value = document.getElementsByClassName('current_price')[0].innerText;
    }

    // 업종분류 업데이트
    function fn_stocksector_update() {
        var stocksector_update_alert = document.getElementById('stocksector_update_alert');
        stocksector_update_alert.innerText = 'Please wait until the stocksector updating is over';

        var headers = new Headers();
        headers.append('Content-Type', 'application/json')
        headers.append('X-CSRFToken', csrftoken)
        fetch('/stocksector_update', {
            method: "POST",
            headers: headers
        })
        .then(res => {
            if(res.status === 200) return res.json();
            else console.log(res.statusText);
        })
        .then(json => {
            console.log(json.result);
            stocksector_update_alert.innerText = json.result + ' stocksector updating!!!'
        })
        .catch(err => {
            console.log(err);
            stocksector_update_alert.innerText = 'Fail stocksector updating!!!'
        })
    }
</script>
<script>
// 상한가 하한가에 따른 글자색 스크립트(빨강, 파랑)
$( document ).ready(function() {
    var element = document.getElementById('howup');
    var int = element.innerHTML;
    var stockprice = int.replace(",",'')
    var number = Number(stockprice);
    if (number > 0) {
    $('#howup').addClass('red');
    $('.percent').addClass('red');
    $('.fa-angle-down').hide();
    $('.fa-minus').hide();
    }
    else if (number === 0 ) {
    $('.fa-angle-down').hide();
    $('.fa-angle-up').hide();
    }
    else {
    $('#howup').addClass('blue');
    $('.percent').addClass('blue');
    $('.fa-angle-up').hide();
    $('.fa-minus').hide();
    }
});
$( document ).ready(function() {
var number = {{user.invest|add:result.total|div:result.curPrice|floatformat}};
var final = Math.trunc(number);
$('#howmuch').val(final);
});
$.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });

    function pick(){
    if ($(".pick").hasClass("gold") === false){
        var data = {{star}};
        alert('관심 종목에 등록이 되었습니다.');
         $.ajax({
        type:'post',
        url:'{% url 'stocks:boomark' result.marketcode result.isuSrtCd  %}',
        data:JSON.stringify(data),
        success:function(json){
        $('.pick').addClass('gold');
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText);
        }
        });
    }else{
        var data = {{star}};
        alert('관심 종목에 등록이 해지 되었습니다.');
         $.ajax({
        type:'post',
        url:'{% url 'stocks:boomark' result.marketcode result.isuSrtCd  %}',
        data:JSON.stringify(data),
        success:function(json){
        $('.pick').removeClass('gold');
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText);
        }
        });
    }}

</script>
<div  style="display:none;">
    <form action = "{% url 'stocks:boomark' result.marketcode result.isuSrtCd  %}" method="POST" id="form3">
        {% csrf_token %}
    </form>
</div>
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper', {
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
    function move_page(index){
    swiper.slideTo(index)
    swiper.update();
    }
    function info(issuecode, marketcode) {
        document.getElementById('issuecode').value = issuecode;
        document.getElementById('marketcode').value = marketcode;
        const form = document.getElementById('form');
        form.action="/stock_info"
        form.submit();
    }
    var body_height = $('.myChartDiv').height();
    $('.swiper-wrapper').height(body_height)
    $('.swiper').height(body_height)
    swiper.update();
</script>
<Style>
    .swiper-scrollbar-drag{
    background:#93bcf9;
    }
    .swiper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .swiper-slide {
        overflow-y: scroll;
    }
    .myChartDiv {
  max-width: 100%;
  max-height: 100%;
}
</Style>
{% endblock %}
