@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Playfair+Display:400,400i,700,700i,900,900i');

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


    blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
        h6, input, li, ol, p, pre, td, textarea, th, ul {
        padding: 0;
        margin: 0
    }
    
    a {
        text-decoration: none
    }
    
    table {
        border-spacing: 0
    }
    
    fieldset, img {
        border: 0
    }
    
    
    
    strong {
        font-weight: 700
    }
    
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0
    }
    
    caption, th {
        text-align: left
    }
    
    
    q:after, q:before {
        content: ''
    }
    
    abbr, acronym {
        border: 0
    }
    
    
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        width:100vw;
        height:100vh;
        }
    
    body {
        font-family: 'NanumBarunGothic' sans-serif;
        font-size: 16px;
        overflow-x: hidden
    }
    .section {
        position: relative;
        background-size: cover;
        background-position: center;
        width:100vw;
        height:100vh;
        position: relative;
        z-index: 3;
    }
    
    .choose-us {
        background-position: center;
        width:100vw;
        height:100vh;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 200px 0;
        z-index: 1;
    }
    
    .notice {
        background-position: center;
        width:100vw;
        height:100vh;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 200px 0;
        z-index: 1;
    }
    
    .section-1-button {
        padding: .93em 1.87em;
        background: #35495e;
        border-radius: 5px;
        display: block;
        color: #fff
    }
    
    
    #logo {
        position: fixed;
        top: 20px;
        left: 20px;
        color: #fff;
        font-weight: 700;
        z-index: 99;
        font-size: 1.9em;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased
    }
    
    #menu-line {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 159px;
        height: 2px;
        background: #fff
    }
    
    #menu {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 70;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        letter-spacing: 1px;
        font-size: 1.1em
    }
    
    #menu li {
        display: inline-block;
        margin: 10px 0;
        position: relative
    }
    
    #menu a {
        color: #fff;
        padding: 0 1.1em 1.1em 1.1em
    }
    
    #menu li.active a:after {
        content: '';
        margin: 0 1.1em 0 1.1em;
        height: 2px;
        background: #fff;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        display: block
    }
    
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        color: white;
        background: rgb(77, 77, 77);
    
    }
    
    .footer li a {
        display: block;
        padding: 12px 22px;
        font-size: 16px;
        font-weight: 500;
        color: #6a6a77;
        transition: 0.3s
    
    }
    
    /* 화면 너비 0 ~ 768px */
    @media (max-width: 768px){
        #cont_left {float: none; width: 100%;}
        #cont_center {border-left: 0;}
        }
        .hero-text h1 {
            font-family: 'S-CoreDream-9Black', sans-serif;
            color: #fff;
            font-size: 60px;
            margin-bottom: 60x;
            line-height: 60px;
            white-space: nowrap;
        }
        .hero-text-img>a>img {
            width: 180px;
            margin-top : 15px;
            margin-bottom: 110px;
            padding-right: 10px;
            
        }
        .footer {
            text-align: left;
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            white-space: wrap;
        }
    
    /* 화면 너비 0 ~ 600px */
    @media (max-width: 600px){
        .header {height: auto;}
        .header .header_tit {display: none;}
        .header .header_icon {display: none;}
        .title .btn {display: none;}
    
        .navbar > div li {width: 100%;}
        .navbar > div:last-child li {width: 100%;}
        .hero-text h1 {
            font-family: 'S-CoreDream-9Black', sans-serif;
            color: #fff;
            font-size: 50px;
            margin-bottom: 60x;
            line-height: 50px;
            white-space: nowrap;
        }
        .hero-text-img>a>img {
            width: 160px;
            margin-top : 15px;
            margin-bottom: 110px;
            padding-right: 10px;
            
        }
        .footer {
            text-align: left;
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            white-space: wrap;
        }
    }