{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::추가하기{% endblock title %}
{% block nav %}
<style>
    .loader-main{
    bottom:0px !important;
    }

    #footer {
        display: none;
    }

    #container {
        margin: 0 20px !important;
    }

    /* FOOTER에서 사용하는 CSS */
    ::-webkit-scrollbar {
        width: 10px;
        background-color: wheat;
        display: block;
    }

    ::-webkit-scrollbar-thumb {
        width: 30px;
    }

    .income_div {
        display: none;
    }

    th {
        white-space: initial;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .span_div,
    .income_div {
        padding: 5px;
    }

    #ui-id-1{
        height:20%;
        width:230px !important;
        overflow:scroll;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 420px) {
        .span_table a {
            font-size: 15px;
        }

        .input_span {
            font-size: 15px;
            border-bottom: 1px solid rgb(202, 202, 202);
        }

        .span_list_select {
            font-size: 15px;
            border-bottom: 1px solid rgb(202, 202, 202);
        }
    }
</style>
<!-- 상단바 영역 시작 -->
<div id="nav" style="border-bottom: 1px solid #f1f1f1;">
  <div>
      <div style="text-align:center;">
          <a style="color: #fff;" href="javascript:history.back();">
          <i class="fa fa-angle-left"></i>
          </a>지출 작성
      </div>
  </div>
</div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

{% block container %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Limelight&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Pacifico&display=swap" rel="stylesheet"></head>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="addEvent-wrap">
    <form id="spend_form" action="{%url 'calendars:add_spend_calendar' %}" method="POST" id="add_form">
        {% csrf_token %}
    <div class="span_div" id="span_div">
        <div class="span_list">
                <input type="text" style="display: none;" readonly name="user" value="{{user.user_id}}"/>
                <input type="text" style="display: none;" readonly name="kind" value="지출"/>
            <table min-width="300" class="span_table">
                <tr> <!-- 행선언 -->
                    <th width="200" height="60"><a class="span_list_title">금액</a></th>
                    <th width="240" style="text-align: end;"><input class="input_span" id="amount" type="number" name="amount" pattern="\\d*" value="{{form.amount.value|default_if_none:''}}"></th>
                </tr>
                <tr> <!-- 행선언 -->
                    <th width="200" height="60"><a class="span_list_title">날짜</a></th>
                    <th width="240" style="text-align: end;"><input style="text-align:center;" class="input_span" type="date" id="date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="spend_date" value="{{form.spend_date.value|default_if_none:''}}"></th>
                </tr>
                <tr>
                    <th width="200" height="60"><a class="span_list_title">소비처</a></th>
                    <th width="240" style="text-align: end;"><input class="input_span stock" type="text" id="place" name="place" autocomplete="on" value="">
                </tr>
                </tr>
                <tr> <!-- 행선언 -->
                    <th width="200" height="60"><a class="span_list_title">결제수단</a></th>
                    <th width="240" style="text-align: end;">
                        <select class="span_list_select" id="way" name="way" style="text-align:center;">
                            <option style="text-align: center;" value='0' selected>선택</option>
                            <option value='1'>현금</option>
                            <option value='2'>카드</option>    
                        </select></th>
                </tr>
                <tr> <!-- 행선언 -->
                    
                    <th width="200" height="60"><a class="span_list_title">카테고리</a></th>
                    <th width="240" style="text-align: end;">
                        <select class="span_list_select" id="category" name="category" style="text-align:center;">
                        <option style="text-align: center;" value='0' selected>선택</option>
                        <option value='1'>금융/보험</option>
                        <option value='2'>저축</option>
                        <option value='3'>온라인쇼핑</option>
                        <option value='4'>출금</option>
                        <option value='5'>생활/마트</option>
                        <option value='6' >카페/간식</option>
                        <option value='7'>기타지출(사회생활비)</option>
                        <option value='8'>교통/차량유지</option>
                        <option value='9'>주거생활/통신</option>
                        <option value='10'>식사</option>
                        <option value='11'>의료/건강</option>
                        <option value='12'>문화/예술</option>
                        <option value='13'>교육비</option>
                        </select>
                    </th>
                </tr>
                <tr> <!-- 행선언 -->
                    <th width="200" height="60"><a class="span_list_title">카드사</a></th>
                    <th width="240" style="text-align: end;">
                        <select class="span_list_select" id="card" name="card" style="text-align:center;">
                            <option style="text-align: center;" value='0' selected>선택</option>
                            <option value='1'>국민카드</option>
                            <option value='2'>롯데카드</option>
                            <option value='3'>BC카드</option>
                            <option value='4'>삼성카드</option>
                            <option value='6'>신한카드</option>
                            <option value='7'>하나카드</option>
                            <option value='8'>현대카드</option>
                            <option value='9'>농협카드</option>
                            <option value='10'>시티카드</option>
                            <option value='11'>카카오뱅크카드</option>
                        </select>
                    </th>
                </tr>
                <tr> <!-- 행선언 -->
                    <th width="200" height="60"><a class="span_list_title">메모</a></th>
                    <th width="240" style="text-align: end;"><textarea class="input_textarea" rows="1" name="memo" placeholder="메모"></textarea></th>
                </tr>
            </table>
        </div>

        <div style="text-align:center; margin-top:15px;">
        <div class="addBtn" onclick="submit()" style="line-height:47px;">추가하기</div>
        </div>
    </div>
    </form>
</div>

<script>
$(document).ready(function(){
    let today = moment();
    let today2 = today.format('YYYY-MM-DD')
    $('#date').attr('value', today2);
    });

function submit(){
    var max_int = 210000000;

    if ($('#amount').val() == '') {
        alert('금액을 입력해주세요.');
        return false;
    }
    else if ($('#amount').val() >= max_int) {
        alert('입력받을수 있는 금액 범위를 초과하였습니다.');
        return false;
    }
    else if ($('#where').val() == '') {
        alert('소비처를 작성해주세요.');
        return false;
    }
    else{
    const form = document.getElementById('spend_form');
    form.action="{%url 'calendars:add_spend_calendar' %}"
    form.submit();
    }
    }




    $(function() {
        var cardlist_Tags = [{% for i in wntlr %}
        '{{i.ss_isukorabbrv}}',
        {% endfor %}];
        $('#place').autocomplete({
            source: cardlist_Tags,
        });
     });
/*
    $(document).ready(function(){
        //키를 누르거나 떼었을때 이벤트 발생
        $("#numcomma").bind('keyup keydown',function(){
            inputNumberFormat(this);
        });
    
        //입력한 문자열 전달
        function inputNumberFormat(obj) {
            obj.value = comma(uncomma(obj.value));
        }
          
        //콤마찍기
        function comma(str) {
            str = String(str);
            return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
        }
    
        //콤마풀기
        function uncomma(str) {
            str = String(str);
            return str.replace(/[^\d]+/g, '');
        }
    
        //숫자만 리턴(저장할때)
        //alert(cf_getNumberOnly('1,2./3g')); -> 123 return
        function cf_getNumberOnly (str) {
            var len      = str.length;
            var sReturn  = "";
    
            for (var i=0; i<len; i++){
                if ( (str.charAt(i) >= "0") && (str.charAt(i) <= "9") ){
                    sReturn += str.charAt(i);
                }
            }
            return sReturn;
        }
    });*/
</script>

{% endblock %}