{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::검색결과{% endblock title %}
{% block container %}
{% load humanize %}
{% load mytag %}

<style>
   /* FOOTER에서 사용하는 CSS */
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }

  #pagenation_list{
    background-color: #93bcf9;
  }
  #pagenation_list a{
    color: #fff;
  }
  #pagenation_summary a, #pagenation_calendar a{
    color: #adadad;
  }
  .footer-line-calendar{
    width:50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
</style>

<!-- pagenation -->
<div class="pagenation">
  <ul>
    <li id="pagenation_summary"><a href="{% url 'calendars:summary' %}">요약</a></li>
    <li id="pagenation_list"><a href="{% url 'calendars:history' %}">내역</a></li>
    <li id="pagenation_calendar"><a href="{% url 'calendars:top5' %}">TOP 5</a></li>
  </ul>
</div>
<!-- pagenation 끝 -->


<div class="addevent-btn" onclick="more_btn()"><i class="fas fa-pencil-alt" style="color: #fff;font-size:18px;"></i></div>
<div class="addevent-btn spend_btn" style="bottom:100px;display:none;"><a style="color: #fff;font-size:18px;" href="{% url 'calendars:add_spend_calendar' %}">지출</a></div>
<div class="addevent-btn income_btn" style="bottom:150px;display:none;"><a style="color: #fff;font-size:18px;" href="{% url 'calendars:add_income_calendar' %}">수입</a></div>


<div class="filter-menu">
  <div class="filter-menu-title">
    <a>상세검색</a>
    <a style="float: right; display:none;" onclick="hideBtn()" id="hide-btn"><i style="margin-right: 5px;" class="fas fa-chevron-up"></i></a>
    <a style="float: right;" onclick="showBtn()" id="show-btn"><i style="margin-right: 5px;" class="fas fa-chevron-down"></i></a>
  </div>

  <script>
      function hideBtn() {
        $('#filter-contents').fadeOut();
        document.getElementById('hide-btn').style.display="none";
        document.getElementById('show-btn').style.display="";
      }
      function showBtn() {
        $('#filter-contents').fadeIn();
        document.getElementById('hide-btn').style.display="";
        document.getElementById('show-btn').style.display="none";
      }
      function check_date(){
      if  ($("#start_date").val() == 0){
      alert('시작 날짜를 입력 부탁드립니다.');
      }
      else if  ($("#end_date").val() == 0){
      alert('종료 날짜를 입력 부탁드립니다.');
      }
      else if ($("#end_date").val() < $("#start_date").val()) {
          alert('끝나는 날짜가 앞설 수 없습니다.');
      }
      else{
      const form = document.getElementById('search_form');
      form.action="{% url 'calendars:detail_search' %}" ;
      form.submit();
      }};

      // 연필모양(지출,수입 내역 입력시)
    function more_btn() {
      if ($('.spend_btn').css('display') == 'none') {
        $('.spend_btn').fadeIn();
        $('.income_btn').fadeIn();
        } else {
          $('.spend_btn').fadeOut();
          $('.income_btn').fadeOut();
      }
    };
    </script>

  <div class="filter-menu-contents" id="filter-contents" style="display: none;padding-top:15px;">
    <form class="check_box_form" action="{% url 'calendars:detail_search' %}" method="post" id="search_form">
      {% csrf_token %}
      <div style="text-align: center;">
        <input class="search-date" type="date" id="start_date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="start_date" value="" style="color:grey"> ~
        <input class="search-date" type="date" id="end_date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="end_date" value="" style="color:grey">
        <div style="display: flex;justify-content: center;">
          <div class="search-btn" onclick="check_date()">상세 검색</div></div>
      </div></form>
  </div>
</div>


<table class="list-table" id="list-table">
  <colgroup>
    <col width="*"/>
    <col width="*"/>
  </colgroup>
  <tbody id="list-table-tbody">
  {% for filter in total_date %}
  <tr class="tr-month-title">
    {% ifchanged filter.spend_date.month %}
    <th colspan="2" class="th-month-title" style="text-align:center;">
      <div style="display:flex;align-items:center;justify-content:center">
        <img src="media/date.png" style="margin-right: 5px; width:30px; height:30px; vertical-align: -webkit-baseline-middle;">{{ filter.spend_date | date:'m월' }}
      </div>
    </th>
    {% endifchanged %}
  </tr>
  {% ifchanged filter.spend_date.day %}
  <tr style="vertical-align:top;" id="date_title">
    <th style="text-align:left;padding-left:5px; border-bottom:1px solid #dddddd;">
      <img src="media/date.png" style="margin-right: 5px; width:30px; height:30px; vertical-align: -webkit-baseline-middle;">
      <a style="font-weight: 100; color:#3a3a3a;font-size:20pt; vertical-align: inherit;">{{ filter.spend_date | date:'d일' }}</a>
    </th>
    <th style="text-align:right;font-size:13px; border-bottom:1px solid #dddddd; vertical-align: middle;">

    </th>
    {% endifchanged %}
  </tr>

  {% if filter.kind == "지출" %}
  <tr onclick="location.href='{% url 'calendars:edit_calendar'  filter.kind filter.spend_id %}'">
    {% else %}
  <tr onclick="location.href='{% url 'calendars:edit_calendar' filter.kind filter.spend_id %}'">
    {% endif %}
    <td style="vertical-align:top;">
      <div style="text-align:left;padding-left:30px;">
        {% if filter.kind == "지출" %}
        <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a; display:block;">{{ filter.place }}</a>
        {% elif filter.kind == "수입" %}
        <a class="date_list_category">{% if filter.place == '0' %} 선택안함 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '1' %} 금융/보험 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '2' %} 저축 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '3' %} 온라인쇼핑 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '4' %} 출금 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '5' %} 생활/마트 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '6' %} 카페/간식 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '7' %} 기타지출(사회생활비) {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '8' %} 교통/차량유지 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '9' %} 주거생활/통신 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '10' %} 식사 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '11' %} 의료/건강 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '12' %} 문화/예술 {% endif %}</a>
        <a class="date_list_category">{% if filter.place == '13' %} 교육비 {% endif %}</a>
        {% endif %}
        <!--<a style="text-align:left;font-size: 13px; color:gray;display:block;">{{ detail.spend_date | date:'h:m' }}</a>-->
      </div>
    </td>
    <td style="vertical-align: top;">
      <div style="text-align:right; padding-right:15px;">
        {% if filter.kind == '지출' %}
        <a class="amount" style="color: #2a2a2a">-{{ filter.amount|intcomma }}원</a>
        {% else %}
        <a class="amount" style="color: #2a2a2a">+{{ filter.amount|intcomma }}원</a>
        {% endif %}
      </div>
    </td>
  </tr>
  {% empty %}
  <style>
      .list-table{display: none;}
    </style>
  <div class="no-top5">
    <div class="no-detailsearch-content">
      <img style="display:block; margin:0 auto 15px auto;" width="100" src="media/LEMON.png">
      <a class="no-top5-text">내역이 없습니다.</a>
    </div>
  </div>
  {% endfor %}
  </tbody>
  <!-- swiper div 끝 -->

</table>

{% endblock %}