{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::검색결과{% endblock title %}
{% block container %}
{% load humanize %}
{% load mytag %}

<style>
   /* FOOTER에서 사용하는 CSS */
   .bottom-nav-calendar{
    color: #FFD859 !important;
  }

  .bottom-nav-calendar a{
    color: #FFD859 !important;
  }

  .bottom-nav-search-stock a,.bottom-nav-home a,
  .bottom-nav-stock a,.bottom-nav-addlist a,
  .bottom-nav-myinfo a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #D1D6DA !important;
  }
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  .pagenation{
    background-color: #f5f5f5;
    z-index: 10;
    padding:0;
    bottom: 70px;
    left: 28px;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
  }
  .pagenation li{
    padding-top: 2px;
    font-weight: 500;
    border-radius: 20px;
    width : 24%;
    height: 30px;
    display:inline-block;
  }

  #pagenation_list{
    background-color: #4C8AE5;
  }
  #pagenation_list a{
    color: #fff;
  }
  #pagenation_recom a, #pagenation_summary a, #pagenation_calendar a{
    color: #adadad;
  }
  .gotoday_btn,.prev_btn,.next_btn,.prev_btn i,.next_btn i{
    color: #3a3a3a;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .filter-menu{
    width: 95%;
		background-color:#fff;
		border-radius:10px;
		margin: 10px 10px 20px 10px;
		padding:10px 15px;
		border: 1px solid #f5f5f5;
  }
    .search-date{
    text-align: center;
    border:1px solid #adadad;
    border-radius: 5px;
    width:47%;
    height:30px;
    background:white;
  }
  .search-btn{
    margin: 25px 0 5px 0;
    width: 98%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #31bc8a;
    border: 0px;
    border-radius: 5px;
    color: #fff;
  }

  .th-month-title{
    text-align: right;
    vertical-align: bottom;
    border-left: none;
    border-right: none;
    border-top:  1px solid #dddddd;
    border-bottom:  1px solid transparent;
    color:#3a3a3a;
    font-size: 25px;
    font-weight: 500;
  }
  .th-month-title2{
    border-left: none;
    border-right: none;
    border-top:  1px solid #dddddd;
    border-bottom:  1px solid transparent;
  }

</style>

<!-- pagenation -->
<div class="pagenation">
  <ul>
<!--    <li id="pagenation_recom"><a href="{% url 'calendars:recom' %}">추천</a></li>-->
    <li id="pagenation_summary"><a href="{% url 'calendars:summary' %}">요약</a></li>
    <li id="pagenation_list"><a href="{% url 'calendars:history' %}">내역</a></li>
    <li id="pagenation_calendar"><a href="{% url 'calendars:top5' %}">TOP 5</a></li>
  </ul>
</div>
<!-- pagenation 끝 -->

<div class="swiper-slide" data-name="내역" data-hash="list">
<div class="filter-menu">
    <div class="filter-menu-title">
      <a>상세검색</a>
      <a style="float: right; display:none;" onclick="hideBtn()" id="hide-btn"><i style="margin-right: 5px;" class="fas fa-chevron-up"></i></a>
      <a style="float: right;" onclick="showBtn()" id="show-btn"><i style="margin-right: 5px;" class="fas fa-chevron-down"></i></a>
    </div>

     <script>
      function hideBtn() {
        $('#filter-contents').fadeOut();
        document.getElementById('hide-btn').style.display="none";
        document.getElementById('show-btn').style.display="";
      }
      function showBtn() {
        $('#filter-contents').fadeIn();
        document.getElementById('hide-btn').style.display="";
        document.getElementById('show-btn').style.display="none";
      }
    </script>

    <div class="filter-menu-contents" id="filter-contents" style="display: none;padding-top:15px;">
      <form class="check_box_form" action="{% url 'calendars:detail_search' %}" method="post">
    {% csrf_token %}
      <div style="padding-left:5px;padding-bottom:5px;">기간으로 검색하기</div>
      <div style="text-align: center;">
      <input class="search-date" type="date" id="start_date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="start_date" value=""> ~
      <input class="search-date" type="date" id="end_date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="end_date" value=""> <br>
    <button class="search-btn" type=submit>검색</button></form> <br>
      </div>
    </div>

  </div>
  <table class="list-table" id="list-table" style="background-color:#fff; border-radius:10px; margin: 15px 10px 60px 10px; padding:0 20px 60px 20px; border-collapse:separate; border-spacing:0 20px; "width="95%">
  <colgroup>
    <col width="*"/>
    <col width="*"/>
  </colgroup>
  <tbody id="list-table-tbody">
  {% for filter in total_date %}
  <tr class="tr-month-title">
  {% ifchanged filter.spend_date.month %}
    <th class="th-month-title">{{ filter.spend_date | date:'m월' }}</th>
    <th class="th-month-title2"></th>
  {% endifchanged %}
  </tr>
  {% ifchanged filter.spend_date.day %}
  <tr style="vertical-align:top;" id="date_title">
    <th style="text-align:left;padding-left:5px; border-bottom:1px solid #dddddd;">
      <img src="media/date.png" style="margin-right: 5px; width:30px; height:30px; vertical-align: -webkit-baseline-middle;">
      <a style="font-weight: 100; color:#3a3a3a;font-size:20pt; vertical-align: inherit;">{{ filter.spend_date | date:'d일' }}</a>
    </th>
    <th style="text-align:right;font-size:13px; border-bottom:1px solid #dddddd; vertical-align: middle;">

    </th>
  {% endifchanged %}
  </tr>

  {% if filter.kind == "지출" %}
  <tr onclick="location.href='{% url 'calendars:edit_calendar'  filter.kind filter.spend_id %}'">
  {% else %}
  <tr onclick="location.href='{% url 'calendars:edit_calendar' filter.kind filter.spend_id %}'">
  {% endif %}
    <td style="vertical-align:top;">
      <div style="text-align:left;padding-left:30px;">
        {% if filter.kind == "지출" %}
        <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a; display:block;">{{ filter.place }}</a>
        {% elif filter.kind == "수입" %}
        <a style="font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if filter.place == '1' %} 급여 {% endif %}</a>
        <a style="font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if filter.place == '2' %} 용돈 {% endif %}</a>
        <a style="font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if filter.place == '3' %} 금융수입 {% endif %}</a>
        <a style="font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if filter.place == '4' %} 사업수입 {% endif %}</a>
        <a style="font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if filter.place == '5' %} 기타 {% endif %}</a>
        {% endif %}
        <!--<a style="text-align:left;font-size: 13px; color:gray;display:block;">{{ detail.spend_date | date:'h:m' }}</a>-->
      </div>
    </td>
    <td style="vertical-align: top;">
        <div style="text-align:right; padding-right:15px;">
        {% if filter.kind == '지출' %}
        <a class="amount" style="color: #2a2a2a">-{{ filter.amount|intcomma }}원</a>
      {% else %}
        <a class="amount" style="color: #2a2a2a">+{{ filter.amount|intcomma }}원</a>
      {% endif %}
        </div>
      </td>
  </tr>    
  {% empty %}
    <style>
      .list-table{display: none;}
    </style>
    <div class="list-empty-wrap">
      <i class="fas fa-exclamation"></i><br>
      <a>소비내역 및 지출내역이 없습니다.</a>
    </div>
  {% endfor %}
  </tbody>
</div><!-- swiper div 끝 -->


{{i}}



</table>

{% endblock %}