{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::내역{% endblock title %}
{% block container %}
{% load humanize %}
{% load mytag %}
<style>
  a:active, a:visited{
    text-decoration: none;
    color:#8E8E8E;
  }
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  /* 내역페이지 페이지 네이션 */
  #pagenation_list{
    background-color: #93bcf9;
  }
  #pagenation_list a{
    color: #fff;
  }
  #pagenation_summary a, #pagenation_calendar a{
    color: white;
  }
.footer-line-calendar{
    width:50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
    }
</style>
<!-- pagenation -->
<div class="pagenation">
  <ul>
    <li id="pagenation_summary"><a href="{% url 'calendars:summary' %}">요약</a></li>
    <li id="pagenation_list"><a href="{% url 'calendars:history' %}">내역</a></li>
    <li id="pagenation_calendar"><a href="{% url 'calendars:top5' %}">TOP 5</a></li>
  </ul>
</div>
<!-- pagenation 끝 -->

<!-- 소비내역추가하기버튼 -->
<div class="addevent-btn" onclick="more_btn()"><i class="fas fa-pencil-alt" style="color: #fff;font-size:18px;"></i></div>
<div class="addevent-btn spend_btn" style="bottom:100px;display:none;"><a style="color: #fff;font-size:18px;" href="{% url 'calendars:add_spend_calendar' %}">지출</a></div>
<div class="addevent-btn income_btn" style="bottom:150px;display:none;"><a style="color: #fff;font-size:18px;" href="{% url 'calendars:add_income_calendar' %}">수입</a></div>
<!-- 소비내역추가하기버튼 끝 -->

<div class="swiper-slide" data-name="내역" data-hash="list">
  <!-- list-filter 시작 -->
  <div class="list-filter" style="text-align:center; padding-top:15px; color: #3a3a3a;">
      <form class="check_box_form" action="{% url 'calendars:history' %}" method="post">
        {% csrf_token %}
        <div style="margin-bottom: 10px;">
          <button style="margin-right: 15px;" class="prev_btn"  id="prev_btn">
            <i style="color: #93bcf9;" class="fas fa-chevron-left"></i></button>

          <b><a style="color:#3a3a3a;" id="year_atag">{{year}}</a>
            <a style="color:#3a3a3a;" id="year_atag2">년 </a>
            <a style="color: #3a3a3a;" id="month_atag">{{month}}</a>
            <a style="color: #3a3a3a;">월</a></b>
          <input type="hidden" name ="input_year" id="input_year" value="">
          <input type="hidden" name="input_month" id="input_month" value="">
          
          <button style="margin-left: 15px;" class="next_btn" id="next_btn"><i class="fas fa-chevron-right" style="color:#93bcf9"></i></button> <br>
        </div>
  </form>    
  </div><!-- list-filter 끝 -->


  <script>
    // 1. list 페이지 로딩완료시, year_atag, month_atag의 값을 변수에 저장
    $( document ).ready(function() {
      var today = new Date();
      var today2 = moment(today).format('YYYY');
      var getyear = document.getElementById('year_atag').innerText;
      var getmonth = document.getElementById('month_atag').innerText;
    // 2. views.py에 year와 month를 전달하기위해서 input 태그에 값을 각각 넣은뒤 버튼클릭(< , > 모양)시 form 태그 실행
      $('#input_year').val(getyear);
      $('#input_month').val(getmonth);

    // year_atag의 값이 올해와 일치할경우 년도를 안보이게 숨기기(ex.2022년 1월이면 1월로 표시)
    if(document.getElementById('year_atag').innerText == today2){
      document.getElementById('year_atag').style.display="none";
      document.getElementById('year_atag2').style.display="none";
    }
    });

    //3. 이전버튼(<)클릭시 함수 실행
    document.getElementById('prev_btn').addEventListener('click', prev_month);
    function prev_month() {
      let prevValYear = document.getElementById('input_year').value;
      let prevValMonth = document.getElementById('input_month').value;
      let temp_date = prevValYear+'-'+prevValMonth;
      let result_prev_val = moment(temp_date).subtract('1', 'month').format('YYYY-MM'); // 날짜에서 1달을 뺀다.
      let newYear = moment(result_prev_val).format('YYYY');
      let newMonth = moment(result_prev_val).format('MM')
      $('#input_year').val(newYear);
      $('#input_month').val(newMonth);
    }

    document.getElementById('next_btn').addEventListener('click', next_month);
    function next_month() {
      let prevValYear = document.getElementById('input_year').value;
      let prevValMonth = document.getElementById('input_month').value;
      let temp_date = prevValYear+'-'+prevValMonth;
      let result_prev_val = moment(temp_date).add('1', 'month').format('YYYY-MM'); // 날짜에서 1달을 더한다.
      let newYear = moment(result_prev_val).format('YYYY');
      let newMonth = moment(result_prev_val).format('MM')
      $('#input_year').val(newYear);
      $('#input_month').val(newMonth);
      }
    
    // 연필모양(지출,수입 내역 입력시)
    function more_btn() {
      if ($('.spend_btn').css('display') == 'none') {
        $('.spend_btn').fadeIn();
        $('.income_btn').fadeIn();
        } else {
          $('.spend_btn').fadeOut();
          $('.income_btn').fadeOut();
      }
    };
  </script>

  <div class="filter-menu">
    <div class="filter-menu-title">
      <div class="fa fa-search color-mc" style="padding-right:10px;color:#93bcf9"></div><a>상세검색</a>
      <a style="float: right; display:none;" onclick="hideBtn()" id="hide-btn"><i style="margin-right: 5px;" class="fas fa-chevron-up"></i></a>
      <a style="float: right;" onclick="showBtn()" id="show-btn"><i style="margin-right: 5px;" class="fas fa-chevron-down"></i></a>
  </div>

    <script>
      function hideBtn() {
        $('#filter-contents').fadeOut();
        document.getElementById('hide-btn').style.display="none";
        document.getElementById('show-btn').style.display="";
      }
      function showBtn() {
        $('#filter-contents').fadeIn();
        document.getElementById('hide-btn').style.display="";
        document.getElementById('show-btn').style.display="none";
      }
    </script>

    <div class="filter-menu-contents" id="filter-contents" style="display: none;padding-top:15px;">
      <form class="check_box_form" action="{% url 'calendars:detail_search' %}" method="post" id="search_form">
    {% csrf_token %}
      <div style="text-align: center;">
      <input class="search-date" type="date" id="start_date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="start_date" value=""> ~
      <input class="search-date" type="date" id="end_date" min="1900-01-01" max="2099-12-31" autocomplete="off" name="end_date" value="">
        <div style="display: flex;justify-content: center;">
    <div class="search-btn" onclick="check_date()">상세 검색</div></div>
      </div></form>
    </div>

  </div>

  {% for message in messages %}
  <div class="alert-auto-dismissible">
  <div class="alert alert-{{message.tags}}" role="alert" style="margin: 1.5rem 15px 0 15px;">
    {{message.message}}
  </div>
  </div>
    
  {% endfor %}
    <script>
      /*Django Message를 통해 alert 메시지를 출력하면 4초 뒤에 메시지 사라짐*/
      window.setTimeout(function() {
        $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
    </script>

  <div> <!-- list-table 영역 시작 -->
    <table class="list-table" id="list-table">
      <colgroup>
        <col width="*"/>
        <col width="*"/>
      </colgroup>
      <tbody id="list-table-tbody">
      {% for detail in Detail_month %}
      {% ifchanged detail.spend_date.day %}
      <!-- 행 시작 -->
      <tr style="vertical-align:top;" id="date_title"> 
        <th class="date_title-th">
          <img src="media/date.png">
          <a>{{detail.income_id}}{{ detail.spend_date | date:'d 일' }}</a>
        </th>

        <th class="date_title-total">
          <div>
            {% if Income_day|find_income_money:detail.spend_date.day %}
            <a class="date_title-totalIncome">+{{Income_day|find_income_money:detail.spend_date.day|intcomma}}원</a>
            {% else %}{% endif %}

            {% if Spend_day|find_spend_money:detail.spend_date.day %}
            <a class="date_title-totalSpend">-{{ Spend_day|find_spend_money:detail.spend_date.day|intcomma }}원</a>
            {% else %}{% endif %}
            </div>
        </th>
        {% endifchanged %}
      </tr>

      <!-- 행 시작 -->
      {% if detail.kind == "지출" %}
      <tr onclick="location.href='{% url 'calendars:edit_calendar'  detail.kind detail.spend_id %}'">
      {% else %}
      <tr onclick="location.href='{% url 'calendars:edit_calendar' detail.kind detail.spend_id %}'">
        {% endif %}
        <td style="vertical-align:top;">
          <div style="text-align:left;">
            {% if detail.kind == "지출" %}
            <a class="date_list_category" id= "place">{{ detail.place }}</a>
            {% elif detail.kind == "수입" %}
            <a class="date_list_category">{% if detail.place == '0' %} 카테고리 미선택 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '1' %} 금융/보험 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '2' %} 저축 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '3' %} 온라인쇼핑 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '4' %} 출금 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '5' %} 생활/마트 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '6' %} 카페/간식 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '7' %} 기타지출(사회생활비) {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '8' %} 교통/차량유지 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '9' %} 주거생활/통신 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '10' %} 식사 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '11' %} 의료/건강 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '12' %} 문화/예술 {% endif %}</a>
            <a class="date_list_category">{% if detail.place == '13' %} 교육비 {% endif %}</a>
            {% endif %}
          </div>
        </td>
        <td style="vertical-align: top;">
          <div style="text-align:right;">
            {% if detail.kind == '지출' %}
            <a class="amount" style="color: #2a2a2a">-{{ detail.amount|intcomma }}원</a>
            {% else %}
            <a class="amount" style="color: #2a2a2a">+{{ detail.amount|intcomma }}원</a>
            {% endif %}
          </div>
        </td>
      </tr>
    {% empty %}
    <style>
      .list-table{display: none;}
    </style>
    <div class="no-top5">
      <div class="no-history-content">
        <img style="display:block; margin:0 auto 15px auto;" width="100" src="media/LEMON.png">
        <b class="no-top5-text">내역이 없습니다</b>
      </div>
    </div>
    {% endfor %}
  </tbody>
  </table>
</div>
</div><!-- list-table 영역 끝 -->
<!--- 내역 SWIPER div영역 끝 --->
<script>
function check_date(){
  if  ($("#start_date").val() == 0){
  alert('시작 날짜를 입력 부탁드립니다.');
  }
  else if  ($("#end_date").val() == 0){
  alert('종료 날짜를 입력 부탁드립니다.');
  }
  else if ($("#end_date").val() < $("#start_date").val()) {
      alert('끝나는 날짜가 앞설 수 없습니다.');
  }
  else{
  const form = document.getElementById('search_form');
  form.action="{% url 'calendars:detail_search' %}" ;
  form.submit();
  }};

    //$('.footer-selector').fadeIn(550);
      //document.getElementById('footer_calendar').src = "/media/calendar_active.png";
</script>
<script>
  var myElement = document.getElementById('container');

  // create a simple instance
  // by default, it only adds horizontal recognizers
  var mc = new Hammer(myElement);

  // listen to events...
  mc.on("swipeleft", function(ev) {
      window.location.href="/top5";
  });

  mc.on("swiperight", function(ev) {
      window.location.href="/summary";
});
</script>
{% endblock container%}
