{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::추가하기-sms{% endblock title %}

{% block nav %}
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
      <div style="text-align:center;">
        <a style="color: #fff;" href="javascript:history.back();">
          <i class="fa fa-angle-left" style="position: absolute;
          left: 5px;
          padding: 14px 15px;
          top: 0;
          font-size: 25px;
          font-weight: 600;color:black;">
          </i>
        </a>지출 작성
      </div>
    </div>
  </div>
{% endblock %}
{% block container %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Limelight&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Pacifico&display=swap" rel="stylesheet"></head>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  #footer{
    display: none;
  }
  #container{
    margin: 0 20px !important;
  }
    /* FOOTER에서 사용하는 CSS */

  .bottom-nav-search-stock a,
  .bottom-nav-stock a,.bottom-nav-addlist a,
  .bottom-nav-myinfo a{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #D1D6DA !important;
  }
  ::-webkit-scrollbar{
    width: 10px;
    background-color: wheat;
    display: block;
    }
  ::-webkit-scrollbar-thumb{
  width: 30px;
  }
  .income_div{
    display: none;
  }
  .addEvent-wrap{
    background-color: #fff;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 768px;
    height: 100%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 2px 3px 4px 1px rgb(202, 202, 202);
    border-radius: 15px;
    padding: 15px;
  }
  .list{
    text-align: center;
  }
  input[type="radio"] {
    display: none;
  }
  th{
    white-space: initial;
  }
  label {
  width: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #4C8AE5;
  transition: 0.25s;
  padding: 6px 18px;
  cursor: pointer;
  font-size: 20px;
  margin: 3px;
  }
  input[type="radio"]:checked + label {
  width: 100px;
  background: #4C8AE5;
  color: #fff;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .span_div,.income_div{
    padding: 5px;
  }
  .span_list_title{
    color: #000;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .input_span{
    width: 230px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    text-align: right;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    /* ios 기능 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;

  }
  .span_list_select{
    border-top: none;
    border-left: none;
    border-right: none;
    width:230px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
    font-size:15px;
    /* ios 기능 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(202, 202, 202);
  }
  .income_list_title{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-right: 2rem;
  }
  .input_textarea{
    width: 230px;
        height:150px;
    overflow:visible;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    resize: none;
    /* ios 기능 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;

  }
  .addBtn{
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #93bcf9;
    margin-top: 20px;
  }
  .ui-autocomplete {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  position:relative !important;
  left:0px !important;
  padding-left:20px;
  padding-right:20px;
  margin:40px;
  }

  ::-webkit-scrollbar {display:none;
  }
  @media screen and (max-width: 420px) {
    .span_table a{
      font-size: 15px;
    }
    .input_span{
      font-size: 15px;
      border-bottom: 1px solid rgb(202, 202, 202);
    }
    .span_list_select{
      font-size: 15px;
      border-bottom: 1px solid rgb(202, 202, 202);
    }
  }
</style>

<div class="addEvent-wrap">
  <form id="spend_form" action="{%url 'calendars:add_spend_calendar' %}" method="POST">
    {% csrf_token %}
  <div class="span_div" id="span_div">
    <div class="span_list">
        <input type="text" style="display: none;" readonly name="user" value="{{user.user_id}}"/>
        <input type="text" style="display: none;" readonly name="kind" value="지출"/>
      <table min-width="300" class="span_table">
        <tr> <!-- 행선언 -->
          <th width="200" height="60"><a class="span_list_title">금액</a></th>
          <th width="240" style="text-align: end;"><input class="input_span" type="number" name="amount" pattern="\\d*" value="{{ amount|default_if_none:'' }}"></th>
        </tr>
        <tr> <!-- 행선언 -->
          <th width="200" height="60"><a class="span_list_title">날짜</a></th>
          <th width="240" style="text-align: end;"><input style="text-align:center;" class="input_span" type="date" id="datepicker3" min="1900-01-01" max="2099-12-31" autocomplete="off" name="spend_date" value=" "></th>
        </tr>
        <tr>
          <th width="200" height="60"><a class="span_list_title">소비처</a></th>
          <th width="240" style="text-align: end;"><input class="input_span stock" type="text" id="place" name="place" autocomplete="on" value="{{ place|default_if_none:'' }}">
        </tr>
        </tr>
        <tr> <!-- 행선언 -->
          <th width="200" height="60"><a class="span_list_title">결제수단</a></th>
          <th width="240" style="text-align: end;">
            <select class="span_list_select" name="way" style="text-align:center;">
              <option style="text-align: center;" value='0' selected>선택</option>
              <option value='1'>현금</option>
              <option value='2'>카드</option>    
            </select></th>
        </tr>
        <tr> <!-- 행선언 -->
          
          <th width="200" height="60"><a class="span_list_title">카테고리</a></th>
          <th width="240" style="text-align: end;">
            <select class="span_list_select" name="category" style="text-align:center;">
            <option style="text-align: center;" value='0' selected>선택</option>
            <option value='1'>금융/보험</option>
            <option value='2'>저축</option>
            <option value='3'>온라인쇼핑</option>
            <option value='4'>출금</option>
            <option value='5'>생활/마트</option>
            <option value='6' >카페/간식</option>
            <option value='7'>기타지출(사회생활비)</option>
            <option value='8'>교통/차량유지</option>
            <option value='9'>주거생활/통신</option>
            <option value='10'>식사</option>
            <option value='11'>의료/건강</option>
            <option value='12'>문화/예술</option>
            <option value='13'>교육비</option>
            </select>
          </th>
        </tr>
        <tr> <!-- 행선언 -->
          <th width="200" height="60"><a class="span_list_title">카드사</a></th>
          <th width="240" style="text-align: end;">
            <select class="span_list_select" name="card" style="text-align:center;">
              <option style="text-align: center;" value='0' selected>선택</option>
              <option value='1'>국민카드</option>
              <option value='2'>롯데카드</option>
              <option value='3'>BC카드</option>
              <option value='4'>삼성카드</option>
              <option value='6'>신한카드</option>
              <option value='7'>하나카드</option>
              <option value='8'>현대카드</option>
              <option value='9'>농협카드</option>
              <option value='10'>시티카드</option>
              <option value='11'>카카오뱅크카드</option>
            </select>
          </th>
        </tr>
        <tr> <!-- 행선언 -->
          <th width="200" height="60"><a class="span_list_title">메모</a></th>
          <th width="240" style="text-align: end;"><textarea class="input_textarea" rows="1" name="memo" placeholder="메모"></textarea></th>
        </tr>
      </table>
    </div>

    <div style="text-align:center; margin-top:15px;">
    <div class="addBtn" onclick="check()" style="line-height:47px;">추가하기</div>
    </div>
  </form>
  </div>
</div>

<script>
function check(){
    var max_int = 210000000;
    if ($('#amount').val() == '') {
        alert('금액을 입력 해주세요.');
        $("#amount").focus();
        return false;
    }
    if ($('#amount').val() >= max_int) {
        alert('입력 받을 수 있는 금액 범위를 초과 하였습니다.');
        $("#amount").focus();
        return false;
    }
    if ($('#place').val() == '') {
        alert('소비처를 작성 해주세요.');
        $("#place").focus();
        return false;
    }
    if (doubleSubmitCheck()) {
    return false;
    }else{
    const form = document.getElementById('spend_form');
    form.action="{%url 'calendars:add_spend_calendar' %}"
    form.submit();
    }
    }

$(function() {
  var cardlist_Tags = [{% for i in wntlr %}
  '{{i.ss_isukorabbrv}} :{{i.ss_isusrtcd}}',
  {% endfor %}];
  $('#where').autocomplete({
    source: cardlist_Tags,
  });
});
/*
  $(document).ready(function(){
    //키를 누르거나 떼었을때 이벤트 발생
    $("#numcomma").bind('keyup keydown',function(){
      inputNumberFormat(this);
    });
  
    //입력한 문자열 전달
    function inputNumberFormat(obj) {
      obj.value = comma(uncomma(obj.value));
    }
      
    //콤마찍기
    function comma(str) {
      str = String(str);
      return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }
  
    //콤마풀기
    function uncomma(str) {
      str = String(str);
      return str.replace(/[^\d]+/g, '');
    }
  
    //숫자만 리턴(저장할때)
    //alert(cf_getNumberOnly('1,2./3g')); -> 123 return
    function cf_getNumberOnly (str) {
      var len      = str.length;
      var sReturn  = "";
  
      for (var i=0; i<len; i++){
        if ( (str.charAt(i) >= "0") && (str.charAt(i) <= "9") ){
          sReturn += str.charAt(i);
        }
      }
      return sReturn;
    }
  });*/
</script>

{% endblock %}