{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::추천{% endblock title %}
{% block container %}
{% load humanize %}

<style>
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }

  .modal-body{
    padding: 0 25px !important;
  }
  
  /* 요약페이지 페이지네이션 */
  #pagenation_summary{
    background-color: #93bcf9;
  }
  #pagenation_summary a{
    color: #fff;
  }
  #pagenation_list a, #pagenation_calendar a{
    color: white;
  }
  /* ###################### */
  .fc-scroller{
    overflow:hidden !important;
  }
  .footer-line-calendar{
    width:50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
  a:link, a:active, a:visited, a:hover {
    color: none;
    text-decoration-line: none;
    }
</style>
<!-- pagenation -->
<div class="pagenation">
  <ul>
    <li id="pagenation_summary"><a href="{% url 'calendars:summary' %}">요약</a></li>
    <li id="pagenation_list"><a href="{% url 'calendars:history' %}">내역</a></li>
    <li id="pagenation_calendar"><a href="{% url 'calendars:top5' %}">TOP 5</a></li>
  </ul>
</div>

<!-- Modal -->
<div id="calendarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div style="display:flex;align-items:center;">
          <img src="media/date.png" style="margin-right: 5px; width:20px; height:20px; vertical-align:middle;"><h3 id="modalTitle" class="modal-title"></h3></div>
          <button type="button" onclick="close_btn()" id="close_btn" class="btn btn-default" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
      </div>
      <div id="modalBody" class="modal-body">
      </div>
      <div class="modal-footer" style="display:flex;">
        <button type="button" onclick="location.href='add_spend_calendar'" id="add_event" class="addList-btn" data-dismiss="modal" style="width:47%">지출 추가</button>
        <button type="button" onclick="location.href='add_income_calendar'" id="add_event" class="addList-btn" data-dismiss="modal" style="width:47%">수입 추가</button>
      </div>
    </div>
  </div>
</div>
  <script>
    function close_btn() {
      $('#calendarModal').modal('hide');
    }
  </script>
<!-- Modal관련끝 -->

<div class="swiper-slide" data-name="요약" data-hash="summary">
  <div class="money-info-wrap">
    <div class="money-info-container">
      <p class="money-info-title">
        <strong>{{month}}월</strong> 누적 금액
      </p>
      <div class="amountMoney" style="padding-top:10px;">
        <div class="money-wrap"><a id="amount-money" class="amount-money">{{Expenditure.amount__sum|default_if_none:'0'|intcomma}}</a><b class="amount-won">won</b></div>
      </div>

      <!-- 지출 수입 부분 영역 -->
      <div class="spend-income-wrap">
        <div class="spend-income-content">
          <a style="color:#FFF; font-weight: bold;">지출</a> <a style="margin-left: 10px; margin-right:10px; font-weight:400; color:#FFF;">{{Expenditure.amount__sum|default_if_none:'0'|intcomma}} won</a>
        </div>

        <div class="spend-income-content">
          <a style="color:#FFF; font-weight: bold;">수입</a> <a style="margin-left: 10px; font-weight:400; color:#FFF;">{{Income.amount__sum|default_if_none:'0'|intcomma}} won</a>
        </div>
      </div><!-- 지출 수입 부분 영역 끝 -->
    </div><!--money-info-container 끝-->
  </div><!--money-info-wrap 끝-->

  <!--- 달력 SWIPER div영역 시작--->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');

          var date = new Date();
          var d = date.getDate();
          var m = date.getMonth() + 1;
          var y = date.getFullYear();
          var date1 = (y+'-'+m+'-'+d);
          var date2 = (y+'-'+m);
          console.log('Today is ' + date1);


        var calendar = new FullCalendar.Calendar(calendarEl, {
          selectable: false,
          selectOverlap:false,
          editable: false,
          droppable:false,
          disableDragging: true,
          themeSystem: 'standard',
          dragScroll:false,
          headerToolbar: {
            left: '',
            center: 'prev title next',
            right: ''
          },
          titleFormat: function (date) {
            // YYYY년 MM월
            return `${date.date.year}년 ${date.date.month + 1}월`;
          },
          dayHeaderContent: function (date) {
            let weekList = ["일", "월", "화", "수", "목", "금", "토"];
            return weekList[date.dow];
          },
          height: 450,
          //locale: 'en',
          events: [
          {% for i in spend_day_sum2 %}
          {
            title: "-{{i.amount|intcomma}}",
            start: "{{i.spend_date | date:'Y-m-d'}}",
            textColor: 'Red',
            color:'transparent',
            allday: 1,
          },
          {% endfor %}
          {% for i in income_day_sum2 %}
          {
            title: "+{{i.amount|intcomma}}",
            start: "{{i.income_date | date:'Y-m-d'}}",
            textColor: 'Blue',
            color:'transparent',
            allday: 1,
          },
          {% endfor %}
        ],
        eventClick: function(info) {
          console.log(info.event);
          click_date = info.event.startStr; // 날짜
          title_date = moment(click_date).format('DD일');
          //click_title = event.dayEl.innerText;
          console.log(click_date);
          document.getElementById('click_date').value = click_date;
          $.ajax({
            type: "POST",
            url: "{% url 'calendars:ajax_pushdate' %}",
            data: {
              clikDate: $('#click_date').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              dataType: "json",
            },
            success: function(data){
              
              msg_value = data.msg1;
              const reset = document.getElementById('modalBody');
              const element = document.getElementById('modalBody');
              reset.innerHTML = '';
              $.each (msg_value, function (index, el) {
                if (el.kind =='지출'){
                  el.amount = '- '+el.amount
                  
                };
                if (el.kind == '수입') {
                  el.amount = '+ ' + el.amount
                };
                if (el.income_way == 0) {
                el.income_way = '카테고리 미선택'
                }
                else if (el.income_way == 1) {
                  el.income_way = '금융/보험'
                }
                else if(el.income_way == 2) {
                  el.income_way = '저축'
                }
                else if (el.income_way == 3) {
                  el.income_way = '온라인쇼핑'
                }
                else if (el.income_way == 4) {
                  el.income_way = '출금'
                }
                else if (el.income_way == 5) {
                  el.income_way = '생활/마트'
                }
                else if (el.income_way == 6) {
                  el.income_way = '카페/간식'
                }
                else if (el.income_way == 7) {
                  el.income_way = '기타지출(사회생활비)'
                }
                else if (el.income_way == 8) {
                  el.income_way = '교통/차량유지'
                }
                else if (el.income_way == 9) {
                  el.income_way = '주거생활/통신'
                }
                else if (el.income_way == 10) {
                  el.income_way = '식사'
                }
                else if (el.income_way == 11) {
                  el.income_way = '의료/건강'
                }
                else if (el.income_way == 12) {
                  el.income_way = '문화/예술 '
                }
                else if (el.income_way == 13) {
                  el.income_way = '교육비'
                };
                console.log(index, el);
                element.innerHTML += 
                                  '<div class="ajaxModalWrap" style="" onClick="location.href=\'edit_calendar/' + el.kind + '/' + el.income_id +'/\'">'
                                  +'<div class="ajaxTableWay">'+el.income_way+'</div>'
                                  +'<div class="ajaxTableAmount" id="ajaxTableAmount" style="font-weight:500; float:right;"><a id="appen"></a> '+el.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +'원</div></div>';
                                  });
            },
            fail: function() {
              console.log('ajax send error!');
              alert('해당날짜의 내역을 불러오는 과정에서 오류가 발생했습니다');
            },
          });
          $('#calendarModal').modal('show');
          $('#modalTitle').text(title_date);
          },
        });
        calendar.render();
      });
      </script>
        <div class="cal-container noselect" id="cal-container">
          <div id='calendar'></div>
        </div>
        <input type="hidden" value="" id="click_date">

</div><!--- 요약 SWIPER div영역 끝 --->
<script>
  $(document).ready(function(){
    //$('.footer-selector').fadeIn(550);
      //document.getElementById('footer_calendar').src = "/media/calendar_active.png";
  });
</script>
<script>
  var myElement = document.getElementById('container');

  // create a simple instance
  // by default, it only adds horizontal recognizers
  var mc = new Hammer(myElement);

  // listen to events...
  mc.on("swipeleft", function(ev) {
      window.location.href="/history";
  });

  mc.on("swiperight", function(ev) {
      //window.location.href="/recom";
});
</script>
<link rel = "stylesheet" href="{% static 'css/main.css' %}">
<link rel = "stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/main.js' %}"></script>
{% endblock container %}
