{% extends 'base.html' %}
{% load mytag %}
{% load humanize %}
{% load static %}

{% block title %}레몬::TOP5{% endblock title %}
{% block container %}
<script>
  $(document).ready(function(){
    $('.footer-selector').fadeIn(550);
      //document.getElementById('footer_calendar').src = "/media/calendar_active.png";
  });
</script>
<style>
  #container{
    padding-top: 50px !important;
    display: block;
    overflow-x: hidden;
  }

  body{
    position: relative !important;
    background-color: #FFF;
  }

  a {
    text-decoration:none;
    text-decoration-line: none;
  }

  a:link, a:visited, a:hover, a:active {
  color: #202020;
  text-decoration:none;
  text-decoration-line: none;
  }

  /* FOOTER에서 사용하는 CSS */
  .bottom-nav-calendar{
    color: #FFD859 !important;
  }

  .bottom-nav-calendar a{
    color: #FFD859 !important;
  }

  .bottom-nav-search-stock a,.bottom-nav-home a,
  .bottom-nav-stock a,.bottom-nav-addlist a,
  .bottom-nav-myinfo a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #D1D6DA !important;
  }
  .social-wrap{
    padding: 20px;
  }
  .social-textarea{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    background-color: #fff;
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
  }
  .social-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 50px;
    margin-top:20px;
    background:#31BC89;
    border:0px;
    border-radius:50px;
    color:white;
  }
  .social-btn:disabled{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 50px;
    background:#a0a0a0;
    border:0px;
    border-radius:50px;
    color:white;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #a9a9a9;
  }

  .list-filter{
    background-color:#fff;
    border-radius: 20px !important;
    box-shadow: 1px 1px 5px 1px rgb(202, 202, 202);
    margin: 20px !important;
  }

  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  .pagenation{
    background-color: lightgrey;
    z-index: 10;
    padding:0;
    bottom: 70px;
    left: 58px;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    width: 70%;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
  }
  .pagenation li{
    padding-top: 2px;
    font-weight: 500;
    border-radius: 20px;
    width : 32%;
    height: 30px;
    display:inline-block;
  }

  #pagenation_calendar{
    background-color: #4C8AE5;
  }
  #pagenation_calendar a{
    color: #fff;
  }
  #pagenation_recom a, #pagenation_summary a, #pagenation_list a{
     color: white;
  }
  #pagenation_recom{
    display: none;
  }
  canvas{
    margin: 15px auto;
    width:200px !important;
    height:200px !important;
  }
.footer-line-calendar{
    width:50px;
    padding: 12px 0 10px 0;
    border-bottom: 2px solid #FFF;
    }
  </style>
  <!-- pagenation -->
<div class="pagenation">
  <ul>
<!--    <li id="pagenation_recom"><a href="{% url 'calendars:recom' %}">추천</a></li>-->
    <li id="pagenation_summary"><a href="{% url 'calendars:summary' %}">요약</a></li>
    <li id="pagenation_list"><a href="{% url 'calendars:history' %}">내역</a></li>
    <li id="pagenation_calendar"><a href="{% url 'calendars:top5' %}">TOP 5</a></li>
  </ul>
</div>

<div class="swiper-slide" id="swiper-slide">
  <!-- 카테고리 탑5 div 시작-->
   <div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
      <a style="font-weight: bold; font-size:16pt;">나의 소비 패턴</a></div>
  <div id="chart_view">
  <canvas id="myChart" width="100" height="100"></canvas>
    <ol style="padding-left: 1rem !important;">
      <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">
        {% for category in Category_sum %}
        {% ifchanged category.category %}
        <tr>
          <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
          <td style="text-align: left;" width='60'>

            {% if category.category == 1 %}
            <a style="font-weight:bold; color:#3a3a3a">식비</a>
            {% elif category.category == 2 %}
            <a style="font-weight:bold; color:#3a3a3a">카페/간식</a>
            {% elif category.category == 3 %}
            <a style="font-weight:bold; color:#3a3a3a">술/유흥</a>
            {% elif category.category == 4 %}
            <a style="font-weight:bold; color:#3a3a3a">생활</a>
            {% elif category.category == 5 %}
            <a style="font-weight:bold; color:#3a3a3a">쇼핑</a>
            {% endif %}
          </td>
          <td style="text-align: right;" width='150'>
            <a style="font-weight:400; color:#3a3a3a">{{ category.amount|truncatechars:16|intcomma }}원</a>
          </td>
        </tr>
        {% endifchanged %}
        {% empty %}
        <div class="summary-nodata-wrap">
          <a>소비내역 및 지출내역이 없습니다.</a>
        </div>
        {% endfor %}
      </table>
    </ol>
  </div><!-- 카테고리 탑5 div 끝-->

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
type: 'pie',
data: {
    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
    datasets: [{
        label: {{ Category_count_label }},
        data: {{ Category_count_data }},
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }]
},
options: {
  legend: { display: false },
    scales: {
        yAxes: [{
          display:false,
            ticks: {
                beginAtZero:true
            }
        }]
    },
onClick:function(e){
    var activePoints = myChart.getElementsAtEvent(e);
    var selectedIndex = activePoints[0]._index;
    //console.log(this.data.datasets[0].data[selectedIndex]);
    //console.log(this.data.datasets[0].label[selectedIndex]);
    window.location.href="/category_detail/"+this.data.datasets[0].label[selectedIndex];
}
}
});
$(function(){
  if (myChart.data.datasets[0].data.length == 0) {
    const element = document.getElementById('swiper-slide');
    element.innerHTML = '<div class="no-top5">'
                        +'<div class="no-top5-content">'
                        +'<img style="display:block; margin:0 auto 15px auto;" width="100" src="media/LEMON.png">'
                        +'<b class="no-top5-text">지출 내역이 없습니다.</b>'
                        +'<b class="no-top5-text">지출 내역을 입력해주세요.</b>'
                        +'<button onclick="click_evt()" class="no-top5-btn">지출내역 등록</button>'
                        +'</div>'
                        +'</div>';

    console.log('데이터가 영이야');
  };
});

function click_evt() {
    window.location.href = 'add_spend_calendar';
  };
</script>
    </div><!-- 카테고리차트 탑5 div 끝-->
  <!-- 소비 탑5 카드사 div 시작-->
       <div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px; display:none;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
      <a style="font-weight: bold; font-size:16pt;">카드사 Top5</a>
    </div>
    <div>
      <ol style="padding-left: 1rem !important;">
      <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">
        {% for method in category_card %}
        <tr>
          <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
          <td style="text-align: center;" width='50'>
            {% if method.card == 1 %}
          <a style="font-weight:bold; color:#3a3a3a">국민카드</a>
          {% elif method.card == 2 %}
          <a style="font-weight:bold; color:#3a3a3a">롯대카드</a>
          {% elif method.card == 3 %}
          <a style="font-weight:bold; color:#3a3a3a">BC카드</a>
          {% elif method.card == 4 %}
          <a style="font-weight:bold; color:#3a3a3a">삼성카드</a>
          {% elif method.card == 6 %}
          <a style="font-weight:bold; color:#3a3a3a">신한카드</a>
          {% elif method.card == 7 %}
          <a style="font-weight:bold; color:#3a3a3a">하나카드</a>
          {% elif method.card == 8 %}
          <a style="font-weight:bold; color:#3a3a3a">현대카드</a>
          {% elif method.card == 9 %}
          <a style="font-weight:bold; color:#3a3a3a">농협카드</a>
          {% elif method.card == 10 %}
          <a style="font-weight:bold; color:#3a3a3a">시티카드</a>
          {% elif method.card == 11 %}
          <a style="font-weight:bold; color:#3a3a3a">카카오뱅크카드</a>
          {% endif %}
          </td>
          <td width='25' style="text-align: right;"><a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|truncatechars:100|intcomma }}원</a></td>
          <td width='15' style="text-align: right;">
            {% if method.card == 1 %}
            <a style="font-size:9pt; font-weight:300; color:#ff5d51">156,700</a>
            {% elif method.card == 4 %}
            <a style="font-size:9pt; font-weight:300; color:#4c8ae5">34,200</a>
            {% elif method.card == 7 %}
            <a style="font-size:9pt; font-weight:300; color:#4c8ae5">44,100</a>
            {% endif %}
          </td>
          <!--
          <td width='40'>
            {% if method.card == 1 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
            <img style="width: 20px; height:20px;" src="media/arrow.png">
            {% elif method.card == 4 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
            <img style="width: 20px; height:20px;" src="media/arrow.png">
            {% elif method.card == 7 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
            <img style="width: 20px; height:20px;" src="media/arrow.png">
            {% endif %}
          </td>
          -->
        </tr>
        {% empty %}
        <div class="summary-nodata-wrap">
          <a>소비내역 및 지출내역이 없습니다.</a>
        </div>
        {% endfor %}
      </table>
    </ol>
    </div>
  </div> <!-- 소비 탑5 카드사 div 끝-->

       <div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;"><!-- 소비 탑5 기업명 div 시작-->
    <div style="text-align:left; font-weight: bold; font-size:16px;">
      <a style="font-weight: bold; font-size:16pt;">소비처 Top5</a></div>
    <div>
      <ol style="padding-left: 1rem !important;">
        <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">

          {% for area in category_stock %}

          <tr onclick="info('주식코드','시장 kospi')">
            <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
            <td style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:50px; text-align: left;" width='50'>
              <a style="font-weight:bold; color:#3a3a3a">{{area.2}}</a>
            </td>
            <td style="text-align: right;" width='25'>
              <a style="font-weight:400; color:#3a3a3a">{{ area.1|truncatechars:500|intcomma }}원</a>
            </td>
            <td width='10' style="text-align: right;">
              <a style="font-size:9pt; font-weight:300; color:#ff5d51">{{area.0|intcomma}} {{result}} 원</a>
            </td>
            <!--
            <td width='40' style="text-align: right;">
              <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
              <img style="width: 20px; height:20px;" src="media/arrow.png">
            </td>
            -->
          </tr>
          {% empty %}
          <div class="summary-nodata-wrap">
            <a>소비내역 및 지출내역이 없습니다.</a>
          </div>
            {% endfor %}
        </table>
      </ol>
    </div>
  </div><!-- 소비 탑5 기업명 div 끝-->

    <!-- 건수 탑5 div 시작-->
   <div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
      <a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">카테고리 지출 Top5</a>
    </div>
  <div>
  <ol style="padding-left: 1rem !important;">
    <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;" >
      {% for category in Category_count %}
      <tr>
        <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
        <td style="text-align: left;" width='60'>
          {% if category.category == 1 %}
          <a style="font-weight:bold; color:#3a3a3a">식비</a>
          {% elif category.category == 2 %}
          <a style="font-weight:bold; color:#3a3a3a">카페/간식</a>
          {% elif category.category == 3 %}
          <a style="font-weight:bold; color:#3a3a3a">술/유흥</a>
          {% elif category.category == 4 %}
          <a style="font-weight:bold; color:#3a3a3a">생활</a>
          {% elif category.category == 5 %}
          <a style="font-weight:bold; color:#3a3a3a">쇼핑</a>
          {% endif %}
        </td>
        <td style="text-align: right;" width='150'>
          <a style="font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
        </td>
      </tr>
      {% empty %}
      <div class="summary-nodata-wrap">
        <a>소비내역 및 지출내역이 없습니다.</a>
      </div>
    {% endfor %}
    </table>
  </ol>
  </div>
  </div><!-- 건수 탑5 div 끝-->
</div>
  <script>

    var myElement = document.getElementById('container');

    // create a simple instance
    // by default, it only adds horizontal recognizers
    var mc = new Hammer(myElement);

    // listen to events...
    mc.on("swipeleft", function(ev) {
        console.log('last page!');
    });

    mc.on("swiperight", function(ev) {
        window.location.href="/history";
  });

  function info(issuecode, marketcode) {
        document.getElementById('issuecode').value = issuecode;
        document.getElementById('marketcode').value = marketcode;
        const form = document.getElementById('form');
        form.action="/stock_info"
        form.submit();
    }
  </script>

<script>
window.onload=function(){
  Chart.plugins.register({
    afterDraw: function(chart) {
      if (chart.data.datasets.length == 0) {
        // no data is present
        var ctx = chart.chart.ctx;
        var width = chart.chart.width;
        var height = chart.chart.height;
        chart.clear();
        ctx.save();
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.font = "16px normal 'Helvetica Nueue'";
        ctx.fillText('No data to display', width / 2, height / 2);
        ctx.restore();
      }
    }
  })
}
</script>

{% endblock container %}
