{% extends 'password_base.html' %}
{% load static %}
{% block title %}레몬::비밀번호 초기화{% endblock title %}

{% block nav %}
<div id="nav">
    <div style="text-align:center;">
      <a>비밀번호 초기화</a>
    </div>
</div>
{% endblock %}

{% block container %}
<style>
  #footer{display:none;}

  .email-form{
    padding:20px;
  }
  .img-wrap{
    padding-top:50px;
    text-align:center;
    width:100%;
  }
  .img-wrap img{
    width:120px;
  }
  .text-wrap{
    font-weight:400;
    font-size:18px;
    padding-top:30px;
    text-align:center;
    line-height:40px;
    color: #141414;
  }

  input[type="password"] {
    padding-left:10px;
    margin-bottom:10px;
    width:70%;
    height:45px;
    border: 1px solid #ddd;
    border-radius:10px;
  }

  .submit-btn{
    border:none;
    border-radius:10px;
    width:70%;
    height:45px;
    margin-top:20px;
    font-size:18px;
    font-weight:400;
    background-color:#93bcf9;
    color:#FFF;
  }
</style>

<div class="email-form">
  <div class="img-wrap"><img src="/media/LEMON.png"/></div>

  {% if validlink %}
  <div class="text-wrap">
    <a>새로운 비밀번호 설정하기</a>
  </div>

  <div class="form-wrap" style="text-align:center;">
    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
      {{ form.new_password1.errors }}<br>

      <a>새로운 비밀번호</a> <br>
      {{ form.new_password1 }} <br>

      {{ form.new_password1.errors }}
      <a>새로운 비밀번호 확인</a> <br>
      {{ form.new_password2 }} <br>
      <a>8 ~ 15자리의 영문,숫자,특수문자를 포함해서 입력해주세요.</a> <br>

      <button class="submit-btn" type="submit">비밀번호 재설정</button>
    </form>
  </div>
  {% else %}
    <div class="text-wrap">
    <a>이 암호 재설정 URL은 만료되었습니다. <br>다시 시도해주세요.</a>
  </div>
  {% endif %}
</div>

{% endblock %}