{% extends 'password_base.html' %}
{% load static %}
{% block title %}레몬::비밀번호 초기화{% endblock title %}

{% block nav %}
<div id="nav">
    <div style="text-align:center;">
      <a>비밀번호 초기화</a>
    </div>
</div>
{% endblock %}

{% block container %}
<style>
  #footer{display:none;}

  .reset-complete-wrap{
    padding:20px;
  }

  .reset-complete-img-wrap{
    padding-top:50px;
    text-align:center;
    width:100%;
  }

  .reset-complete-img-wrap img{
    width:120px;
  }

  .reset-complete-text-wrap{
    font-weight:400;
    font-size:18px;
    padding-top:30px;
    text-align:center;
    line-height:40px;
    color: #141414;
  }
  
  input[type="email"] {
    width:70%;
    height:45px;
    border: 1px solid #ddd;
    border-radius:10px;
  }

  .submit-btn{
    border:none;
    border-radius:10px;
    width:70%;
    height:45px;
    margin-top:20px;
    font-size:18px;
    font-weight:400;
    background-color:#93bcf9;
    color:#FFF;
  }
</style>

<div class="reset-complete-wrap">
  <div class="reset-complete-img-wrap"><img src="/media/LEMON.png"/></div>

  <div class="reset-complete-text-wrap">
    <a>비밀번호를 변경하였습니다.<br> 앱을 통해 다시 로그인 해주세요.</a> 
  </div>

  <div class="form-wrap" style="text-align:center;">
    <button class="submit-btn" type="submit" onclick="go_home();">닫기</button>
  </div>
</div>

<script>
  function go_home() {
    window.close();
  }
</script>
{% endblock %}