{% extends 'password_base.html' %}
{% load static %}
{% block title %}레몬::비밀번호 초기화{% endblock title %}

{% block nav %}
<div id="nav">
    <div style="text-align:center;">
      <a style="color: #fff;" href="{% url 'accounts:login' %}"><i class="fa fa-angle-left" style="position: absolute;
    left: 5px;
    padding: 14px 15px;
    top: 0;
    font-size: 25px;
    font-weight: 600;color:black;"></i></a>비밀번호 초기화
    </div>
</div>
{% endblock %}

{% block container %}
<style>
  #footer{display:none;}

  .email-form{
    padding:20px;
  }
  .img-wrap{
    padding-top:50px;
    text-align:center;
    width:100%;
  }
  .img-wrap img{
    width:120px;
  }
  .text-wrap{
    font-weight:400;
    font-size:18px;
    padding-top:30px;
    text-align:center;
    line-height:40px;
    color: #141414;
  }

  input[type="email"] {
    padding-left:10px;
    width:70%;
    height:45px;
    border: 1px solid #ddd;
    border-radius:10px;
    -webkit-appearance: none;
    -webkit-border-radius: 10px;
  }

  .submit-btn{
    border:none;
    border-radius:10px;
    width:33%;
    height:45px;
    margin-top:20px;
    font-size:14px;
    font-weight:400;
    background-color:#93bcf9;
    color:#FFF;
  }
  .submit-btn2{
    border:1px solid #ff5d51;
    border-radius:10px;
    width:33%;
    height:45px;
    margin-top:20px;
    font-size:14px;
    font-weight:400;
    background-color:#fff;
    color:#141414;
  }
</style>

<div class="email-form">
  <div class="img-wrap"><img src="/media/LEMON.png"/></div>

  <div class="text-wrap">
    <a>Lemon에 가입했던 이메일을 입력해주세요.</a> <br>
    <a>비밀번호 초기화 메일을 보내드립니다.</a>
  </div>

  <div class="form-wrap" style="text-align:center;">
    <form method="post" action="{% url 'password_reset' %}" id="send_form">
      {% csrf_token %}
      {{ form.email }} <br>
      <div>
        <button class="submit-btn" id="reset_btn" type="button" onclick="send_reset()">비밀번호 재설정</button>
<!--        <button class="submit-btn2" type="button" onclick="go_home()">처음으로</button>-->
      </div>
    </form>
  </div>
<script>
  function go_home() {
    window.location.href="{% url 'accounts:login' %}"
  }

  function send_reset() {
    const form = document.getElementById('send_form');

    $reset_btn = $('#reset_btn').attr('disabled', true);
    form.action="{% url 'password_reset' %}"
    form.submit();
  }
</script>
</div>
{% endblock %}