{% extends 'base.html' %}
{% load mytag %}
{% load humanize %}
{% load static %}

{% block title %}레몬::가계부{% endblock title %}
{% block container %}
<style>
  #container{
    display: block;
    overflow-x: hidden;
  }

  body{
    position: relative !important;
    background-color: #F7F7F7;
  }

  a {
    text-decoration:none;
    text-decoration-line: none;
  }

  a:link, a:visited, a:hover, a:active {
  color: #202020;
  text-decoration:none;
  text-decoration-line: none;
  }

  /* FOOTER에서 사용하는 CSS */
  .bottom-nav-calendar{
    color: #FFD859 !important;
  }

  .bottom-nav-calendar a{
    color: #FFD859 !important;
  }

  .bottom-nav-search-stock a,.bottom-nav-home a,
  .bottom-nav-stock a,.bottom-nav-addlist a,
  .bottom-nav-myinfo a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #D1D6DA !important;
  }
  .social-wrap{
    padding: 20px;
  }
  .social-textarea{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    background-color: #fff;
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
  }
  .social-btn{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 50px;
    margin-top:20px;
    background:#31BC89;
    border:0px;
    border-radius:50px;
    color:white;
  }
  .social-btn:disabled{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 50px;
    background:#a0a0a0;
    border:0px;
    border-radius:50px;
    color:white;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #a9a9a9;
  }
  </style>

  {% if user.e_chk == 0 %}
  <div class="social-wrap">

    <div class="alert alert-danger" role="alert">
      <a>소셜로그인을 통한 최초 로그인시, <strong>레몬서비스 이용약관</strong> 및 <strong>개인정보 수집 동의 </strong> 후 서비스 사용가능합니다.</a>
    </div>
        <form class="validation-form" method="POST" action="{% url 'calendars:calendar' %}" id="signup-form">
            {% csrf_token %}
            <div class="service_access">
                <div class="all_chk-wrap">
                <label style="text-align: -webkit-auto;">
                  <input type="checkbox" name="all_chk" value ="0" id="all_chk">
                  <a class="all_chk_font">레몬서비스 이용약관, 개인정보 수집에 모두 동의 합니다.</a>
                </label>
                </div>
                <div class="require_chk_wrap" style="margin-top: 20px;">
                    </label>
                    <a>레몬서비스 이용약관 동의(필수)</a><br>
                    <textarea class="social-textarea" cols="30" rows="10" style="width:100%;" disabled="disabled">이부분은 이용약관관련된 내용이 들어갈 예정입니다.</textarea><br>
                    <label style="text-align:end;">
                        <input type="checkbox" name="u_chk" value ="1" id="require_chk">
                        <span>이용약관에 동의합니다.</span>
                    </label>
                </div>
            </div>

            <div class="persnal_info_access">
                <div class="require_chk_wrap" style="margin-top: 15px;">
                    <a>개인정보 수집 동의(필수)</a><br>
                    <textarea class="social-textarea" cols="30" rows="10" style="width:100%;" disabled="disabled">이부분은 개인정보 수집에 대한 내용이 들어갈 예정입니다.</textarea><br>
                    <label style="text-align:end;">
                        <input type="checkbox" name="e_chk" value ="1" id="require_chk">
                        <span>이용약관에 동의합니다.</span>
                    </label>
                </div>

                <button class="social-btn" id="signupBtn" type="submit" value="signup" disabled style="width:100%">레몬서비스 시작하기</button>
            </div>
        </form>
    </div>
</div>
<script>
    
  $('#all_chk').change(function () {
      var checked = $(this).prop('checked');
      $('input[id="require_chk"]').prop('checked', checked);
      $('#signupBtn').removeAttr('disabled');
  });

  $('input[id="require_chk"]').change(function () {
      var tmpLength = $('input[id="require_chk"]').length;
      var checkedLength = $('input[id="require_chk"]:checked').length;
      var selectAll = (tmpLength == checkedLength);
      $('#all_chk').prop('checked', selectAll);
      selectAll ? $('#signupBtn').removeAttr('disabled'):$('#signupBtn').attr('disabled','true');});
</script>

  {% else %}

<!-- Modal -->
<div id="calendarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h3 id="modalTitle" class="modal-title"></h3>
          <button type="button" onclick="close_btn()" id="close_btn" class="btn btn-default" data-dismiss="modal">X</button>
      </div>
      <div id="modalBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="location.href='add_calendar'" id="add_event" class="addList-btn" data-dismiss="modal">내역추가</button>
      </div>
    </div>
  </div>
</div>
  <script>
    function close_btn() {
      $('#calendarModal').modal('hide');
    }
  </script>
<!-- Modal관련끝 -->

<!-- 소비내역추가하기버튼 -->
  <div class="addevent-btn">
    <a style="color: #fff;font-size:22px;" href="{% url 'calendars:add_calendar' %}"><i class="fas fa-pencil-alt"></i></a>
  </div>
<!-- 소비내역추가하기버튼 끝 -->


<div class="swiper mySwiper">
  <div class="swiper-wrapper">

    <!--- 추천 SWIPER div영역 시작 --->
    <div class="swiper-slide" data-name="추천" data-hash="recom">
      <div class="list-empty-wrap">
        <i class="fas fa-exclamation"></i><br>
        <a>추천 페이지 공사중</a>
      </div>
    </div>
    <!--- 추천 div영역 끝 --->


    <!--- 요약 SWIPER div영역 시작 --->
    <div class="swiper-slide" data-name="요약" data-hash="summary">
      <div class="money-info-wrap">
        <div class="money-info-container">
          <a class="money-info-title">
            <strong>{{user.uid}}</strong>님의 <strong>{{month}}월</strong> 가계부
          </a><br>

          <div class="amountMoney">
            <a id="amount-money1" style="display: none;">{{user.invest|default_if_none:'0'}}</a>
            <a class="amount-money-title">총자산</a> <a id="amount-money" class="amount-money"></a><a class="amount-won">원</a>
            <div style="width: 95%; margin-top:15px; margin-bottom:10px; border-bottom:0.5px solid #c8c8c8;"></div>
          </div>

          <script>
            //DB에 저장된 usermoney에 천단위 ,(콤마) 찍어주는 스크립트
            //1. display:none 상태인 amount-money1의 값을 가져온다.
            var innerText = document.getElementById('amount-money1').innerText;
            //2. 긁어온 값에 천단위 , 찍어주고 cn1 변수에 저장
            const cn1 = innerText.toString()
            .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
  
            //3. cn1 변수에 저장된 값을 amount-money 값에 띄워줌
            const cn1element = document.getElementById('amount-money');
            cn1element.innerHTML = cn1;
          </script>

          <div style="text-align:initial; padding-left:1rem;">
            <div>
              <strong>{{user.uid}}</strong>님의 <strong>모의투자</strong>현황
              <img style="float:right; margin-right:20px;" src="media/refresh.png" width="25px" height="25px">
            </div>
            <div style="margin-top:0.5rem; margin-bottom:0.5rem;">
              <a style="font-weight: bold;">매수금</a> <a style="margin-left: 10px; margin-right:10px; font-weight:400;">{{Expenditure.amount__sum|default_if_none:'0'|intcomma}} 원</a>
              <a style="font-weight: bold;">수익률</a> <a style="margin-left: 10px; font-weight:400; color:#FF5E51;">21.76%</a>
            </div>
            <div style="margin-bottom:2rem;; width:fit-content; position:relative; padding-bottom:2px; border-bottom:1px solid #fff;">
              <a style="font-weight: bold;">평가금</a> <a style="margin-left: 10px; margin-right:10px; font-weight:400; color:#FF5E51;">{{Income.amount__sum|default_if_none:'0'|intcomma}} 원</a>
              <a style="font-weight: bold;">수익금</a> <a style="margin-left: 10px; font-weight:400; color:#FF5E51;">111,111,111원</a>
            </div>
          </div>
        </div><!--money-info-container 끝-->
      </div><!--money-info-wrap 끝-->

      <div style="background-color:#fff; margin:20px 5% 0 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);"><!-- 소비 탑5 카드사 div 시작-->
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="margin-right:5px; vertical-align:bottom; width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">소비 Top5 카드사</a>
        </div>
        <div>
          <ol style="padding-left: 1rem !important;">
          <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">
            {% for method in TOP %}
            <tr>
              <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
              <td style="text-align: center;" width='50'>
                {% if method.card == 1 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">국민카드</a>
              {% elif method.card == 2 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">롯대카드</a>
              {% elif method.card == 3 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">BC카드</a>
              {% elif method.card == 4 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">삼성카드</a>
              {% elif method.card == 6 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">신한카드</a>
              {% elif method.card == 7 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">하나카드</a>
              {% elif method.card == 8 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">현대카드</a>
              {% elif method.card == 9 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">농협카드</a>
              {% elif method.card == 10 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">시티카드</a>
              {% elif method.card == 11 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">카카오뱅크카드</a>
              {% endif %}
              </td>
              <td width='25' style="text-align: right;"><a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|truncatechars:100|intcomma }}원</a></td>
              <td width='15' style="text-align: right;">
                {% if method.card == 1 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#ff5d51">156,700</a>
                {% elif method.card == 4 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#4c8ae5">34,200</a>
                {% elif method.card == 7 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#4c8ae5">44,100</a>
                {% endif %}
              </td>
              <!--
              <td width='40'>
                {% if method.card == 1 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
                <img style="width: 20px; height:20px;" src="media/arrow.png">
                {% elif method.card == 4 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
                <img style="width: 20px; height:20px;" src="media/arrow.png">
                {% elif method.card == 7 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
                <img style="width: 20px; height:20px;" src="media/arrow.png">
                {% endif %}
              </td>
              -->
            </tr>
            {% empty %}
            <div class="summary-nodata-wrap">
              <a>소비내역 및 지출내역이 없습니다.</a>
            </div>
            {% endfor %}
          </table>
        </ol>
        </div>
      </div> <!-- 소비 탑5 카드사 div 끝-->

      <div style="background-color:#fff; margin:20px 5% 0 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);"><!-- 소비 탑5 기업명 div 시작-->
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="margin-right:5px; vertical-align:bottom; width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">소비 Top5 기업명</a></div>
        <div>
          <ol style="padding-left: 1rem !important;">
            <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">
              {% for area in TOP %}
              <tr>
                <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
                <td style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:50px; text-align: left;" width='50'>
                  <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">{{ area.place }}</a>
                </td>
                <td style="text-align: right;" width='25'>
                  <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ area.amount|truncatechars:500|intcomma }}원</a>
                </td>
                <td width='10' style="text-align: right;">
                  <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#ff5d51">1,256,400</a>
                </td>
                <!--
                <td width='40' style="text-align: right;">
                  <a style="font-family: 'Noto Sans KR', sans-serif; font-size:9pt; font-weight:300; color:#8e8e8e">주문</a>
                  <img style="width: 20px; height:20px;" src="media/arrow.png">
                </td>
                -->
              </tr>
              {% empty %}
              <div class="summary-nodata-wrap">
                <a>소비내역 및 지출내역이 없습니다.</a>
              </div>
                {% endfor %}
            </table>
          </ol>
        </div>
      </div><!-- 소비 탑5 기업명 div 끝-->

      <!-- 카테고리 탑5 div 시작-->
      <div style="background-color:#fff; margin:20px 5% 0 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);">
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="margin-right:5px; vertical-align:bottom; width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">소비 Top5 카테고리</a></div>
      <div>
        <ol style="padding-left: 1rem !important;">
          <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">
            {% for category in TOP %}
            <tr>
              <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
              <td style="text-align: left;" width='60'>
                {% if category.category == 1 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">식비</a>
                {% elif category.category == 2 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">카페/간식</a>
                {% elif category.category == 3 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">술/유흥</a>
                {% elif category.category == 4 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">생활</a>
                {% elif category.category == 5 %}
                <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">쇼핑</a>
                {% endif %}
              </td>
              <td style="text-align: right;" width='150'>
                <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.amount|truncatechars:16|intcomma }}원</a>
              </td>
            </tr>
            {% empty %}
            <div class="summary-nodata-wrap">
              <a>소비내역 및 지출내역이 없습니다.</a>
            </div>
            {% endfor %}
          </table>
        </ol>
      </div>
      </div> <!-- 카테고리 탑5 div 끝-->

        <!-- 건수 탑5 div 시작-->
      <div style="background-color:#fff; margin:20px 5% 80px 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);">
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="margin-right:5px; vertical-align:bottom; width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">건수 Top5 카테고리</a></div>
      <div>
      <ol style="padding-left: 1rem !important;">
        <table border="0" style="width: 100%; margin-top:10px; border-collapse:inherit;">
          {% for category in Category_count %}
          <tr>
            <td width='10'><li style="font-weight: bold; color:#8e8e8e;"></li></td>
            <td style="text-align: left;" width='60'>
              {% if category.category == 1 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">식비</a>
              {% elif category.category == 2 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">카페/간식</a>
              {% elif category.category == 3 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">술/유흥</a>
              {% elif category.category == 4 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">생활</a>
              {% elif category.category == 5 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">쇼핑</a>
              {% endif %}
            </td>
            <td style="text-align: right;" width='150'>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
            </td>
          </tr>
          {% empty %}
          <div class="summary-nodata-wrap">
            <a>소비내역 및 지출내역이 없습니다.</a>
          </div>
        {% endfor %}
        </table>
      </ol>
      </div>
      </div><!-- 건수 탑5 div 시작-->
      

    </div><!--- 요약 SWIPER div영역 끝 --->



    <!--- 내역 div영역 시작 --->
    <div class="swiper-slide" data-name="내역" data-hash="list">
      <div>
      <table class="list-table" style="background-color:#fff; border-radius:10px; margin: 15px 10px 60px 10px; padding:0 20px 60px 20px; border-collapse:separate; border-spacing:0 20px; "width="95%">
        <colgroup>
          <col width="50%"/>
          <col width="*"/>
        </colgroup>
        {% for detail in Detail_month %}
        {% ifchanged detail.spend_date.day %}
        <tr style="vertical-align:top;">
        <th style="text-align:left;padding-left:5px; border-bottom:1px solid #dddddd;">
          <img src="media/date.png" style="margin-right: 5px; width:30px; height:30px; vertical-align: -webkit-baseline-middle;">
          <a style="font-weight: 100; color:#3a3a3a;font-size:20pt; vertical-align: inherit;">{{detail.income_id}}{{ detail.spend_date | date:'d일' }}</a>
        </th>
        <th style="text-align:right;font-size:13px; border-bottom:1px solid #dddddd; vertical-align: middle;">
         <!-- <div style="display:flex;flex-direction:column;align-items:flex-end;"> -->
          <div>
          {% if Income_day|find_income_money:detail.spend_date.day %}
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight: bold; font-size:10pt; margin-right:5px; color: #4c8ae5;">+{{Income_day|find_income_money:detail.spend_date.day|intcomma}}원</a>
            {% else %}
            {% endif %}

          {% if Spend_day|find_spend_money:detail.spend_date.day %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight: bold; font-size:10pt; margin-right:5px; color: #ff5d51">-{{ Spend_day|find_spend_money:detail.spend_date.day|intcomma }}원</a>
              {% else %}
          {% endif %}
            </div>
        </th>{% endifchanged %}
</tr>
        {% if detail.kind == "지출" %}
        <tr onclick="location.href='{% url 'calendars:edit_calendar'  detail.kind detail.spend_id %}'">
          {% else %}
          <tr onclick="location.href='{% url 'calendars:edit_calendar' detail.kind detail.spend_id %}'">


              {% endif %}
          <td style="vertical-align:top;">
            <div style="text-align:left;padding-left:30px;">
              {% if detail.kind == "지출" %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a; display:block;">{{ detail.place }}</a>
              {% elif detail.kind == "수입" %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if detail.place == '1' %} 급여 {% endif %}</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if detail.place == '2' %} 용돈 {% endif %}</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if detail.place == '3' %} 금융수입 {% endif %}</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if detail.place == '4' %} 사업수입 {% endif %}</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:12pt; color: #3a3a3a;display:block;">{% if detail.place == '5' %} 기타 {% endif %}</a>
              {% endif %}
            <a style="text-align:left;font-size: 13px; color:gray;display:block;">{{ detail.spend_date | date:'h:m' }}</a>
              </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align:right; padding-right:15px;">
            {% if detail.kind == '지출' %}
            <a class="amount" style="color: #2a2a2a">-{{ detail.amount|intcomma }}원</a>
          {% else %}
            <a class="amount" style="color: #2a2a2a">+{{ detail.amount|intcomma }}원</a>
          {% endif %}
            </div>
          </td>
        </tr>
        {% empty %}
        <style>
          .list-table{display: none;}
        </style>
        <div class="list-empty-wrap">
          <i class="fas fa-exclamation"></i><br>
          <a>소비내역 및 지출내역이 없습니다.</a>
        </div>
        {% endfor %}
      </table>
    </div>
    </div>
    <!--- 내역 SWIPER div영역 끝 --->

      <!--- 달력 SWIPER div영역 시작--->
      <div class="swiper-slide" id="swiper-cal" data-name="달력" data-hash="calendar" style="padding-top: 20px !important;">


        <div class="cal-container">
        
            <div id="test2"></div>
            <input type="hidden" value="" id="testtest">
            <div style="padding: 5px; position:relative;" id='calendar' class="fullcal"></div>
        </div>
 
    </div><!------------------- 달력 SWIPER div영역 끝------------------------------->


    </div><!--swiper-wrapper 선언끝-->
    <div class="swiper-pagination" ></div>
  </div><!--myswiper 선언끝-->

  <!-- Swiper JS -->

  <!-- Initialize Swiper -->
  <script>
    var bullet = ["추천", "요약", "내역" ,"달력"];

    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 'auto',
      centeredSlides: true,
      autoHeight: true,
      //effect:'fade', 
      fadeEffect: { crossFade: true },
      mousewheel: false,
      speed: 0,
      hashNavigation: {
        watchState: true,
        replaceState:true,
      },   
      pagination : {
        observer: true,
        observeParents: true,
        el : '.swiper-pagination',
        clickable : true,
        paginationType: "custom",
        renderBullet: function (index, className) {
          return '<div class="' + className + '"><span>' + (bullet[index]) + '</span></div>';
        }
        },
        
        scrollbar: {
          el: '.swiper-scrollbar',
        },
    });
    /*
    swiper.on('slideChange', function () {
      window.scrollTo(0,0);
      swiper.update(true);
      //console.log('slide changed');
    });*/
    swiper.update();
  </script>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth() + 1;
      var y = date.getFullYear();
      var date1 = (y+'-'+m+'-'+d);
      var date2 = (y+'-'+m);
      console.log('Today is ' + date1);


    var calendar = new FullCalendar.Calendar(calendarEl, {
      selectable: false,
      selectOverlap:false,
      editable: false,
      droppable:false,
      themeSystem: 'standard',
      dragScroll:false,
      headerToolbar: {
        left: '',
        center: 'prev title next',
        right: ''
      },
      titleFormat: function (date) {
        // YYYY년 MM월
        return `${date.date.year}년 ${date.date.month + 1}월`;
      },
      dayHeaderContent: function (date) {
        let weekList = ["일", "월", "화", "수", "목", "금", "토"];
        return weekList[date.dow];
      },
      height: 460,
      //locale: 'en',
      events: [
      {% for i in spend_day_sum2 %}
      {
        title: "-{{i.amount|intcomma}}",
        start: "{{i.spend_date | date:'Y-m-d'}}",
        textColor: 'Red',
        color:'transparent',
        allday: 1,
      },
      {% endfor %}
      {% for i in income_day_sum2 %}
      {
        title: "+{{i.amount|intcomma}}",
        start: "{{i.income_date | date:'Y-m-d'}}",
        textColor: 'Blue',
        color:'transparent',
        allday: 1,
      },
      {% endfor %}
    ],
    eventClick: function(info) {
      console.log(info.event);
      click_date = info.event.startStr; // 날짜
      title_date = moment(click_date).format('YY. MM. DD');
      //click_title = event.dayEl.innerText;
      console.log(click_date);
      document.getElementById('testtest').value = click_date;
      $.ajax({
        type: "POST",
        url: "{% url 'calendars:ajax_pushdate' %}",
        data: {
          testtest: $('#testtest').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          dataType: "json",
        },
        cache: false,
        headers: {"cache-control": "no-cache","pragma": "no-cache"},
        success: function(data){
          msg_value = data.msg1;
          const reset = document.getElementById('modalBody');
          reset.innerHTML = '';
          for (var i = 0; i<msg_value.length; i++) {
            const element = document.getElementById('modalBody');
            element.innerHTML += '<div class="modal-body-text"><a>'
            + msg_value[i]['amount'] + '원' +  '</a> </div>';
          }
        },
        fail: function() {
          console.log('ajax send error!');
          alert('해당날짜의 내역을 불러오는 과정에서 오류가 발생했습니다');
        },
      });
      $('#calendarModal').modal('show');
      $('#modalTitle').text(click_date);
    },
    });
    calendar.render();
  });
  </script>


<link rel = "stylesheet" href="{% static 'css/main.css' %}">
<link rel = "stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/main.js' %}"></script>

{% endif %}
{% endblock container %}