{% extends 'base.html' %}
{% load mytag %}
{% load humanize %}
{% load static %}

{% block title %}레몬::가계부{% endblock title %}
{% block container %}
<style>
  #container{
    display: block;
    overflow-x: hidden;
  }

  body{
    position: relative !important;
    background-color: #F7F7F7;
  }

  a {
    text-decoration:none;
    text-decoration-line: none;
  }

  a:link, a:visited, a:hover, a:active {
  color: #202020;
  text-decoration:none;
  text-decoration-line: none;
  }

  /* FOOTER에서 사용하는 CSS */
  .bottom-nav-calendar{
    color: #FFD859 !important;
  }

  .bottom-nav-calendar a{
    color: #FFD859 !important;
  }

  .bottom-nav-search-stock a,
  .bottom-nav-stock a,.bottom-nav-addlist a,
  .bottom-nav-myinfo a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #D1D6DA !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #a9a9a9;
  }
  </style>

  {% if user.e_chk == 0 %}
  <div class="signup-wrap">

    <div class="input-form col-md-12 mx-auto" style="height:100%; padding:20px; text-align:left;">
        <div style="width: 100%; text-align:center; margin-bottom:20px; margin-top:30px;">
            <img src="media/LEMON_LOGO_146x40.png" style="width: 146px; height:40px;">
        </div>
        <form class="validation-form" method="POST" action="{% url 'calendars:calendar' %}" id="signup-form">
            {% csrf_token %}
            <div class="service_access">
                <div class="all_chk-wrap">
                <label style="text-align:end;">
                    <input type="checkbox" name="all_chk" value ="0" id="all_chk">
                    <a class="all_chk_font">레몬서비스 이용약관, 개인정보 수집에 모두 동의 합니다.</a>
                </div>
                <div class="require_chk_wrap">
                    </label>
                    <a>레몬서비스 이용약관 동의(필수)</a><br>
                    <textarea cols="30" rows="10" style="width:100%;" disabled="disabled">이부분은 이용약관관련된 내용이 들어갈 예정입니다.</textarea><br>
                    <label style="text-align:end;">
                        <input type="checkbox" name="u_chk" value ="1" id="require_chk">
                        <span>이용약관에 동의합니다.</span>
                    </label>
                </div>
            </div>

            <div class="persnal_info_access">
                <div class="require_chk_wrap" style="margin-top: 15px;">
                    <a>개인정보 수집 동의(필수)</a><br>
                    <textarea cols="30" rows="10" style="width:100%;" disabled="disabled">이부분은 개인정보 수집에 대한 내용이 들어갈 예정입니다.</textarea><br>
                    <label style="text-align:end;">
                        <input type="checkbox" name="e_chk" value ="1" id="require_chk">
                        <span>이용약관에 동의합니다.</span>
                    </label>
                </div>

                <button class="btn btn-primary btn-lg btn-block" id="signupBtn" type="submit" value="signup" disabled style="width:100%">회원가입</button>
            </div>
        </form>
    </div>
</div>
<script>
    
  $('#all_chk').change(function () {
      var checked = $(this).prop('checked');
      $('input[id="require_chk"]').prop('checked', checked);
      $('#signupBtn').removeAttr('disabled');
  });

  $('input[id="require_chk"]').change(function () {
      var tmpLength = $('input[id="require_chk"]').length;
      var checkedLength = $('input[id="require_chk"]:checked').length;
      var selectAll = (tmpLength == checkedLength);
      $('#all_chk').prop('checked', selectAll);
      selectAll ? $('#signupBtn').removeAttr('disabled'):$('#signupBtn').attr('disabled','true');});
</script>

  {% else %}

<!-- Modal -->
<div id="calendarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h3 id="modalTitle" class="modal-title"></h3>
          <button type="button" onclick="close_btn()" id="close_btn" class="btn btn-default" data-dismiss="modal">X</button>
      </div>
      <div id="modalBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="location.href='add_calendar'" id="add_event" class="addList-btn" data-dismiss="modal">내역추가</button>
      </div>
    </div>
  </div>
</div>
  <script>
    function close_btn() {
      $('#calendarModal').modal('hide');
    }
  </script>
<!-- Modal관련끝 -->

<!-- 소비내역추가하기버튼 -->
  <div class="addevent-btn">
    <a style="color: #fff;font-size:22px;" href="/add_calendar"><i class="fas fa-pencil-alt"></i></a>
  </div>
<!-- 소비내역추가하기버튼 끝 -->


<div class="swiper mySwiper">
  <div class="swiper-wrapper">

    <!--- 추천 SWIPER div영역 시작 --->
    <div class="swiper-slide" data-name="추천" data-hash="recom">
      <div style="height:600px; border:1px solid black;">
        <a>추천서비스가 들어갈 공간</a>
      </div>
    </div>
    <!--- 추천 div영역 끝 --->


    <!--- 요약 SWIPER div영역 시작 --->
    <div class="swiper-slide" data-name="요약" data-hash="summary">
      <div class="money-info-wrap">
        <div class="money-info-container">
          <a class="money-info-title">
            <strong>{{user.uid}}</strong>님의 <strong>{{month}}월</strong> 가계부
          </a><br>

          <div class="amountMoney">
            <a id="amount-money1" style="display: none;">{{user.invest}}</a>
            <a class="amount-money-title">총자산</a> <a id="amount-money" class="amount-money"></a><a class="amount-won">원</a>
            <div style="width: 95%; margin-top:15px; margin-bottom:10px; border-bottom:0.5px solid #c8c8c8;"></div>
          </div>

          <script>
            //DB에 저장된 usermoney에 천단위 ,(콤마) 찍어주는 스크립트
            //1. display:none 상태인 amount-money1의 값을 가져온다.
            var innerText = document.getElementById('amount-money1').innerText;
            //2. 긁어온 값에 천단위 , 찍어주고 cn1 변수에 저장
            const cn1 = innerText.toString()
            .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
  
            //3. cn1 변수에 저장된 값을 amount-money 값에 띄워줌
            const cn1element = document.getElementById('amount-money');
            cn1element.innerHTML = cn1;
          </script>

          <div style="text-align:initial; padding-left:1rem;">
            <div>
              <strong>{{user.uid}}</strong>님의 <strong>모의투자</strong>현황
              <img style="float:right; margin-right:20px;" src="media/refresh.png" width="25px" height="25px">
            </div>
            <div style="margin-top:0.5rem; margin-bottom:0.5rem;">
              <a style="font-weight: bold;">매수금</a> <a style="margin-left: 10px; margin-right:10px; font-weight:400;">{{Expenditure.amount__sum|intcomma}} 원</a>
              <a style="font-weight: bold;">수익률</a> <a style="margin-left: 10px; font-weight:400; color:#FF5E51;">21.76%</a>
            </div>
            <div style="margin-bottom:2rem;; width:fit-content; position:relative; padding-bottom:2px; border-bottom:1px solid #fff;">
              <a style="font-weight: bold;">평가금</a> <a style="margin-left: 10px; margin-right:10px; font-weight:400; color:#FF5E51;">{{Income.amount__sum|intcomma}} 원</a>
              <a style="font-weight: bold;">수익금</a> <a style="margin-left: 10px; font-weight:400; color:#FF5E51;">111,111,111원</a>
            </div>
          </div>
        </div><!--money-info-container 끝-->
      </div><!--money-info-wrap 끝-->

      <div style="background-color:#fff; margin:20px 5% 0 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);"><!-- 소비 탑5 카드사 div 시작-->
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">소비 Top5 카드사</a><img style="float:right; margin-right:20px;" src="media/refresh.png" width="25px" height="25px">
        </div>
        <div>
          <ol>
            {% for method in Method %}
            <li style="margin: 10pt 0;">
              {% if method.card == 1 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">국민카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 2 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">롯대카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 3 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">BC카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 4 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">삼성카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 6 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">신한카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 7 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">하나카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 8 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">현대카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 9 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">농협카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 10 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">시티카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% elif method.card == 11 %}
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">카카오뱅크카드</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ method.amount|intcomma }}원</a>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </div>
      </div> <!-- 소비 탑5 카드사 div 끝-->

      <div style="background-color:#fff; margin:20px 5% 0 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);"><!-- 소비 탑5 기업명 div 시작-->
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">소비 Top5 기업명</a><img style="float:right; margin-right:20px;" src="media/refresh.png" width="25px" height="25px"></div>
        <div>
          <ol>
            {% for area in Area %}
            <li style="margin: 10pt 0;">
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">{{ area.place }}</a>
              <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ area.amount|intcomma }}원</a>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div><!-- 소비 탑5 기업명 div 끝-->

      <!-- 카테고리 탑5 div 시작-->
      <div style="background-color:#fff; margin:20px 5% 0 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);">
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">소비 Top5 카테고리</a><img style="float:right; margin-right:20px;" src="media/refresh.png" width="25px" height="25px"></div>
      <div>
        <ol>
          {% for category in Category %}
          <li style="margin: 10pt 0;">
            {% if category.category == 1 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">식비</a>
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.amount|intcomma }}원</a>
            {% elif category.category == 2 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">카페/간식</a>
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.amount|intcomma }}원</a>
            {% elif category.category == 3 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">술/유흥</a>
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.amount|intcomma }}원</a>
            {% elif category.category == 4 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">생활</a>
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.amount|intcomma }}원</a>
            {% elif category.category == 5 %}
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">쇼핑</a>
            <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.amount|intcomma }}원</a>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      </div>
      </div> <!-- 카테고리 탑5 div 끝-->

        <!-- 건수 탑5 div 시작-->
      <div style="background-color:#fff; margin:20px 5% 60px 5%; padding: 10px; border-radius:15px; box-shadow:1px 1px 5px 1px rgb(202 202 202);">
        <div style="text-align:center; font-weight: bold; border-bottom:1px solid #c8c8c8; font-size:16px;"><img style="width: 30px; height: 30px;" src="media/trophy.png"><a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">건수 Top5 카테고리</a><img style="float:right; margin-right:20px;" src="media/refresh.png" width="25px" height="25px"></div>
      <div>
      <ol>
        {% for category in Category_count %}
        <li style="margin: 10pt 0;">
          {% if category.category == 1 %}
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">식비</a>
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
          {% elif category.category == 2 %}
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">카페/간식</a>
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
          {% elif category.category == 3 %}
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">술/유흥</a>
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
          {% elif category.category == 4 %}
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">생활</a>
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
          {% elif category.category == 5 %}
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:bold; color:#3a3a3a">쇼핑</a>
          <a style="font-family: 'Noto Sans KR', sans-serif; font-weight:400; color:#3a3a3a">{{ category.count|intcomma }}회</a>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      </div>
      </div><!-- 건수 탑5 div 시작-->
      

    </div><!--- 요약 SWIPER div영역 끝 --->



    <!--- 내역 div영역 시작 --->
    <div class="swiper-slide" data-name="내역" data-hash="list">
      <div>
      <table style="background-color:#fff; border-radius:10px; margin: 10px 10px 60px 10px; padding:5px; border-collapse:separate; border-spacing:0 20px; "width="95%">
        <colgroup>
          <col width="50%"/>
          <col width="*"/>
        </colgroup>
        {% for detail in Detail_month %}
        {% ifchanged detail.spend_date.day %}
        <tr style="vertical-align:top;">
        <th style="text-align:left;padding-left:5px; border-bottom:1px solid #dddddd;">
          <a style="font-weight: 400; color:#808183;font-size:13px">{{ detail.spend_date | date:'m월 d일' }}</a>
        </th>
        <th style="text-align:right;font-size:13px; border-bottom:1px solid #dddddd;">
          <div style="display:flex;flex-direction:column;align-items:flex-end;">
          {% if Income_day|find_income_money:detail.spend_date.day %}
          <a style="margin-right:5px; color: #5498FE;">+{{Income_day|find_income_money:detail.spend_date.day|intcomma}}원</a>
            {% else %}
            {% endif %}

          {% if Spend_day|find_spend_money:detail.spend_date.day %}
            <a style="margin-right:5px; color: #FF4343">-{{ Spend_day|find_spend_money:detail.spend_date.day|intcomma }}원</a>
              {% else %}
          {% endif %}
            </div>
        </th>{% endifchanged %}
</tr>
        <tr>
          <td style="vertical-align:top;padding-bottom: 20px;">
            <div style="text-align:left;padding-left:5px;">
            <a style="font-weight:bold;display:block;">{{ detail.place }}</a>
            <a style="text-align:left;font-size: 13px; color:gray;display:block;">{{ detail.spend_date | date:'h:m' }}</a>
              </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align:right; padding-right:5px;">
            {% if detail.kind == '지출' %}
            <a class="amount" style="color: black">-{{ detail.amount|intcomma }}원</a>
          {% else %}
            <a class="amount" style="color: black">+{{ detail.amount|intcomma }}원</a>
          {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
    <!--- 내역 SWIPER div영역 끝 --->

      <!--- 달력 SWIPER div영역 시작--->
      <div class="swiper-slide" id="swiper-cal" data-name="달력" data-hash="calendar">
        <script>

          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth() + 1;
            var y = date.getFullYear();
            var date1 = (y+'-'+m+'-'+d);
            console.log('date1=>>' + date1);

          var calendar = new FullCalendar.Calendar(calendarEl, {
            defaultDate: new Date(),
            eventStart:false,
            selectable: false,
            dragScroll:false,
            selectOverlap:false,
            edittalbe: false,
            dragable:false,
            droppable:false,
            eventLimit: true,
            themeSystem: 'standard',
            displayEventTime: false,
            eventColor: 'red',
            borderColor: 'black',
            dragScroll:'false',
            eventRender: function(evnent, element) {
              $(element).addTouch();
            },
            headerToolbar: {
              left: '',
              center: 'prev title next',
              right: ''
            },
            height: 580,
            locale: 'ko',
            events: [
            {% for i in spend_day_sum2 %}
            {
              title: "-{{i.amount}}원",
              start: "{{i.spend_date | date:'Y-m-d'}}",
              textColor: 'Red',
              color:'transparent',
              allday: 1,
            },
            {% endfor %}
            {% for i in income_day_sum2 %}
            {
              title: "+{{i.amount}}원",
              start: "{{i.income_date | date:'Y-m-d'}}",
              textColor: 'Blue',
              color:'transparent',
              allday: 1,
            },
            {% endfor %}
          ],
          dateClick: function(event,info) {
            moment.locale('ko');
            click_date = event.dateStr; // 날짜
            title_date= moment(click_date).format('YY. MM. DD');
            click_title = event.dayEl;
            console.log(click_title);
            console.log(event);
            document.getElementById('testtest').value = click_date;
            $.ajax({
              type: "POST",
              url: "{% url 'calendars:ajax_pushdate' %}",
              data: {
                testtest: $('#testtest').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",
              },
              success: function(data){
                msg_value = data.msg1;
                console.log(msg_value);
                const reset = document.getElementById('modalBody');
                reset.innerHTML = '';
                for (var i = 0; i<10; i++) {
                  const element = document.getElementById('modalBody');
                  element.innerHTML += '<div class="modal-body-text"><a href="/edit_calendar">'+ msg_value[i].amount + '원'+ '</a> <a>'+ msg_value[i].kind + '</a> </div>';
                }
              },
              failure: function() {
                console.log('ajax send error!');
                alert('해당날짜의 내역을 불러오는 과정에서 오류가 발생했습니다');
              },
            });
            $('#calendarModal').modal('show');
            $('#modalTitle').text(title_date);
          },
          });
          calendar.render();
        });
        </script>


        <div class="cal-container">
          <div class="cal-wrap">
            <div id="test2"></div>
            <input type="hidden" value="" id="testtest">
            <div style="padding: 5px; position:relative;" id='calendar' class="fullcal"></div>
          </div>
        </div>
 
    </div><!------------------- 달력 SWIPER div영역 끝------------------------------->


    </div><!--swiper-wrapper 선언끝-->
    <div class="swiper-pagination" ></div>
  </div><!--myswiper 선언끝-->

  <!-- Swiper JS -->

  <!-- Initialize Swiper -->
  <script>
    var bullet = ["추천", "요약", "내역" ,"달력"];

    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 'auto',
      centeredSlides: true,
      autoHeight: true,
      effect:'fade', 
      fadeEffect: { crossFade: true },
      mousewheel: false,
      speed: 100,
      hashNavigation: {
        watchState: false,
        replaceState:true,
      },   
      pagination : {
        observer: true,
        observeParents: true,
        el : '.swiper-pagination',
        clickable : true,
        paginationType: "custom",
        renderBullet: function (index, className) {
          return '<div class="' + className + '"><span>' + (bullet[index]) + '</span></div>';
        }
        },
        
        scrollbar: {
          el: '.swiper-scrollbar',
        },
    });

    swiper.on('slideChange', function () {
      window.scrollTo(0,0);
      //console.log('slide changed');
    });

    //var body_height = document.documentElement.clientHeight-200;
    //$('.swiper-wrapper').height(body_height)
    //swiper.update(true);
    /*
  var body_height = document.documentElement.clientHeight;
  $('.swiper-slide').height(body_height)
    $('.swiper mySwiper').height(body_height)
    swiper.update(true);*/

  </script>



<link rel = "stylesheet" href="{% static 'css/main.css' %}">
<link rel = "stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/ko.js' %}"></script>

{% endif %}
{% endblock container %}