{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::아이디 찾기{% endblock title %}

{% block nav %}
<div id="nav">
    <div style="text-align:center;">
      <a style="color: #fff;" href="{% url 'accounts:login' %}"><i class="fa fa-angle-left" style="position: absolute;
    left: 5px;
    padding: 14px 15px;
    top: 0;
    font-size: 25px;
    font-weight: 600;color:black;"></i></a>아이디 찾기
    </div>
</div>
{% endblock %}

{% block container %}
<style>
    *{
        user-select: all;
        -webkit-user-select: text; /* Safari fallback only */
        -webkit-user-select: all; /* Chrome/Safari */
        -moz-user-select: all; /* Firefox */
        -ms-user-select: all; /* IE10+ */
    }
  #footer{display:none;}

  .email-form{
    padding:20px;
  }
  .img-wrap{
    padding-top:50px;
    text-align:center;
    width:100%;
  }
  .img-wrap img{
    width:120px;
  }
  .text-wrap{
    font-weight:400;
    font-size:18px;
    padding-top:30px;
    text-align:center;
    line-height:40px;
    color: #141414;
    margin-bottom:20px;
  }

  input[type="email"] {
    padding-left:10px;
    width:70%;
    height:45px;
    border: 1px solid #ddd;
    border-radius:10px;
  }

  .submit-btn{
    border:none;
    border-radius:10px;
    width:70%;
    height:45px;
    margin-top:20px;
    font-size:18px;
    font-weight:400;
    background-color:#93bcf9;
    color:#FFF;
  }
  .submit-btn2{
    border:1px solid #93bcf9;
    border-radius:10px;
    width:70%;
    height:45px;
    margin-top:30px;
    font-size:18px;
    font-weight:400;
    background-color:#FFF;
    color:#141414;
  }
</style>

<div class="email-form">
  <div class="img-wrap"><img src="/media/LEMON.png"/></div>

  <div class="text-wrap">
    <a>Lemon에 가입했던 이메일을 입력해주세요.</a> <br>
  </div>

  <div class="form-wrap" style="text-align:center;">
    <form method="POST" action="{% url 'accounts:find_id_result' %}">
      {% csrf_token %}
      <input type="email" name="find_email"/>
      <button class="submit-btn" name="find_id" id="find_id" type="submit">아이디 찾기</button><br>
    </form>
<!--    <button class="submit-btn2" type="button" onclick="go_home()">처음으로</button>-->
  </div>
</div>
<script>
  function go_home() {
    window.location.href = '{% url 'accounts:login' %}'
  }
</script>
{% endblock %}