{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mytag %}
{% block title %}레몬::홈{% endblock title %}
{% block container %}
<style>
    select {
        -webkit-appearance:none; /* for chrome */
        -moz-appearance:none; /*for firefox*/
        appearance:none;
    }
    select::-ms-expand{
        display:none;/*for IE10,11*/
    }

    input::placeholder {
    color: #a0a0a0;
    font-size:14px;
    line-height:16px;
    padding-bottom:3px;
    }

    canvas{
    margin-top: 30px;
    width:100% !important;
    pointer-events: none;
    }
    .footer-line-home{
        width:50px;
        padding: 7px 0 5px 0;
        border-bottom: 2px solid #93bcf9;
    }
    .home-property-content{
    font-size:16px;
    display:flex;
    justify-content:space-between;
    }

    .home-stock-input {
    font-size:22px;
    }
    .home-spand-input{
    font-size:22px;
    }
</style>

<!-- 소셜 로그인으로 첫 접속했을때 나오는 화면 -->
{% if user.u_chk == 0 %}
<style>
    #footer{
        display:none;
    }
    .loader-main{
        bottom:0px !important;
    }
</style>
<div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
    <div style="text-align:center;">추가정보 수집 안내</div>
    </div>
</div>

<div class="socialAccess-wrap" style="padding: 0 20px;">
    <div class="alert alert-danger" role="alert">
        <a>최초 로그인시, <strong>개인정보 수집 동의 </strong>와
        <strong>추가정보 입력</strong> 후 서비스 사용가능합니다.</a>
    </div>

    <form method="POST" action="{% url 'calendars:home' %}" id="signupForm">
    {% csrf_token %}
    <!-- 개인정보 수집 동의 영역 -->
    <div class="persnal_info_access">
        <div class="require_chk_wrap" style="margin-top: 15px;">
            <a>개인정보 수집 동의(필수)</a><br>
            <textarea rows="10" style="width:100%;" disabled="disabled">{% include "persnal.html" %}</textarea><br>
            <label style="text-align:end;">
                <input type="checkbox" name="u_chk" value="1" id="require_chk2" style="-webkit-appearance: checkbox;">
                <span>이용약관에 동의합니다.</span>
            </label>
        </div>
    </div><!-- 개인정보 수집 동의 영역 끝 -->

    <!-- 추가정보 영역 -->
    <div class="add_info" style="padding-top:40px;">
        <a class="add_info_title" style="padding-top:40px;">추가 정보</a><br>
        <!-- 이름입력 영역 -->
        <div class="add_info_content">
            <input id="name" name="username" type="text" class="add_info_input" value="" placeholder="이름을 입력해주세요(필수)">
        </div>

        <!-- 성별선택 영역 -->
        <div class="add_info_content">
            <select name="gender" class="add_info_select">
                <option value=""> 성별을 선택해주세요(선택사항) </option>
                <option value="M"> 남자 </option>
                <option value="F"> 여자 </option>
            </select>
        </div>

        <!-- 직업선택 영역 -->
        <div class="add_info_content">
            <select name=job class="add_info_select">
                <option value="0"> 직업군을 선택해주세요(선택사항) </option>
                <option value="1">학생</option>
                <option value="2">직장인</option>
                <option value="3">사업자</option>
                <option value="4">공무원</option>
                <option value="5">기타(프리랜서)</option>
                <option value="6">무직</option>
            </select>
        </div>

        <!-- 모의자산 입력 영역 -->
        <div class="add_info_content">
            <input type="number" class="add_info_input" id="invest" name="invest" placeholder="모의 투자금액을 입력하세요.(선택사항)" value="0">
        </div>

        <!-- 전화번호 입력 영역 -->
        <div class="add_info_content">
            <input class="add_info_phone" id="vaildPhonenumber" name="vaildPhonenumber" type="number" placeholder="- 를 제외하고 전화번호를 입력하세요. (선택사항)">
            <input type="hidden" name="phonenumber">
            <button type="button" id="codeBtn" class="phone_code_btn">발송</button><br>
            <input id="inputCode" class="add_info_phonecode" type="number" placeholder="인증번호 입력" disabled> <a id="count"
                class="count"></a>
            <button type="button" id="certBtn" onclick="certfun();" class="phone_code_btn" disabled>확인</button><br>
        </div>

        <!-- 생년월인 선택 영역 -->
        <div class="add_info_content">
            <a class="add_info_title" style="padding-top:40px;">생년월일</a><br>
            <input style="margin-bottom:10px;" class="add_info_year" name=birthday type="date" id="year" maxlength="8"
                placeholder="생년월일을 입력해주세요. (선택사항) 예시)19801210">
        </div>

        <!-- 핀번호 입력 영역 -->
        <div class="add_info_content">
            <input type="text" class="add_info_input" id="pin" name="pin" placeholder="핀번호 입력해주세요. 미입력시 초기 비밀번호는 0000 입니다." value="">
        </div>
        
        <button class="access_btn" id="signupBtn" onclick="signup_check();" type="button" value="signup" disabled style="width:100%">레몬 시작하기</button>
    </div><!-- 추가정보 영역 끝 -->
    </form>
</div>
<script>
    document.addEventListener('keydown', function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        };
    }, true);

    document.addEventListener('keydown', function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
    };
    }, true);

$('#require_chk2').change(function () {
    var checked = $(this).prop('checked');
    $('input[id="require_chk2"]').prop('checked', checked);
    //$('#signupBtn').removeAttr('disabled');
    checked ? $('#signupBtn').removeAttr('disabled'):$('#signupBtn').attr('disabled','true');
});
</script>

<script>

/* 전화번호 길이 검증 스크립트 */
document.addEventListener('keydown', function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
    };
}, true);

  document.addEventListener('keydown', function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
  };
}, true);
</script>

<script>
    // 이용약관도 체크 확인 하기
    // 핸드폰 중복 확인
    function signup_check() {
        let require_chk = $('input[id="require_chk2"]').is(":checked");
        if (!require_chk) {
            alert('이용약관을 동의해 주세요.')
        }
        else if ($('#name').val() == '') {
            alert('이름을 입력해주세요.');
            return false;
        }
        else {
            const form = document.getElementById('signupForm');
            alert($('#name').val() + '님, 소셜 아이디 회원가입을 축하합니다.')
            form.action = "{% url 'calendars:home' %}"
            form.submit();
        }
    }
</script>

<script>
    document.getElementById('codeBtn').addEventListener('click', codebtn);

    KEY = undefined;
    function codebtn(){
        KEY = makeRandomNum(4);
        var timer = null;
        var isRunning = false;
        var display = $('#count');
        var leftSec = 180;
        var phoneInput = document.getElementById('vaildPhonenumber');
        if(phoneInput.value == '' || phoneInput.value == null){
            alert('휴대전화번호를 입력하세요.');
            return false;
        }
        if(phoneInput.value.length != 11){
            alert('휴대전화번호 11자리를 입력하세요.');
            return false;
        }

        if((phoneInput.value != '' || phoneInput.value != null) && phoneInput.value.length == 11 ){
            alert('입력하신 휴대번호로 인증번호를 전송하였습니다.');
            $('#inputCode').removeAttr('disabled');
            $('#certBtn').removeAttr('disabled');
            $('#codeBtn').attr('disabled',true);
            if (isRunning){
                clearInterval(timer);
                display.html("");
                startTimer(leftSec, display);
            }else{
                startTimer(leftSec, display);
            };

            $.ajax({
                type: "POST",
                url: "{% url 'calendars:ajax_sendSMS' %}",
                data: {
                    NUM: $('#vaildPhonenumber').val(),
                    KEY: KEY,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function(data){
                    console.log('성공');
                },
                fail: function(data) {
                    console('실패');
                },
            });
            return 0;
        }
        else{

        }
        // 난수 설정
        function makeRandomNum(n) {
            let value = '';
            for(let i = 0; i < n; i++) {
                value += Math.floor(Math.random() * 10);
            }
            return value;
        }
    }

    function certfun() {
        if(document.querySelector("#inputCode").value == KEY){
            alert('확인되었습니다.');
            clearInterval(timer);
            let temp = $('input[name=vaildPhonenumber]').val();
            $('input[name=phonenumber]').attr('value', temp);
            $('#vaildPhonenumber').attr('disabled', true);
            $('#inputCode').attr('disabled', true);
            $('#codeBtn').attr('disabled', true);
            $('#certBtn').attr('disabled', true);
            document.querySelector("#count").style.display = "none";
        }
        else if(document.querySelector("#inputCode").value != KEY) {
            alert('인증번호가 일치하지 않습니다. 다시 확인해주세요.');
        }
        else{
            alert('알수없는 오류가 발생하였습니다. 다시 진행해주세요.');
        }
    }

    function startTimer(count, display) {
        var minutes, seconds;
        timer = setInterval(function () {
            minutes = parseInt(count / 60, 10);
            seconds = parseInt(count % 60, 10);
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.html(minutes + ":" + seconds);
        // 타이머 끝
        if (--count < 0) {
            clearInterval(timer);
            alert("입력시간이 초과되었습니다.");
            display.html("00:00");
            $('#certBtn').attr('disabled', true);
            $('#codeBtn').removeAttr('disabled');
            $('.btn_chk').attr("disabled","disabled");
            isRunning = false;
            }
        }, 1000);
            isRunning = true;
    }
</script>
<!-- 소셜 로그인으로 첫 접속했을때 나오는 화면 끝 -->

{% else %}
<!-- 홈 wrap 시작 -->
<div class="home-wrap">
    <div class="home-title">
        <a><strong>{{user.username}}</strong>님의 <br><strong>소비</strong>와 <strong>투자 현황</strong></a>
    </div>
    <div class="chart-legend2">
        <div><a style="color: #4c8ae5; padding-right: 5px;">■</a>
            <a>모의투자 금액</a><a style="float: right;">{{Home_chartjs_data.0|intcomma }}원</a>
        </div>
        <div><a style="color: #ff5d51; padding-right: 5px;">■</a>
            <a>주식 수입</a><a style="float: right;">{{Home_chartjs_data.1|intcomma }}원</a>
        </div>
        <div><a style="color: #93bcf9; padding-right: 5px;">■</a>
            <a>가계부 지출</a><a style="float: right;">{{Home_chartjs_data.2|intcomma }}원</a>
        </div>
        <div><a style="color: #ffd85a; padding-right: 5px;">■</a>
            <a>가계부 수입</a><a style="float: right;">{{Home_chartjs_data.3|intcomma }}원</a>
        </div>
    </div>
    <div class="home-chart" id="home-chart"> <!-- 차트부분 -->
      <canvas id="myChart2" width="100" height="100"></canvas>
      <script>
        const ctx = document.getElementById('myChart2').getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['모의투자금액','주식수입','가계부지출','가계부수입'],
            datasets: [{
              label: ['모의투자금액','주식수입','가계부지출','가계부수입'],
              data: {{ Home_chartjs_data }},
              backgroundColor: [
                '#4c8ae5',
                '#ff5d51',
                '#93bcf9',
                '#ffd85a',
              ],
              borderColor: [
                '#FFF',
                '#FFF',
                '#FFF',
                '#FFF',
              ],
              borderWidth: 5
              }]
          },
          options: {
            legend: { display: false },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            cutoutPercentage: 80,
            tooltips:{
            enabled: 0,
              mode: 'nearest',
              displayColors: true, // 툴팁 바 컬러 표시 여부
              backgroundColor: '#FFF', // 툴팁 배경
              titleFontSize: 14,
              titleSpacing: 50,
              titleMarginBottom: 16,
              titleMarginLeft: 26,
              titleFontStyle: 'bold',
              titleFontColor: "#000",
              bodyFontColor: '#000', // 툴팁 폰트 관련
              bodyFontSize: 16,
              borderWidth:2,
              cornerRadius: 6,
              xPadding:12,
              yPadding:20,
              footerMarginTop:30,
              caretPadding:15,
              borderColor: 'rgba(163, 163, 163,1)',
              callbacks: {
                title: function(tooltipItem) {
                return this._data.labels[tooltipItem[0].index];
              },
            },
          },
        },
      });
      </script>
    </div> <!-- 차트부분 끝 -->

    <!-- 소비 영역 -->
    <div class="home-spand-div"> 
        <div class="home-spand-title">
            <a><strong>{{month}}월</strong> 소비</a>
            <b class="home-spand-dateView" id="date_view"></b>
        </div>

        <div class="home-spand-input">
            <a>지출 {{Expenditure.amount__sum|default_if_none:'0'|intcomma}}원</a>
        </div>

        <div class="home-spand-buttons">
            <div onclick="location.href='{% url 'calendars:history' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;" class="home-spand-button">소비 내역</div>
            <div onclick="location.href='{% url 'calendars:top5' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;"class="home-spand-button">소비 분석</div>
        </div>
    </div><!-- 소비 영역 끝 -->

    <!-- 주식 영역 -->
    <div class="home-stock-div">
        <div class="home-stock-title">
            <strong><a>주식</a></strong>
            <a class="home-spand-dateView" id="date_view2"></a>
        </div>

        <div class="home-stock-input">
            <a>{{total_investment_amount|default_if_none:'0'|intcomma}}원</a>
            
        </div>

        <div class="home-stock-input2">
            {{total_investment_amount|sub:user_total_investment_amount|intcomma}}원 ({{total_investment_amount|yields:user_total_investment_amount|rounds:2}}%)</a>
        </div>


        <div class="home-stock-buttons">
           <div onclick="location.href='{% url 'calendars:history' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;" class="home-spand-button">소비 내역</div>
            <div onclick="location.href='{% url 'calendars:top5' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;"class="home-spand-button">소비 분석</div>
       </div>
    </div><!-- 주식 영역 끝 -->

    <!-- 총자산 영역 -->
    <div class="home-property-div">
      <div class="home-property-title">
        <strong><a>총 자산</a></strong>
        <a id="todayDateView" style="font-size:14px; float: right;"></a>
          <div class="home-property-contentsWrap" style="width:100%;padding-top:5px;">
            <div class="home-property-content">
              <strong><a>지출</a></strong><a>{{Expenditure.amount__sum|default_if_none:'0'|intcomma}}원</a>
            </div>

            <div class="home-property-content">
              <strong><a>수입</a></strong><a>{{income_sum_value|default_if_none:'0'|intcomma}}원</a>
            </div>

            <div class="home-property-content">
              <strong><a>투자</a></strong><a>{{total_investment_amount|default_if_none:'0'|intcomma}}원</a>
            </div>

            <div class="home-stock-buttons">
             <div onclick="location.href='{% url 'calendars:history' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;" class="home-spand-button">소비 내역</div>
            <div onclick="location.href='{% url 'calendars:top5' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;"class="home-spand-button">소비 분석</div>
        </div>
          </div>
      </div>
    </div><!-- 총자산 영역 끝-->

</div><!-- 홈 wrap 끝 -->

<script>
  $(document).ready(function () {
    let date = new Date();
    let today = moment(date).format('MM.DD');
    const tmp = document.getElementById("todayDateView");
    tmp.innerHTML = today;
    console.log(today);

    
  });
</script>

{% endif %}
{% endblock container %}
