{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mytag %}
{% block title %}레몬::홈{% endblock title %}
{% block container %}
<style>
    select {
        -webkit-appearance:none; /* for chrome */
        -moz-appearance:none; /*for firefox*/
        appearance:none;
    }
    select::-ms-expand{
        display:none;/*for IE10,11*/
    }

    input::placeholder {
    color: #a0a0a0;
    font-size:14px;
    line-height:16px;
    padding-bottom:3px;
    }

    canvas{
    margin-top: 30px;
    width:100% !important;
    pointer-events: none;
    }
    .footer-line-home{
        width:50px;
        padding: 7px 0 5px 0;
        border-bottom: 2px solid #93bcf9;
    }
    .home-property-content{
    font-size:16px;
    display:flex;
    justify-content:space-between;
    }

    .home-stock-input {
    font-size:22px;
    }
    .home-spand-input{
    font-size:22px;
    }
</style>
<!-- 홈 wrap 시작 -->
<div class="home-wrap">
    <div class="home-title">
        <a><strong>{{user.username}}</strong>님의 <br><strong>소비</strong>와 <strong>투자 현황</strong></a>
    </div>
    <div class="chart-legend2">
        <div><a style="color: #4c8ae5; padding-right: 5px;">■</a>
            <a>모의투자 금액</a><a style="float: right;">{{Home_chartjs_data.0|intcomma }}원</a>
        </div>
        <div><a style="color: #ff5d51; padding-right: 5px;">■</a>
            <a>주식 수입</a><a style="float: right;">{{Home_chartjs_data.1|intcomma }}원</a>
        </div>
        <div><a style="color: #93bcf9; padding-right: 5px;">■</a>
            <a>가계부 지출</a><a style="float: right;">{{Home_chartjs_data.2|intcomma }}원</a>
        </div>
        <div><a style="color: #ffd85a; padding-right: 5px;">■</a>
            <a>가계부 수입</a><a style="float: right;">{{Home_chartjs_data.3|intcomma }}원</a>
        </div>
    </div>
    <div class="home-chart" id="home-chart"> <!-- 차트부분 -->
      <canvas id="myChart2" width="100" height="100"></canvas>
      <script>
        const ctx = document.getElementById('myChart2').getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['모의투자금액','주식수입','가계부지출','가계부수입'],
            datasets: [{
              label: ['모의투자금액','주식수입','가계부지출','가계부수입'],
              data: {{ Home_chartjs_data }},
              backgroundColor: [
                '#4c8ae5',
                '#ff5d51',
                '#93bcf9',
                '#ffd85a',
              ],
              borderColor: [
                '#FFF',
                '#FFF',
                '#FFF',
                '#FFF',
              ],
              borderWidth: 5
              }]
          },
          options: {
            legend: { display: false },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
            cutoutPercentage: 80,
            tooltips:{
            enabled: 0,
              mode: 'nearest',
              displayColors: true, // 툴팁 바 컬러 표시 여부
              backgroundColor: '#FFF', // 툴팁 배경
              titleFontSize: 14,
              titleSpacing: 50,
              titleMarginBottom: 16,
              titleMarginLeft: 26,
              titleFontStyle: 'bold',
              titleFontColor: "#000",
              bodyFontColor: '#000', // 툴팁 폰트 관련
              bodyFontSize: 16,
              borderWidth:2,
              cornerRadius: 6,
              xPadding:12,
              yPadding:20,
              footerMarginTop:30,
              caretPadding:15,
              borderColor: 'rgba(163, 163, 163,1)',
              callbacks: {
                title: function(tooltipItem) {
                return this._data.labels[tooltipItem[0].index];
              },
            },
          },
        },
      });
      </script>
    </div> <!-- 차트부분 끝 -->

    <!-- 소비 영역 -->
    <div class="home-spand-div"> 
        <div class="home-spand-title">
            <a><strong>{{month}}월</strong> 소비</a>
            <b class="home-spand-dateView" id="date_view"></b>
        </div>

        <div class="home-spand-input">
            <a>지출 {{Expenditure.amount__sum|default_if_none:'0'|intcomma}}원</a>
        </div>

        <div class="home-spand-buttons">
            <div onclick="location.href='{% url 'calendars:history' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;" class="home-spand-button">소비 내역</div>
            <div onclick="location.href='{% url 'calendars:top5' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;"class="home-spand-button">소비 분석</div>
        </div>
    </div><!-- 소비 영역 끝 -->

    <!-- 주식 영역 -->
    <div class="home-stock-div">
        <div class="home-stock-title">
            <strong><a>주식</a></strong>
            <a class="home-spand-dateView" id="date_view2"></a>
        </div>

        <div class="home-stock-input">
            <a>{{total_investment_amount|default_if_none:'0'|intcomma}}원</a>
        </div>

        <div class="home-stock-input2">
            {{total_investment_amount|sub:user_total_investment_amount|intcomma}}원 ({{total_investment_amount|yields:user_total_investment_amount|floatformat:2}}%)</a>
        </div>


        <div class="home-stock-buttons">
           <div onclick="location.href='{% url 'calendars:history' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;" class="home-spand-button">소비 내역</div>
            <div onclick="location.href='{% url 'calendars:top5' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;"class="home-spand-button">소비 분석</div>
       </div>
    </div><!-- 주식 영역 끝 -->

    <!-- 총자산 영역 -->
    <div class="home-property-div">
      <div class="home-property-title">
        <strong><a>총 자산</a></strong>
        <a id="todayDateView" style="font-size:14px; float: right;"></a>
          <div class="home-property-contentsWrap" style="width:100%;padding-top:5px;">
            <div class="home-property-content">
              <strong><a>지출</a></strong><a>{{Expenditure.amount__sum|default_if_none:'0'|intcomma}}원</a>
            </div>

            <div class="home-property-content">
              <strong><a>수입</a></strong><a>{{income_sum_value|default_if_none:'0'|intcomma}}원</a>
            </div>

            <div class="home-property-content">
              <strong><a>투자</a></strong><a>{{total_investment_amount|default_if_none:'0'|intcomma}}원</a>
            </div>

            <div class="home-stock-buttons">
             <div onclick="location.href='{% url 'calendars:history' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;" class="home-spand-button">소비 내역</div>
            <div onclick="location.href='{% url 'calendars:top5' %}'" style="margin-left: 15px; white-space: nowrap; display: inline-block;line-height: 40px;"class="home-spand-button">소비 분석</div>
        </div>
          </div>
      </div>
    </div><!-- 총자산 영역 끝-->

</div><!-- 홈 wrap 끝 -->

<script>
  $(document).ready(function () {
    let date = new Date();
    let today = moment(date).format('MM.DD');
    const tmp = document.getElementById("todayDateView");
    tmp.innerHTML = today;
    console.log(today);

    
  });
</script>

{% endblock container %}
