{% extends 'login_base.html' %}
{% load socialaccount %}
{% block title %}레몬::로그인{% endblock title %}
{% block container %}
<style>
  body,html{
    padding: 0 !important;
    background-color: #F5F5F5 !important;
  }
  #container{
    padding-top:0 !important;
    padding-bottom:0 !important;
    background-color: #F5F5F5;
    height: calc(100%);
    margin : 0;
  }
	#nav,#footer{
    display : none;
	}
  img{
    width:100px;
    height: 110px;
  }
  .loader-main{
    display:none !important;
  }
  .logo{
    margin-left: 40px;
    float: left;
    object-fit: contain;
    width: 35px;
    height: 35px;
  }
    input:focus {outline: none;}
    select:focus {outline: none;}
    textarea:focus {outline: none;}
    input{
      -webkit-appearance: none
      -webkit-border-radius: 0;
    }
    select{
      -webkit-appearance: none
      -webkit-border-radius: 0;
    }
    textarea{
      -webkit-appearance: none
      -webkit-border-radius: 0;
    }
</style>

<div style="padding: 0 10px;">
{% if messages %}
	{% for message in messages %}
		{{ message.tags }}
		{{ message.message }}
	{% endfor %}
{% endif %}
  <div class="logo-wrap">
      <div class="logo-title" style="text-align:center;">
          <img id="lemonlogo" src="../../media/LEMON_LOGO_100x110.png"><br>
      </div>
  </div>

    <div id="loginwrap" class="login-wrap" style="padding-top:25px;">
      <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <div class="id-input-wrap">
            <input class="id-input" type="text" placeholder="아이디" name="username" id="uid">
        </div>
        <div class="pw-input-wrap">
            <input class="pw-input" type="password" placeholder="비밀번호" name="password" id="password">
        </div>
        <div class = "form_errors_view" style="padding-left:0px;">
          {% include "form_errors.html" %}
        </div>
        <button class="login-btn" type="submit">로그인</button>
      </form>

        <div style="text-align: center;display: flex;justify-content: space-between;font-size:13px;">
            <span><a href="find_id">아이디</a> / <a href="accounts/password_reset">비밀번호 찾기</a></span><a href="/signup"><span>회원가입</span></a>
        </div>
    </div>
</div>
    
    <div class="login-wrap2" style="width:100%; bottom:-20px; padding:0px 20px 20px 20px; margin-top:20px;">
        <button class="kakao-login-btn" onclick="location.href='{% provider_login_url 'kakao' %}'"><img class="logo" src="/media/kakao.png">카카오계정으로 로그인</button>
        <button class="naver-login-btn" onclick="location.href='{% provider_login_url 'naver' %}'"><img class="logo" src="/media/naverbtn1.png">네이버계정으로 로그인</button>
        <button class="google-login-btn" onclick="location.href='{% provider_login_url 'google' %}'"><img class="logo" src="/media/google.png">Google계정으로 로그인</button>
        {% comment %} <button class="apple-login-btn" onclick="location.href='{% provider_login_url 'google' %}'"><img class="logo" src="/media/apple.png">Apple계정으로 로그인</button> {% endcomment %}
    </div>

<script>
// Display 'none' if Apple Device
const mobile = (/iphone|ipad|ipod/i.test(navigator.userAgent.toLowerCase()));
if(mobile) {
    $('.login-wrap2').hide();
}
</script>
{% endblock container %}