{% load static %}
<style>
    @media screen and (max-width: 1023px) {
        .main_wrap2{
            display:none;
        }
    }
    @media screen and (min-width: 1024px) {
        .main_wrap{
            display:none;
        }
    }
    .titletxt{
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .sub-titletxt{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        font-size: 0.95rem;
        color: #666666;
    }
    #footer{
        display: none !important;
    }
    .download-btn, .login1-btn{
        font-family: 'Noto Sans KR', sans-serif;
        width: 150px;
        height: 35px;
        background-color: #fff;
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
    }
    a {
		color:#202020;
        text-decoration:none;
        text-decoration-line: none;
    }

    a:link, a:visited, a:hover, a:active {
		text-decoration:none;
        text-decoration-line: none;
        color:#202020;
    }
    .loader-main{
    display:none !important;
    }
</style>
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>레몬</title>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="레몬 - 가계부와 가상투자를 결합한 재테크 앱'"/>
        <meta property="og:site_name" content="레몬 - 가계부와 가상투자를 결합한 재테크 앱'"/>
        <meta property="og:url" content="http://www.lemon-bs.com"/>
        <meta name="description" content="레몬 - 가계부와 가상투자를 결합한 재테크 앱.">
        <meta property="og:image:width" content="700"/>
        <meta property="og:image:height" content="300"/>
        <link rel="icon" href="{% static 'main/assets/img/favicon-16x16.png'%}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'main/style.css'%}">
        <link rel="stylesheet" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css"/>
        <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
        <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
        <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-B4N4YHQJML"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B4N4YHQJML');
</script>

    </head>
    <body>
        <div id="app">
            <div class="logo">
                <a href="#page1"><img src="{% static 'main/assets/img/lemon_horizontal.png'%}" alt=""></a>
            </div>
            <full-page ref="fullpage" :options="options" id="fullpage">
                <div class="section">
                    <div id="s0" class="header background-bs">
                        <div class="container">
                            <div class="background_img" style="background-image: url(/media/1p_1.png);"></div>
                            <div class="row">
                                <div class="header-wrapper">
                                    <div class="hero-text-inner">
                                        <div class="hero-text">
                                        <div class="page_loge"><img class="main_logo" src="{% static 'main/assets/img/android-chrome-192x192.png'%}"></div>
                                         <h1>오늘의 당신을 신뢰하세요</h1>
                                            <div class="heroimg">
                                                <div class="hero-text-img" style="text-align:center;">
                                                    <a onclick="goto_market()"><img src="{% static 'main/assets/img/googleplay.png'%}" alt=""></a>
                                                    <a onclick="goto_store()"><img src="{% static 'main/assets/img/appstore.png'%}" alt=""></a>
                                                    <button onclick="location.href='/home'" style="position: absolute; top: 27%; right: 50%; background-color: transparent; border: transparent;"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="move_page">
                                  <a href="#page2"><i class="fas fa-angle-double-down" style="color:lightgrey;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div id="s1" class="header background-bs">
                        <div class="container">
                            <div class="row">
                                <div class="position-left">
                                    <div>
                                        <img src="/media/2p_1.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="position-right">
                                    <div>
                                        <img src="/media/2p_2.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="header_inner">
                                    <div class="hero-text-inner">
                                        <div class="hero-text" style="text-align:center;">
                                            <h4><span style="color:#4c8ae5;">(- And +) = </span>Positive Or Negative?</h4>
                                         <h3><span style="color:#4c8ae5;">소비</span>와 <span style="color:#4c8ae5;">투자</span>를 연계하다</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="move_page">
                                  <a href="#page3"><i class="fas fa-angle-double-down" style="color:lightgrey;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div id="s2" class="header background-bs">
                        <div class="container">
                            <div class="row">
                                <div class="position-left-text">
                                    <div class="hero-text-inner">
                                        <div class="hero-text-left">
                                         <h2>나의 소비는 오늘의 나!</h2>
                                         <h4><span style="color:8e8e8e !important;line-height: normal;">내 라이프를 기록해 보세요<br>
                                         나를 토대로 투자할 수 있어요</span></h4>
                                          <a href="#page4">  <img src="/media/3p_1.png" style="width: 30%;"></a>
                                        </div>

                                    </div>
                                </div>
                                <div class="position-right-solo">
                                    <div>
                                        <img src="/media/3p_2.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="move_page">
                                  <a href="#page4"><i class="fas fa-angle-double-down" style="color:lightgrey;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div id="s3" class="header background-bs">
                        <div class="container">
                            <div class="row">
                                <div class="position-left_1">
                                    <div>
                                        <img src="/media/4p_1.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="position-left_2">
                                    <div>
                                        <img src="/media/4p_2.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="position-right-text">
                                    <div class="hero-text-inner">
                                        <div class="hero-text">
                                         <h2>가상 투자를 시작해 보세요</h2>
                                         <h4><span style="color:8e8e8e !important;line-height: normal;">가상 자본을 설정하고<br>
                                         나와 밀접한 기업에 자유롭게 투자해보세요</span></h4>
                                          <a href="#page5">  <img src="/media/4p_3.png" style="width: 30%;"></a>
                                        </div>

                                    </div>
                                </div>
                                <div class="move_page">
                                  <a href="#page5"><i class="fas fa-angle-double-down" style="color:lightgrey;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div id="s4" class="header background-bs">
                        <div class="container">
                            <div class="row">
                                <div class="position-left-solo">
                                    <div>
                                        <img src="/media/5p_1.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="position-right-text">
                                    <div class="hero-text-inner">
                                        <div class="hero-text">
                                         <h2>자유롭고 가벼운 자산관리</h2>
                                         <h4><span style="color:8e8e8e !important;line-height: normal;">소비내역을 토대로 제공 받은 주식을<br>
                                          가상구매해 포트폴리오를 완성하세요</span></h4>
                                          <a href="#page6">  <img src="/media/5p_2.png" style="width: 30%;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="move_page">
                                  <a href="#page6"><i class="fas fa-angle-double-down" style="color:lightgrey;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="section">
                    <div id="s5" class="header background-bs">
                        <div class="container">
                            <div class="row">
                                <div class="position-left_1">
                                    <div>
                                        <img src="/media/6p_1.png" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="position-left_2">
                                    <div>
                                 <img src="/media/6p_2.png" style="width: 40%;">
                                    </div>
                                </div>
                                 <div class="position-right-text">
                                    <div class="hero-text-inner">
                                        <div class="hero-text">
                                         <h2>다양한 기업 소개</h2>
                                         <h4><span style="color:8e8e8e !important;line-height: normal;">머신러닝을 활용하여 여러분의 포트폴리오를 분석하고<br>
                                          포스닥, 나스닥의 구분 없이 예상 밖 다양한 주식을 추천합니다</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="move_page">
                                  <a href="#page7"><i class="fas fa-angle-double-down" style="color:lightgrey;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div id="s6" class="header background-bs">
                        <div class="container">
                            <div class="row">
                                         <div class="position-center-text" style="top:75%">
                                    <div class="hero-text-inner">
                                        <div class="hero-text" style="text-align:center;">
                                         <h2>레몬을 시작해보세요</h2>
                                         <h4><span style="color:8e8e8e !important;line-height: normal;">여러분의 현명했던 오늘의 소비<br>
                                          내일도 모레도 계속 유효할 수 있도록, 레몬을 시작해보세요</span></h4>
                                             <a href="#page1"><img src="/media/7p_2.png" style="width: 40%;"></a>
                                        </div>
                                    </div>
                                </div>
                                        <div class="position-center" style="top:40%">
                                            <div>
                                        <img src="/media/7p_1.png" style="width: 60%;">
                                    </div>
                                            </div>
                                </div>
<!--                            <div class="move_page">-->
<!--                                  <a href="#page1"><img src="/media/7p_2.png" style="width: 40%;"></a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
<!--                <div class="section">-->
<!--                    <div id="s7" class="header background-bs">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                        <div class="position-center">-->
<!--                                                <h2>-->
<!--                                                    <strong>(주)바숲텐서</strong>-->
<!--                                                </h2>-->
<!--                                                <h5>대표자 : 김선희-->
<!--                                                    <br>-->
<!--                                                    주소 : 광주광역시 서구 천변좌로 318, 3층-->
<!--                                                    <br>-->
<!--                                                    대표메일 : basoup.t@gmail.com-->
<!--                                                    <br>-->
<!--                                                    사업자번호 : 883-87-02312-->
<!--                                                    <br>-->
<!--                                                    <strong>Copyright @BasoupTensor Corp. All Rights Reserved</strong>-->
<!--                                                </h5>-->
<!--                                            <div class="heroimg1">-->
<!--                                                <div class="hero-text-img1">-->
<!--                                                        <a href="https://play.google.com/store/apps/details?id=kr.co.mycampus.android" target="blank"><img src="{% static 'main/assets/img/googleplay.png'%}" alt=""></a>-->
<!--                                                        <a href="https://apps.apple.com/app/id1533306020" target="blank"><img src="{% static 'main/assets/img/appstore.png'%}" alt=""></a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </full-page>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
            <script src="{% static 'main/assets/js/vue-fullpage.min.js'%}"></script>
            <script src="{% static 'main/index.js'%}"></script>
    <script>
        function goto_market() {
        setTimeout(function () {
            location.href = "https://play.google.com/store/apps/details?id=com.lemonbs.android";
        }, 0);
    }
    function goto_store() {
        setTimeout(function () {
            location.href = "https://itunes.apple.com/app/id1605531480";
        }, 0);
    }
    </script>
    </body>
    </html>
<style>
        .swiper-pagination-bullet-active {
        background:white;
        }
    </style>