<h1>문의작성</h1>
<form method="POST">
  {% csrf_token %}
  <input type="text" style="display: none;" readonly name="user" value="{{user.user_id}}"/>
  문의 유형: 
  <select name="category">
    <option type="" >--- 문의 유형 ---</option>
    <option value="1">결제</option>
    <option value="2">계정</option>
    <option value="3">샘플</option>
    <option value="4">등등</option>
  </select>
  <br>
  제목: <input type="text" name="title" value="{{ form.title.value|default_if_none:'' }}"><br>
  내용: <textarea name="content" value="{{ form.content.value|default_if_none:'' }}"></textarea><br>
  <input type="file" name="file" value="{{ form.file.value|default_if_none:'' }}"><br>
  <button type="submit">등록하기</button>
  <a href="/qna/list">문의내역</a>
</form>