<h1>나의 문의내역</h1>
  {% for list in qna_list %}
    <div style="border: 1px solid black">

      {% if list.status == 0 %}
        <div>답변전</div>
      {% elif list.status == 1 %}
        <div>답변완료</div>
      {% endif %}

      <div>제목: {{ list.title }}</div>
      <div>시간: {{ list.qna_date }}</div>
      <div>내용: {{ list.content }}</div>

      {% if list.status == 0 %}
        <div>답변전</div>
      {% elif list.status == 1 %}
        <div>답변완료</div>
        <div>답변: {{list.reply}}</div>
      {% endif %}

    </div>
    <br>
  {% endfor %}
<a href="/qna/write">문의하기</a>