{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::추천{% endblock title %}
{% block container %}

<style>
  /* FOOTER에서 사용하는 CSS */
  .bottom-nav-calendar{
    color: #FFD859 !important;
  }

  .bottom-nav-calendar a{
    color: #FFD859 !important;
  }

  .bottom-nav-search-stock a,.bottom-nav-home a,
  .bottom-nav-stock a,.bottom-nav-addlist a,
  .bottom-nav-myinfo a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #D1D6DA !important;
  }
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  .pagenation{
    background-color: #f5f5f5;
    z-index: 10;
    padding:0;
    bottom: 70px;
    left: 28px;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
  }
  .pagenation li{
    padding-top:2px;
    height:30px;
    font-weight: 500;
    border-radius: 20px;
    width : 24%;
    display:inline-block;
  }

  #pagenation_recom{
    background-color: #4C8AE5;
  }
  #pagenation_recom a{
    color: #fff;
  }
  #pagenation_summary a, #pagenation_list a, #pagenation_calendar a{
    color: #adadad;
  }

  #pagenation_recom{
    display: none;
  }
</style>


<!--- 추천 SWIPER div영역 시작 --->
<div id="recom" class="swiper-slide" data-name="추천" data-hash="recom">
  <div class="recom-empty-wrap">
    <i class="fas fa-exclamation"></i><br>
    <a>추천페이지는 사용자의 소비패턴에 맞춰 <br>서비스를 제공하는 페이지입니다.<br></a>
    <a>가입 한달 이후부터 이용하실수 있습니다.</a>
  </div>
</div>

<!-- pagenatino -->
<div class="pagenation">
  <ul>
    <li id="pagenation_recom"><a href="{% url 'calendars:recom' %}">추천</a></li>
    <li id="pagenation_summary"><a href="{% url 'calendars:summary' %}">요약</a></li>
    <li id="pagenation_list"><a href="{% url 'calendars:history' %}">내역</a></li>
    <li id="pagenation_calendar"><a href="{% url 'calendars:top5' %}">TOP 5</a></li>
  </ul>
</div>
<!--- 추천 div영역 끝 --->
<script>
  var myElement = document.getElementById('container');

  // create a simple instance
  // by default, it only adds horizontal recognizers
  var mc = new Hammer(myElement);

  // listen to events...
  mc.on("swipeleft", function(ev) {
      window.location.href="/summary";
  });

  mc.on("swiperight", function(ev) {
    console.log('swiperight!');
});
</script>
{% endblock container %}
