{% extends 'base.html' %}
{% load humanize %}
{% block title %}레몬::회원 정보 변경{% endblock title %}
{% block container %}
<style>
  #footer{
    display:none;
  }
  select{
    border:none;
    margin-top:10px;
    border-bottom:1px solid #ebebeb;
    width:100%;
    display:inline-block;
    text-align:left;
    background-color:white;
  }

  input{
    border:none;
    width:100%;
    display:inline-block;
    border-bottom:1px solid #ebebeb;
    background-color:white;
    margin-top:10px;
  }
  .footer-line-myinfo{
    /* 하단바 선택시 밑줄 */
    width: 50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
  .loader-main{
    bottom:0px !important;
    }
  .changePhone-btn{
    border: 0;
    border-radius: 10px;
    background-color:#93bcf9;
    height: 35px;
    width: 80px;
    color: #fff;
    float: right;
  }
</style>
{% block nav %}
<!-- 상단바 영역 시작 -->
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
        <div style="text-align:center;">
          <a style="color: #fff;" href="{% url 'accounts:myinfo' %}">
            <i class="fa fa-angle-left"></i>
          </a>회원 정보 변경
        </div>
    </div>
  </div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}


<div class="editInfo-wrap">
  <form action="" method="POST">
  {% csrf_token %}
    <!-- ID 부분 영역 -->
      <div class="input_design">
        <div class="input_title">ID</div>
        <input type="text" value="{{ user.uid }}" disabled>
      </div>

    <!-- 이름 부분 영역 -->
      <div class="input_design">
        <div class="input_title">이름</div>
        <input name="username" type="text" value="{{ user.username }}">
      </div>

    <!-- 성별 부분 영역 -->
      <div class="input_design">
        <div class="input_title">성별</div>
          <select id="gender" name="gender">
            <option value="0" {% if user.gender == '0' %} selected {% endif %}>--성별을 선택해주세요--</option>
            <option value="M" {% if user.gender == 'M' %} selected {% endif %}>남</option>
            <option value="F" {% if user.gender == 'F' %} selected {% endif %}>여</option>
          </select>
      </div>

    <!-- 직업 부분 영역 -->
      <div class="input_design">
      <div class="input_title">직업</div>
        <select id="job" name="job">
          <option value="0" {% if user.job == 0 %} selected {% endif %}>--직업을 선택해주세요--</option>
          <option value="1" {% if user.job == 1 %} selected {% endif %}>학생</option>
          <option value="2" {% if user.job == 2 %} selected {% endif %}>직장인</option>
          <option value="3" {% if user.job == 3 %} selected {% endif %}>사업자</option>
          <option value="4" {% if user.job == 4 %} selected {% endif %}>공무원</option>
          <option value="5" {% if user.job == 5 %} selected {% endif %}>기타(프리랜서)</option>
          <option value="6" {% if user.job == 6 %} selected {% endif %}>무직</option>
        </select>
      </div>

    <!-- 생년월일 부분 영역 -->
      <div class="input_design">
        <div class="input_title">생년월일</div>
          <input style="text-align: left;color:grey" name="birthday" type="date" value="{{user.birthday|date:'Y-m-d'}}"/>
      </div>

    <!-- 연락처 부분 영역 -->
      <div class="input_design" style="width:100%;">
        <div class="input_title">연락처</div>
          <input style="width:75%;" type="text" id="phonenumber" value="{{ user.phonenumber|default:'연락처를 등록해주세요.'}}" disabled name="phonenumber"> <button type="button" onclick="phonechange();" class="changePhone-btn">변경</button>
      </div>
    <div style="text-align:center;margin-top:35px;position:absolute;bottom:15px;width:100%;left:0px;"><button class="changeInfo-btn" type="submit">정보 수정</button></div>
  </form>
</div>

<script>
  function phonechange() {
    location.href='update/changephone';
  }
</script>
{% endblock %}
