{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::FAQ{% endblock title %}
{% block container %}
<style>
  #container, body {
    background-color: #fff;
  }
  .footer-line-myinfo{
    /* 하단바 선택시 밑줄 */
    width: 50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
</style>
{% block nav %}
<!-- 상단바 영역 시작 -->
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
        <div style="text-align:center;">
          <a style="color: #fff;" href="{% url 'accounts:myinfo' %}">
            <i class="fa fa-angle-left"></i>
          </a>FAQ
        </div>
    </div>
  </div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

<!-- FQA 영역 시작 -->
  <div class="notice-wrap">
    {% for faq in faqs %}
      <div class="notice-contents" onclick="location.href='{% url 'admins:faq_detail' faq.faq_id %}'">
        <div>
          <a class="notice-title">{{ faq.title }}</a>
          <i style="margin-top:10px; float: right;" class="fas fa-chevron-right"></i>
        </div>
        <div>
          {% if faq.category == 1 %}
            <a class="notice-date">운영정책</a>
          {% elif faq.category == 2 %}
            <a class="notice-date">계정/인증</a>
          {% elif faq.category == 3 %}
            <a class="notice-date">이벤트</a>
          {% elif faq.category == 4 %}
            <a class="notice-date">이용 제재</a>
          {% elif faq.category == 5 %}
            <a class="notice-date">기타</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- FQA 영역 끝 -->
{% endblock %}