{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::FAQ{% endblock title %}
{% block container %}
<style>
  #container, body{
    background-color: #fff;
  }
  .footer-line-myinfo{
    /* 하단바 선택시 밑줄 */
    width: 50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
</style>
{% block nav %}
<!-- 상단바 영역 시작 -->
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
        <div style="text-align:center;">
          <a style="color: #fff;" href="javascript:history.back();">
            <i class="fa fa-angle-left"></i>
          </a>FAQ 상세
        </div>
    </div>
  </div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

<!-- FAQ 영역 시작 -->
  <div class="notice-detail-wrap">
    <div class="notice-detail-titlewrap">
      <a class="notice-detail-title">{{ faq.title }}</a><br>
      <div>
        {% if faq.category == 1 %}
          <a class="notice-detail-date">운영정책</a>
        {% elif faq.category == 2 %}
          <a class="notice-detail-date">계정/인증</a>
        {% elif faq.category == 3 %}
          <a class="notice-detail-date">이벤트</a>
        {% elif faq.category == 4 %}
          <a class="notice-detail-date">이용 제재</a>
        {% elif faq.category == 5 %}
          <a class="notice-detail-date">기타</a>
        {% endif %}
      </div>
    </div>
    <div class="notice-detail-content">
      {{ faq.content|safe }}
    </div>
  </div>
<!-- FAQ 영역 끝 -->
{% endblock %}