{% extends 'login_base.html' %}
{% block title %}레몬::정보변경{% endblock title %}
{% block container %}
<style>
  #footer {
    display: none;
  }

  .loader-main{
    bottom:0px !important;
  }

  .footer-line-myinfo{
    /* 하단바 선택시 밑줄 */
    width: 50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #fff;
  }

  .pin-change input {
  border: none;
  text-align: center;
  width: 48px;
  height:48px;
  font-size: 20px;
  background-color: #F3F3F3;
  margin-right:5px;
  padding-bottom: 10px;
  }

.pin-change input:focus {
  border: 1px solid #573D8B;
  outline:none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

</style>

{% block nav %}
<!-- 상단바 영역 시작 -->
<div id="nav" style="border-bottom: 1px solid #f1f1f1;">
  <div>
    <div style="text-align:center;">
      <a style="color: #fff;" href="{% url 'accounts:myinfo' %}">
        <i class="fa fa-angle-left"></i>
      </a>Pin 번호 변경
    </div>
  </div>
</div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

  <form action="" method="POST" id="pin_saver">
    {% csrf_token %}
    <div class="pin-wrap" style="padding-top:130px;flex-direction: column;">
        <div id="pw_container">
<ul id="password">
  <li class="pas1" id="pin_5"></li>
  <li class="pas2" id="pin_6"></li>
  <li class="pas3" id="pin_7"></li>
  <li class="pas4" id="pin_8"></li>
</ul>
  </div>
<div id="numbers">
  <div class="li li1"><p>1</p></div>
  <div class="li li2"><p>2</p></div>
  <div class="li li3"><p>3</p></div>
  <div class="li li4"><p>4</p></div>
  <div class="li li5"><p>5</p></div>
  <div class="li li6"><p>6</p></div>
  <div class="li li7"><p>7</p></div>
  <div class="li li8"><p>8</p></div>
  <div class="li li9"><p>9</p></div>
  <div class="li10"><p><i class="fas fa-backspace"></i></p></div>
  <div class="li li11"><p>0</p></div>
</div>

    </div>
      <input type="hidden" id="pin_change" name="pin">
    <div class="pin-btn-wrap">
      <button class="pin-btn" type="button" onclick="check()">Pin 번호 변경</button>
    </div>
  </form>
  <script>
  function check(){
    var pin = passwordList[0].innerHTML + passwordList[1].innerHTML + passwordList[2].innerHTML +  passwordList[3].innerHTML;
    if ( pin == ''){
      alert('핀번호를 입력 부탁드립니다.');
      return false;
    }
    if (!pin.match(/^[0-9]{4}$/)) {
       alert('Pin 번호 4자리를 입력해주세요.');
       return false;
    }
    else{
    $('#pin_change').val(pin);
    alert('핀번호가 변경되었습니다.');
    const form = document.getElementById('pin_saver');
    form.submit();
    }
  }

let password = document.querySelector("#password");
let passwordList = document.querySelectorAll("#password li");
let pas1 = document.querySelector(".pas1");
let pas2 = document.querySelector(".pas2");
let pas3 = document.querySelector(".pas3");
let pas4 = document.querySelector(".pas4");
let numbers = document.querySelector("#numbers");
let numberList = document.querySelectorAll(".li");
let li1 = document.querySelector(".li1");
let li2 = document.querySelector(".li2");
let li3 = document.querySelector(".li3");
let li4 = document.querySelector(".li4");
let li5 = document.querySelector(".li5");
let li6 = document.querySelector(".li6");
let li7 = document.querySelector(".li7");
let li8 = document.querySelector(".li8");
let li9 = document.querySelector(".li9");
let li0 = document.querySelector(".li11");
let backspace = document.querySelector(".li10");

let click1 = false;
let click2 = false;
let click3 = false;
let click4 = false;

let errorCount = 0;

numberList.forEach(function(elem) {
  elem.addEventListener("click", function() {
    moveClick(elem.children[0].innerHTML);
  });
});

function moveClick(parm){
  if (click1 == false){
    click1 = true;
    passwordList[0].innerHTML = parm;
  } else if (click2 == false){
    click2 = true;
    passwordList[1].innerHTML = parm;
  } else if (click3 == false){
    click3 = true;
    passwordList[2].innerHTML = parm;
  } else if (click4 == false){
    click4 = true;
    passwordList[3].innerHTML = parm;

  };
};

backspace.addEventListener("click", backspaceFunc);

function backspaceFunc(){
  console.log("delete");
  password.style.backgroundColor = "inherit";
    password.style.color = "inherit";
  if (click4 == true){
    click4 = false;
    passwordList[3].innerHTML = "";
  } else if (click3 == true){
    click3 = false;
    passwordList[2].innerHTML = "";
  } else if (click2 == true){
    click2 = false;
    passwordList[1].innerHTML = "";
  } else if (click1 == true){
    click1 = false;
    passwordList[0].innerHTML = "";
  };
}
</script>
<style>
#retry {
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            padding: 20px;
            background-color: yellow;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            display: none;
        }

h1 {
  text-align: center;
  margin-top: 20px;
}

#pw_container {
  width: 50%;
  margin: 0 auto;
}

#password {
  list-style: none;
  border: 2px grey solid;
  height: 40px;
  padding-left: 0;
  text-align: center;
  border-radius:10px;
}

#password li {
  display: inline-block;
  font-size: 25px;
}

#numbers {
  display: grid;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1px 1px;
}

#numbers .li, .li10, .li12 {
  margin: 0 auto;
  border-radius: 90%;
  background-color: #e4e4e4;
  width: 90%;
  height: 90%;
  cursor: pointer;
}

#numbers .li p, .li10 p, .li12 p {
  text-align: center;
  font-size: 30px;
  margin-top: 22px;
}

#numbers .li:hover, .li10:hover, .li12:hover  {
  background-color: #cccccc;
}

#numbers .li:active, .li10:active, .li12:active {
  background-color: grey;
}
</style>
{% endblock %}