<style>
  .loader-main{
  bottom:0px !important;
  }
</style>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}레몬::가상투자 금액 설정{% endblock title %}
{% block container %}
<style>
  #footer{
  display:none;
  }

  h1{
    color: #FFF;
  }

  .loader-main{
    bottom:0px !important;
  }

  input{
    border-radius:10px;
    margin-top:30px;
    padding:10px;
    width:80%;
    border:1px solid #93bcf9;
    text-align:center;
  }
  
  .footer-line-myinfo{
    /* 하단바 선택시 밑줄 */
    width: 50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
</style>

{% block nav %}
<!-- 상단바 영역 시작 -->
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
      <div style="text-align:center;">
        <a style="color: #fff;" href="javascript:history.back();">
          <i class="fa fa-angle-left"></i>
        </a>가상투자 금액 추가
      </div>
    </div>
  </div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

<!-- 가상투자 영역 시작 -->
<div class="invest-wrap">
  <form action="" method="POST">
  {% csrf_token %}
  {% if user.invest %}
  <div class="invest-setup"> <!-- invest-setup div 시작 -->
    <h1>가상투자 금액 추가</h1>
      <div class="setup-content"> <!-- setup-content div 시작 -->
        <div class="setup-content-row1"> <!-- setup-content-row1 div 시작 -->
          <div class="setup-content-row1-1">기존 투자 금액</div>
          {{ user.invest|intcomma }} 원
        </div> <!-- setup-content-row1 div 끝 -->
    
        <div class="setup-content-row2"> <!-- setup-content-row2 div 시작 -->
          <div class="setup-content-row2-1">설정 날짜</div>
          {{ user.invest_date|date:"Y-m-d" }}
        </div> <!-- setup-content-row2 div 끝 -->
        
      
        <div class="setup-content-row3"> <!-- setup-content-row3 div 시작 -->
          <div class="setup-content-row3-1">변경 가능 날짜</div>
          {{can_date|date:"Y-m-d"}}
        </div> <!-- setup-content-row3 div 끝 -->
    
    <div>
      {% if can_date|date:"Y-m-d" <= now_date|date:"Y-m-d" %}
      <input class="invest" type="text" name="invest" value="" required>
      {% else %}
      <input class="invest" type="text" name="invest" value="{{ user.invest|intcomma }}" disabled>
      {% endif %}
    </div>
    </div><!-- setup-content div 끝 -->
  </div><!-- invest-setup div 끝 -->
  {% else %}
  <div class="setup">
    <h1>가상투자 금액 설정</h1>
      <div>
        <input class="setup-invest invest" type="text" name="invest" required>
      </div>
  </div>
  {% endif %}

    <div class="changeinvest-wrap">
      {% if can_date|date:"Y-m-d" <= now_date|date:"Y-m-d" %}
      <div class="changeinvest_btn" onclick="submit()">추가</div>
        {% else %}
        <div class="changeinvest_btn" onclick="alert('30일 동안 변경을 하실수 없습니다.')">추가</div>
        {% endif %}
    </div>
  </form>
</div>
<!-- 가상투자 영역 끝 -->
<script>
  function submit(){
  var input_money = $('.invest').val();
  $.ajax({
                type: "POST",
                url: "{% url 'admins:edit_invest' %}",
                data: {
                    input_money: input_money,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function(data){
                    console.log('성공');
                    var here = window.location.href;
                        location.replace(here);
                },
                fail: function(data) {
                    console('실패');
                },
            });
  }

</script>
{% endblock %}