{% extends 'base.html' %}
{% block title %}레몬::모의주식{% endblock title %}
{% block container %}
{% load humanize %}
<style>
    .bottom-nav-myinfo,.bottom-nav-myinfo a{
        color: #FFD859;
    }
    .profile-wrap{
      margin: 20px;
    }
    .menu1-wrap{
        margin-bottom: 1.5rem;
        padding: 20px;
        padding-top:0px;
    }
    .title{
    font-weight:bold;
    font-size: 22px;
    padding-bottom:5px;
    }
    .last_login{
    color:#2b2b2b;
    font-size:14px;
    }
    .menu1-wrap li{
    padding-bottom:20px;
        display: flex;
    justify-content: space-between;
    }
    .menu1-wrap a{
    color:#2b2b2b;
    text-weight:bold;
        width: 100%;
    }
    .invest{
    background-color:#31bc8a;
    border-radius:10px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:white;
    font-weight:bold;
    }
    .invest_money{
    background-color:white;
    border-radius:10px;
    padding:10px;
    display:inline-block;
        width: 50%;
    text-align: right
    }
    .order{
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    padding-left: 10px;
    }
.footer-line-myinfo{
    width:50px;
    padding: 12px 0 10px 0;
    border-bottom: 2px solid #FFF;
    }
</style>
<div class="profile-wrap">
    {% if user.is_authenticated %}
    <div class="title">{{user.uid}}</div>
    <div class="last_login">{{user.last_login|date:"M d일 D H:i"}} 마지막 접속</div>
    {% endif %}

</div>
<div class="profile-wrap invest">
    {% if user.invest == 0 or user.invest == NULL %}
    <a style="padding-right:5px;">보유 가상 자산</a>
    <div class="invest_money"><a href="{% url 'admins:edit_invest' %}">가상자산을 설정해주세요.</a></div>
    {% else %}
    <a style="padding-right:5px;">보유 가상 자산</a>
    <div class="invest_money"><span style="color:black;">{{ user.invest|default_if_none:'0'|intcomma }}원</span>
    </div>
    {% endif %}
</div>
    <div class="menu1-wrap">
        <div style="list-style: none;">
            <li>
                <a href="{% url 'admins:notice' %}">
                    <i class="fas fa-bullhorn" style="padding-right:5px;"></i><div class="order">
                        <div>공지사항</div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:edit_invest' %}">
                    <i class="fas fa-wallet" style="padding-right:5px;"></i><div class="order">
                        <div>가상투자 금액 설정</div>
                        <i  class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </li>
            <li><a href="{% url 'admins:qna' %}">
                  <i class="fas fa-envelope-open" style="padding-right:5px;"></i><div class="order">
                      <div>문의하기</div>
                      <i class="fas fa-chevron-right"></i>
              </div>
            </a>
            </li>
            <li>
                <a href="{% url 'admins:edit_myinfo' %}">
                   <i class="fas fa-user-alt" style="padding-right:5px;"></i><div class="order">
                    <div>회원 정보 변경</div>
                    <i class="fas fa-chevron-right"></i>
                </div>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:input_pin' %}">
                      <i class="fas fa-unlock-alt" style="padding-right:5px;"></i><div class="order">
                    <div>pin 번호 변경</div>
                    <i class="fas fa-chevron-right"></i>
                      </div>
                </a>
            </li>
            <li>
                <a style="color: #FF4444;" href="{% url 'accounts:logout' %}">
                      <i class="fas fa-sign-out-alt" style="padding-right:5px;"></i><div class="order">
                    <div>로그아웃</div>
                    <i class="fas fa-chevron-right"></i>
                </div>
                </a>
            </li>
            <li><a style="color: #FF4444;" onclick="ask_out()">
                <i class="fas fa-sign-out-alt" style="padding-right:5px;"></i><div class="order"><div>회원 탈퇴</div><i
                    class="fas fa-chevron-right"></i></div></a></li>
        </div>
    </div>
</div>
<script>
        function ask_out(){
        if (confirm('정말로 탈퇴하시겠습니까?') == true){
        window.location.href = "{% url 'admins:user_delete' user.user_id %}";
        } else {
        return;
        }
        }
</script>
<script>
$(document).ready(function(){
    $('.footer-selector').fadeIn(550);
});
</script>
<!--    {% if message %}-->
<!--    <script>alert('{{ message }}');</script>-->
<!--    {% endif %}-->
    {% endblock %}