{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::공지사항{% endblock title %}
{% block container %}

<style>
  #container, body{
    background-color: #fff;
  }


  .footer-line-myinfo{
    width:50px;
    padding: 7px 0 5px 0;
    border-bottom: 2px solid #93bcf9;
  }
</style>

{% block nav %}
<!-- 상단바 영역 시작 -->
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
        <div style="text-align:center;">
          <a style="color: #fff;" href="{% url 'accounts:myinfo' %}">
            <i class="fa fa-angle-left"></i>
          </a>공지사항
        </div>
    </div>
  </div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

  <div class="notice-wrap">
    <!-- 공지사항 영역 시작 -->
    {% for notice in notices %}
    <div class="notice-contents" onclick="location.href='{% url 'admins:notice_detail' notice.notice_id %}'">
      <div>
        <a class="notice-title">{{ notice.title }}</a>
        <i style="margin-top:10px; float: right;" class="fas fa-chevron-right"></i>
      </div>
      <div>
        <a class="notice-date">{{ notice.date | date:'Y.m.d' }}</a>
      </div>
    </div>
    {% endfor %}
    <!-- 공지사항 영역 끝 -->
  </div>
{% endblock %}