{% extends 'base.html' %}
{% load static %}
{% block title %}레몬::공지사항 상세{% endblock title %}
{% block container %}
<style>
  .footer-line-myinfo{
    /* 하단바 선택시 밑줄 */
    width: 50px;
    padding: 7px 0 5px 0;
        border-bottom: 2px solid #93bcf9;
  }
  
  #container, body{
    background-color: #fff;
  }
  .notice-detail-content img{
    width:100% !important;
    height:100% !important;
    object-fit: contain !important;
  }
</style>
{% block nav %}
<!-- 상단바 영역 시작 -->
  <div id="nav" style="border-bottom: 1px solid #f1f1f1;">
    <div>
        <div style="text-align:center;">
          <a style="color: #fff;" href="javascript:history.back();">
            <i class="fa fa-angle-left"></i>
          </a>공지사항 상세
        </div>
    </div>
  </div>
<!-- 상단바 영역 끝 -->
{% endblock nav %}

  <!-- 공지사항 상세 영역 시작 -->
  <div class="notice-detail-wrap">
    <div class="notice-detail-titlewrap">
      <a class="notice-detail-title">{{ notice.title }}</a><br>
      <a class="notice-detail-date">{{ notice.date | date:'Y.m.d' }}</a>
    </div>

    <div class="notice-detail-content">
      {{ notice.content|safe }}
    </div>
  </div>
  <!-- 공지사항 상세 영역 끝 -->



{% endblock %}