{% extends 'base.html' %}
{% block title %}레몬::문의하기{% endblock title %}
{% block container %}
<style>
  .chatLogoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
  }
  .chatBtnCont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chatBtn {
    width: 70%;
    border: 0;
    font-size: 13px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: black;
    background-color: #F7E600;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .chatBtnCont a {
    background-color: rgba(128, 128, 128, 0.637);
  }
.footer-line-myinfo{
    width:50px;
    padding: 12px 0 10px 0;
    border-bottom: 2px solid #FFF;
    }
</style>
<body>
<div id="nav" style="border-bottom: 1px solid #f1f1f1;">
            <div>
            <div style="text-align:center;">
                <a style="color: #fff;" href="javascript:history.back();"><i class="fa fa-angle-left" style="position: absolute;
    left: 5px;
    padding: 14px 15px;
    top: 0;
    font-size: 25px;
    font-weight: 600;color:black;"></i></a>문의하기</div>
        </div>
        </div>
  <div class="chatLogoCont">
    <img src="media/LEMON.png">
    <p>
      대충 카카오톡채널을 이용해서 상담하라는 내용
    </p>
  </div>
  <div class="chatBtnCont">
    <div class="chatBtn" id="kakaoChatBtn">카카오톡 상담하기</div>
    <a href="/myinfo" class="chatBtn">뒤로가기</a>
  </div>
</body>
<script>
  document.querySelector("#kakaoChatBtn").addEventListener("click", kakaoChat);

  function kakaoChat() {
    Kakao.Channel.chat({
      channelPublicId: '_xhxeIXb'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://developers.kakao.com/sdk/js/kakao.channel.min.js';
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'kakao-js-sdk');
</script>

{% endblock %}