<script>
  function fn_readSMS() {
      var startDate = '2022.01.13 00:00'
      var endDate = '2022.01.17 24:00'
      window.AndroidBridge.readSMS(startDate, endDate);
  }

  function fn_receiveSMSRead(resultSMS) {
      var result_text = document.getElementById('search_result');
      result_text.append(resultSMS);
  }

  function fn_receiveSMSReadComplete() {
      var result_text = document.getElementById('search_result');
      result_text.append('finish');
  }

  function fn_receiveSMS(resultSMS) {
      var result_text = document.getElementById('search_result');
      result_text.innerHTML = resultSMS;
  }
</script>
<button onclick="fn_readSMS()">SMS읽어오기</button>
<div id="search_result"></div>